<template>
  <div class="wrapper">
    <header-component></header-component>
    <div class="container">
      <AmBreadcrumbs :showCurrentCrumb="true" class="breadcrubs_halyk" />
    </div>

    <section class="company">
      <div class="container">
        <h1
          class="company__title title anim-items anim-show anim-no-hide _active"
        >
          {{$t("about_company")}}
        </h1>
        <div class="company__wrapper anim-items anim-no-hide _active">
          <div class="company__info">
            <p class="company__text text anim-show">
              {{$t("about_us.history_first")}} <br />
              <br />
              {{$t("about_us.history_second")}} <br />
              <br />
              {{$t("about_us.history_third")}}
            </p>

            <div
              v-show="sizeScreen !== 'mobile'"
              class="our-mission anim-show anim-with-delay"
            >
              <div class="our-mission__title">{{$t("mission.name")}}</div>
              <p class="our-mission__text">
                {{$t("mission.text")}}
              </p>
            </div>
          </div>

          <!-- Мобильная верстка-->

          <div class="company__row" v-show="sizeScreen === 'mobile'">
            <div class="our-mission anim-show anim-with-delay">
              <div class="our-mission__title">{{$t("mission.name")}}</div>
              <p class="our-mission__text">
                {{$t("mission.text")}}
              </p>
            </div>
            <div class="company__image anim-show">
              <img
                src="@/images/company01.jpg"
                alt=""
                class="dp-block adaptive-img"
              />
            </div>
          </div>

          <!-- Мобильная верстка КОНЕЦ-->

          <div
            v-show="sizeScreen !== 'mobile'"
            class="company__image anim-show"
          >
            <img
              src="@/images/company01.jpg"
              alt=""
              class="dp-block adaptive-img"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="sale">
      <div class="container">
        <div class="sale__title title-smll">{{$t("we_sell.name")}}</div>
        <div class="sale__item">
          <div class="sale__item-content">
            <div class="sale__item-title subtitle">{{$t('resident_objects.name')}}</div>
            <p class="sale__item-text">
              {{$t("we_sell.text1")}} <br />
              <br />
              {{$t("we_sell.text2")}} <br />
              <br />
              {{$t("we_sell.text3")}}
              <a class="link-underline"
                 @click="$router.push({ name: 'privat' })"
                >{{$t("we_sell.text4")}}</a
              >
            </p>
          </div>

          <div class="slider-slick">
            <Carousel :autoplay="2000" :wrap-around="true">
              <Slide :key="0">
                <div class="carousel__item">
                  <img
                    src="@/images/sale_gk1.jpg"
                    alt=""
                    class="dp-block adaptive-img"
                  />
                </div>
              </Slide>
              <Slide :key="1">
                <div class="carousel__item">
                  <img
                      src="@/images/sale_gk2.jpg"
                      alt=""
                      class="dp-block adaptive-img"
                  />
                </div>
              </Slide>
              <Slide :key="2">
                <div class="carousel__item">
                  <img
                      src="@/images/sale_gk3.jpg"
                      alt=""
                      class="dp-block adaptive-img"
                  />
                </div>
              </Slide>
            </Carousel>
            <!-- <slider-component :fullPath="'/img/'" :item="sliderInfo" /> -->
          </div>
        </div>
        <div class="sale__item anim-items anim-no-hide _active">
          <div>
            <Carousel :autoplay="2800" :wrap-around="true">
              <Slide :key="0">
                <div class="carousel__item">
                  <img
                    src="@/images/sale_km1.jpg"
                    alt=""
                    class="dp-block adaptive-img"
                  />
                </div>
              </Slide>
              <Slide :key="1">
                <div class="carousel__item">
                  <img
                      src="@/images/sale_km2.jpg"
                      alt=""
                      class="dp-block adaptive-img"
                  />
                </div>
              </Slide>
              <Slide :key="2">
                <div class="carousel__item">
                  <img
                      src="@/images/sale_km3.jpg"
                      alt=""
                      class="dp-block adaptive-img"
                  />
                </div>
              </Slide>
            </Carousel>
          </div>
          <div class="sale__item-content anim-show">
            <div class="sale__item-title subtitle">{{$t("commercial_objects.name")}}</div>
            <p class="sale__item-text">
              {{$t("commercial_base.name")}} <br />
              <br />
              {{$t("commercial_base.text")}}
              <a class="link-underline"
                 @click="$router.push({ name: 'commercial' })"
                >{{$t("commercial_base.text1")}}</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="steps anim-items anim-no-hide _active">
      <div class="container">
        <div class="steps__title title-smll anim-show">
          {{$t("buy_object_guide.name")}}
        </div>
        <p class="steps__text text anim-show">
          {{$t("buy_object_guide.mini_text")}}:
        </p>
        <div class="steps__inner anim-items anim-show _active">
          <div class="step">
            <div class="step__name">{{$t("buy_object_guide.first_step.name")}}</div>
            <p class="step__text">{{$t("buy_object_guide.first_step.mini_text")}}:</p>
            <button-green class="step__btn button"
                          @click="$router.push({ name: 'privat' })"
            >
              {{$t("buy_object_guide.first_step.text1")}}
            </button-green>
            <button-green class="step__btn button"
                          @click="$router.push({ name: 'commercial' })"
            >
            {{$t("buy_object_guide.first_step.text2")}}
            </button-green>
          </div>
          <div class="steps__line"></div>
          <div class="step">
            <div class="step__name">{{$t("buy_object_guide.second_step.name")}}</div>
            <p class="step__text">
              {{$t("buy_object_guide.second_step.text1")}}
            </p>
            <button-green class="step__btn button"
              @click="showRequest">
            {{$t("buy_object_guide.second_step.text2")}}
            </button-green>
          </div>
          <div class="steps__line"></div>
          <div class="step">
            <div class="step__name">{{$t("buy_object_guide.third_step.name")}}</div>
            <p class="step__text">
              {{$t("buy_object_guide.third_step.text")}}
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="conditions">
      <div class="container">
        <div class="conditions__inner">
          <div class="conditions__info">
            <p
              class="conditions__text text anim-items anim-no-hide anim-show _active"
            >
              {{$t("mini-info.main_text")}}:
            </p>
            <ul class="conditions__list text">
              <li class="anim-items anim-no-hide anim-show _active">
                {{$t("mini-info.text1")}};
              </li>
              <li class="anim-items anim-no-hide anim-show _active">
                {{$t("mini-info.text3")}}.
              </li>
            </ul>
          </div>
          <div
            class="conditions__logo anim-items anim-no-hide anim-show _active"
          >
            <img src="@/images/icons/logo-new.svg" alt="" class="dp-block" />
          </div>
        </div>
      </div>
    </section>
    <section id="map_office">
      <div class="container">
        <yandex-map
          :coords="[43.22038, 76.929601]"
          :zoom="11"
          style="width: 100%; height: 500px; margin-top: 30px"
        >
          <ymap-marker
            :coords="[43.22038, 76.929601]"
            marker-id="123123"
            marker-type="placemark"
          />
        </yandex-map>
      </div>
    </section>
    <Modal v-show="isRequestVisible" @close="closeRequest">
      <template v-slot:body>
        <ConsultComponent ref="mRequ"></ConsultComponent>
      </template>
    </Modal>
    <footer-component></footer-component>
  </div>
</template>

<script>
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import { yandexMap, ymapMarker } from 'vue-yandex-maps';
import { mapGetters } from 'vuex';
import ConsultComponent from "@/components/ConsultComponent";
import Modal from "@/components/Modal";

export default {
  data() {
    return {
      isRequestVisible: false,
      sliderInfo: {
        pics: ['sale02.jpg', 'sale01.jpg'],
      },
      sliders: ['img/company01.jpg', 'img/company01.jpg'],
      settings: {
        apiKey: '',
        lang: 'ru_RU',
        coordorder: 'latlong',
        enterprise: false,
        version: '2.1',
      },
    };
  },
  components: {
    Carousel,
    Slide,
    /* Navigation */
    yandexMap,
    ymapMarker,
    Modal,
    ConsultComponent,
  },
  methods: {
    showRequest(objID) {
      this.$refs.mRequ.setObjWant(objID);
      this.isRequestVisible = true;
    },
    closeRequest() {
      this.isRequestVisible = false;
    },
  },
  computed: {
    ...mapGetters(['sizeScreen']),
  },
  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>

<style scoped>
.company {
  margin-bottom: 73px;
}

.company__title {
  margin-bottom: 39px;
}
.company__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.company__info {
  max-width: 567px;
  width: 100%;
  margin-right: 50px;
}

.our-mission {
  margin-top: 36px;
  border-radius: 15px;
  background-color: #099f79;
  color: #fff;
  padding: 23px 30px;
  text-align: center;
}

.our-mission__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 11px;
}

.company__row {
  display: none;
}

.sale {
  background-color: #f0f7f5;
  padding: 68px 0 77px;
}
.sale__title {
  margin-bottom: 63px;
}

.sale__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sale__item:nth-child(even) .sale__item-content {
  margin-right: 30px;
}
.sale__item:nth-child(odd) .sale__item-content {
  margin-left: 30px;
}
.sale__item-content {
  max-width: 475px;
}

.sale__item-title {
  margin-bottom: 20px;
}

.sale__item + .sale__item {
  margin-top: 66px;
}

.slider-slick {
  max-width: 510px;
}
.carousel__item {
  min-height: 200px;
  width: 100%;
  background-color: transparent;
  color: var(--vc-clr-white);
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}
.dp-block {
  width: 100%;
  border-radius: 15px;
}

.steps {
  margin-top: 75px;
  margin-bottom: 87px;
}
.steps__title {
  margin-bottom: 62px;
}
.steps__text {
  margin-bottom: 28px;
}

.steps__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.steps .step {
  max-width: 286px;
  width: 100%;
  border-radius: 15px;
  border: 2px solid #d6ece6;
  padding: 30px;
  text-align: center;
}

.steps .step__name {
  font-size: 16px;
  margin-bottom: 27px;
}

.steps .step__text {
  font-weight: 600;
  font-size: 1.4vh;
  line-height: 140%;
  margin-bottom: 7px;
}

.steps .step__btn {
  font-size: 11px;
  line-height: 28px;
  padding: 9px 10px;
  margin: 0 auto;
}

.steps .step__btn + .step__btn {
  margin-top: 11px;
}
.steps__line {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 23px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.steps__line::before {
  right: -15px;
}

.steps__line::after,
.steps__line::before {
  content: '';
  border: 7px solid #099f79;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
}

.steps__line::after {
  left: -15px;
}

.conditions {
  background-color: #f0f7f5;
  padding: 62px 0px 82px;
}

.conditions__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.conditions__info {
  max-width: 445px;
}
.conditions__text {
  margin-bottom: 34px;
}

.conditions__list li {
  padding-left: 28px;
  position: relative;
}

.conditions__list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url(@/images/icons/okey.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.conditions__logo {
  margin-left: 124px;
}

.conditions__logo img {
  width: 245px;
  height: auto;
}

@media (max-width: 1024px) {
  .steps__inner {
    display: block;
  }

  .steps .step {
    max-width: 502px;
    min-height: 258px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .steps .step__btn {
    padding: 9px 19px;
  }

  .steps__line {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 23px 0;
    margin: 0 auto;
  }

  .steps__line::before {
    top: -15px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    right: unset;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }

  .steps__line::after {
    bottom: -15px;
    top: unset;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 768px) {
  .company__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
  }

  .company__wrapper {
    display: block;
  }

  .company__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
  }

  .company .our-mission {
    margin-top: 0;
    max-width: 50%;
    width: 100%;
    padding: 59px 17px 20px;
  }

  .company__image {
    max-width: calc(50% - 33px);
    width: 100%;
    margin-left: 33px;
  }

  .company .our-mission__title {
    margin-bottom: 38px;
  }

  .sale__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .sale__item:nth-child(even) .sale__item-content,
  .sale__item:nth-child(odd) .sale__item-content {
    margin-right: 0px;
    margin-left: 0;
  }

  .sale__item-content {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .slider-slick {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 100%;
  }

  .sale__item + .sale__item {
    margin-top: 59px;
  }

  .sale__item-title {
    margin-top: 20px;
  }

  .conditions {
    padding-bottom: 71px;
  }
  .conditions__logo {
    margin-left: 50px;
  }
}

@media (max-width: 580px) {
  .company__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .company .our-mission {
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 40px 15px;
  }

  .company__image {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto 40px;
  }

  .conditions__inner {
    display: block;
  }

  .conditions__info {
    max-width: 100%;
  }

  .conditions__logo {
    margin-left: 0;
    margin-top: 55px;
  }
  .conditions__logo img {
    margin: 0 auto;
  }
}
</style>
