<template>
  <div class="wrapper">
    <header-component></header-component>
    <div class="container">
      <AmBreadcrumbs :showCurrentCrumb="true" class="breadcrubs_halyk" />
    </div>
    <section class="contacts">
      <div class="container">
        <h1
          class="contacts__title title anim-items anim-no-hide anim-show _active"
        >
          {{$t("contact")}}
        </h1>
        <div class="contacts__inner anim-items anim-no-hide _active">
          <div class="contacts__message anim-show">
            <div class="contacts__message-title">{{$t("text_us")}}</div>
            <form class="contacts__form">
              <div class="form-field">
                <div class="form-field__name">{{$t('your_name')}}</div>
                <input-field placeholder="Айгерим" required="" />
              </div>
              <div class="form-field">
                <div class="form-field__name">{{$t('your_phone')}}</div>
                <input-field placeholder="+7 (_ _ _) - _ _ - _ _" required="" />
              </div>
              <div class="form-field">
                <div class="form-field__name">{{$t("your_email")}}</div>
                <input-field placeholder="example@mail.ru" required="" />
              </div>
              <div class="form-field">
                <div class="form-field__name">{{$t("your_message")}}</div>
                <textarea-field
                  class="input"
                  :placeholder="$t('your_message')"
                ></textarea-field>
              </div>
              <button-green class="contacts__btn"> {{$t("send")}} </button-green>
            </form>
          </div>
          <div class="contacts__info anim-show anim-with-delay">
            <div class="contacts__info-title">{{$t("company_name")}}</div>
            <ul class="contacts__links">
              <li>
                <svg
                  style="min-width: 21px"
                  width="15"
                  height="21"
                  viewBox="0 0 15 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.5 4.25C6.45833 4.25 5.57292 4.61458 4.84375 5.34375C4.11458 6.07292 3.75 6.95833 3.75 8C3.75 9.04167 4.11458 9.92708 4.84375 10.6562C5.57292 11.3854 6.45833 11.75 7.5 11.75C8.54167 11.75 9.42708 11.3854 10.1562 10.6562C10.8854 9.92708 11.25 9.04167 11.25 8C11.25 6.95833 10.8854 6.07292 10.1562 5.34375C9.42708 4.61458 8.54167 4.25 7.5 4.25ZM7.5 10.5C6.82292 10.5 6.23698 10.2526 5.74219 9.75781C5.2474 9.26302 5 8.67708 5 8C5 7.32292 5.2474 6.73698 5.74219 6.24219C6.23698 5.7474 6.82292 5.5 7.5 5.5C8.17708 5.5 8.76302 5.7474 9.25781 6.24219C9.7526 6.73698 10 7.32292 10 8C10 8.67708 9.7526 9.26302 9.25781 9.75781C8.76302 10.2526 8.17708 10.5 7.5 10.5ZM7.5 0.5C6.14583 0.5 4.89583 0.838542 3.75 1.51562C2.60417 2.19271 1.69271 3.10417 1.01562 4.25C0.338542 5.39583 0 6.64583 0 8C0 8.83333 0.104167 9.57552 0.3125 10.2266C0.520833 10.8516 0.924479 11.6328 1.52344 12.5703C1.9401 13.2214 2.79948 14.4844 4.10156 16.3594L6.71875 20.1094C6.90104 20.3698 7.16146 20.5 7.5 20.5C7.83854 20.5 8.09896 20.3698 8.28125 20.1094L10.8984 16.3594C12.2005 14.4844 13.0599 13.2214 13.4766 12.5703C14.0755 11.6328 14.4792 10.8516 14.6875 10.2266C14.8958 9.57552 15 8.83333 15 8C15 6.64583 14.6615 5.39583 13.9844 4.25C13.3073 3.10417 12.3958 2.19271 11.25 1.51562C10.1042 0.838542 8.85417 0.5 7.5 0.5ZM7.5 19.0156C6.875 18.1042 6.06771 16.9453 5.07812 15.5391C3.82812 13.7422 3.00781 12.5573 2.61719 11.9844C2.07031 11.099 1.70573 10.3958 1.52344 9.875C1.34115 9.32812 1.25 8.70312 1.25 8C1.25 7.16667 1.40625 6.3724 1.71875 5.61719C2.03125 4.86198 2.48698 4.1849 3.08594 3.58594C3.6849 2.98698 4.36198 2.53125 5.11719 2.21875C5.8724 1.90625 6.66667 1.75 7.5 1.75C8.33333 1.75 9.1276 1.90625 9.88281 2.21875C10.638 2.53125 11.3151 2.98698 11.9141 3.58594C12.513 4.1849 12.9688 4.86198 13.2812 5.61719C13.5938 6.3724 13.75 7.16667 13.75 8C13.75 8.70312 13.6589 9.32812 13.4766 9.875C13.2943 10.3958 12.9297 11.099 12.3828 11.9844C11.9922 12.5573 11.1719 13.7422 9.92188 15.5391L7.5 19.0156Z"
                    fill="#333"
                  ></path>
                </svg>
                <span
                  >{{$t("office")}}</span
                >
              </li>
              <li>
                <a href="tel:+77273777474">
                  <svg
                    width="21"
                    height="21"
                    viewBox="0 0 21 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M19.5625 20.0625L20.4609 16.1172C20.5391 15.8307 20.5 15.5573 20.3438 15.2969C20.2135 15.0365 20.0182 14.8411 19.7578 14.7109L15.5391 12.9141C15.2786 12.8099 15.0182 12.7839 14.7578 12.8359C14.4974 12.9141 14.276 13.0573 14.0938 13.2656L12.375 15.375C11.0208 14.6979 9.8099 13.8255 8.74219 12.7578C7.67448 11.6901 6.80208 10.4792 6.125 9.125L8.23438 7.40625C8.44271 7.22396 8.57292 7.0026 8.625 6.74219C8.70312 6.48177 8.6901 6.22135 8.58594 5.96094L6.78906 1.74219C6.65885 1.48177 6.46354 1.27344 6.20312 1.11719C5.94271 0.986979 5.66927 0.960937 5.38281 1.03906L1.4375 1.9375C1.17708 2.01562 0.955729 2.15885 0.773438 2.36719C0.591146 2.60156 0.5 2.86198 0.5 3.14844C0.5 6.3776 1.30729 9.3724 2.92188 12.1328C4.51042 14.8411 6.64583 16.9766 9.32812 18.5391C12.1146 20.1797 15.1354 21 18.3906 21C18.651 21 18.8854 20.9089 19.0938 20.7266C19.3281 20.5443 19.4844 20.3229 19.5625 20.0625ZM1.75 3.14844L5.65625 2.25L7.45312 6.46875L4.60156 8.77344C5.53906 10.8047 6.61979 12.4323 7.84375 13.6562C9.06771 14.8802 10.6953 15.9609 12.7266 16.8984L15.0312 14.0469L19.25 15.8438L18.3516 19.75C15.3568 19.75 12.5703 18.9948 9.99219 17.4844C7.46615 16 5.47396 14.0078 4.01562 11.5078C2.50521 8.92969 1.75 6.14323 1.75 3.14844Z"
                      fill="#333"
                    ></path>
                  </svg>
                  <span>+7 (727) 377‒74‒74</span>
                </a>
              </li>
              <li>
                <a href="mailto:info@halykactiv.kz">
                  <svg
                    width="20"
                    height="15"
                    viewBox="0 0 20 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M18.125 0L1.875 0C1.35417 0 0.911458 0.182292 0.546875 0.546875C0.182292 0.911458 0 1.35417 0 1.875L0 13.125C0 13.6458 0.182292 14.0885 0.546875 14.4531C0.911458 14.8177 1.35417 15 1.875 15H18.125C18.6458 15 19.0885 14.8177 19.4531 14.4531C19.8177 14.0885 20 13.6458 20 13.125V1.875C20 1.35417 19.8177 0.911458 19.4531 0.546875C19.0885 0.182292 18.6458 0 18.125 0ZM1.875 1.25L18.125 1.25C18.3073 1.25 18.4505 1.3151 18.5547 1.44531C18.6849 1.54948 18.75 1.69271 18.75 1.875V3.47656C17.8385 4.25781 15.8724 5.84635 12.8516 8.24219L12.4609 8.55469C11.9401 8.9974 11.5365 9.3099 11.25 9.49219C10.7552 9.83073 10.3385 10 10 10C9.66146 10 9.24479 9.83073 8.75 9.49219C8.4375 9.3099 8.02083 8.9974 7.5 8.55469L7.14844 8.24219C4.1276 5.84635 2.16146 4.25781 1.25 3.47656V1.875C1.25 1.69271 1.30208 1.54948 1.40625 1.44531C1.53646 1.3151 1.69271 1.25 1.875 1.25ZM18.125 13.75H1.875C1.69271 13.75 1.53646 13.6979 1.40625 13.5938C1.30208 13.4635 1.25 13.3073 1.25 13.125L1.25 5.11719C2.16146 5.84635 3.86719 7.21354 6.36719 9.21875L6.75781 9.53125C7.35677 10.0521 7.85156 10.4297 8.24219 10.6641C8.89323 11.0547 9.47917 11.25 10 11.25C10.5208 11.25 11.1068 11.0547 11.7578 10.6641C12.1224 10.4297 12.6172 10.0521 13.2422 9.53125L13.6328 9.21875C16.1328 7.21354 17.8385 5.84635 18.75 5.11719V13.125C18.75 13.3073 18.6849 13.4635 18.5547 13.5938C18.4505 13.6979 18.3073 13.75 18.125 13.75Z"
                      fill="#333"
                    ></path>
                  </svg>
                  <span>info@halykactiv.kz</span>
                </a>
              </li>
              <li class="contacts__social">
                <a href="#">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M10.0009 0C7.28508 0 6.94424 0.0118751 5.87756 0.0604173C4.81297 0.109168 4.08629 0.277711 3.45045 0.525005C2.79274 0.780425 2.23481 1.1221 1.67898 1.67814C1.12272 2.23398 0.78105 2.7919 0.524797 3.44941C0.276878 4.08546 0.108126 4.81234 0.060209 5.87652C0.0125001 6.9432 0 7.28424 0 10.0001C0 12.716 0.0120835 13.0558 0.0604173 14.1224C0.109376 15.187 0.27792 15.9137 0.525005 16.5495C0.780633 17.2073 1.1223 17.7652 1.67835 18.321C2.23398 18.8773 2.7919 19.2198 3.4492 19.4752C4.08546 19.7225 4.81234 19.891 5.87673 19.9398C6.94341 19.9883 7.28403 20.0002 9.99969 20.0002C12.7158 20.0002 13.0556 19.9883 14.1222 19.9398C15.1868 19.891 15.9143 19.7225 16.5506 19.4752C17.2081 19.2198 17.7652 18.8773 18.3208 18.321C18.8771 17.7652 19.2187 17.2073 19.475 16.5498C19.7208 15.9137 19.8896 15.1868 19.9396 14.1226C19.9875 13.056 20 12.716 20 10.0001C20 7.28424 19.9875 6.94341 19.9396 5.87673C19.8896 4.81213 19.7208 4.08546 19.475 3.44962C19.2187 2.7919 18.8771 2.23398 18.3208 1.67814C17.7646 1.12189 17.2083 0.780216 16.55 0.525005C15.9125 0.277711 15.1854 0.109168 14.1208 0.0604173C13.0541 0.0118751 12.7145 0 9.99781 0H10.0009ZM9.10406 1.80212C9.37031 1.8017 9.6674 1.80212 10.0012 1.80212C12.6712 1.80212 12.9876 1.8117 14.042 1.85962C15.017 1.90421 15.5462 2.06712 15.8987 2.204C16.3654 2.38525 16.6981 2.60192 17.0479 2.95193C17.3979 3.30193 17.6146 3.63527 17.7962 4.10194C17.9331 4.45402 18.0962 4.9832 18.1406 5.95821C18.1885 7.01238 18.1989 7.32905 18.1989 9.99783C18.1989 12.6666 18.1885 12.9833 18.1406 14.0375C18.096 15.0125 17.9331 15.5416 17.7962 15.8937C17.615 16.3604 17.3979 16.6927 17.0479 17.0425C16.6979 17.3925 16.3656 17.6092 15.8987 17.7904C15.5466 17.9279 15.017 18.0904 14.042 18.135C12.9878 18.1829 12.6712 18.1933 10.0012 18.1933C7.33091 18.1933 7.01445 18.1829 5.96028 18.135C4.98527 18.09 4.45609 17.9271 4.10338 17.7902C3.63671 17.609 3.30337 17.3923 2.95337 17.0423C2.60337 16.6923 2.3867 16.3598 2.20503 15.8929C2.06815 15.5408 1.90503 15.0116 1.86065 14.0366C1.81273 12.9824 1.80315 12.6658 1.80315 9.99533C1.80315 7.32489 1.81273 7.00988 1.86065 5.95571C1.90523 4.9807 2.06815 4.45152 2.20503 4.09902C2.38628 3.63235 2.60337 3.29901 2.95337 2.94901C3.30337 2.599 3.63671 2.38234 4.10338 2.20067C4.45589 2.06317 4.98527 1.90066 5.96028 1.85587C6.88279 1.81421 7.24029 1.8017 9.10406 1.79962V1.80212ZM15.3392 3.46233C14.6767 3.46233 14.1392 3.99921 14.1392 4.66193C14.1392 5.32443 14.6767 5.86194 15.3392 5.86194C16.0017 5.86194 16.5392 5.32443 16.5392 4.66193C16.5392 3.99942 16.0017 3.46191 15.3392 3.46191V3.46233ZM10.0011 4.8645C7.16502 4.8645 4.86562 7.1639 4.86562 9.99997C4.86562 12.836 7.16502 15.1344 10.0011 15.1344C12.8372 15.1344 15.1357 12.836 15.1357 9.99997C15.1357 7.1639 12.837 4.8645 10.0009 4.8645H10.0011ZM10.001 6.66667C11.8418 6.66667 13.3344 8.15897 13.3344 10C13.3344 11.8409 11.8418 13.3334 10.001 13.3334C8.15993 13.3334 6.66763 11.8409 6.66763 10C6.66763 8.15897 8.15993 6.66667 10.001 6.66667Z"
                      fill="#333"
                    ></path>
                  </svg>
                </a>
                <a href="#">
                  <svg
                    width="10"
                    height="20"
                    viewBox="0 0 10 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6.20536 20V9.99883H8.96612L9.33198 6.55237H6.20536L6.21005 4.82738C6.21005 3.92849 6.29546 3.44685 7.58652 3.44685H9.31244V0H6.55128C3.2347 0 2.06735 1.6719 2.06735 4.48352V6.55276H0V9.99922H2.06735V20H6.20536Z"
                      fill="#333"
                    ></path>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="contacts__map">
              <yandex-map
                :coords="[43.22038, 76.929601]"
                :zoom="11"
                style="width: 473px; height: 176px"
              >
                <ymap-marker
                  :coords="[43.22038, 76.929601]"
                  marker-id="123123"
                  marker-type="placemark"
                />
              </yandex-map>
            </div>
            <a
              href="https://go.2gis.com/027q6"
              class="contacts__map-link link"
              target="_blank"
            >
             {{$t("direction")}}
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer-component></footer-component>
  </div>
</template>

<script>
import InputField from '@/components/UI/InputField.vue';
export default {
  components: { InputField },
  mounted() {
    window.scrollTo(0, 0);
  },
};
</script>

<style scoped>
.contacts {
  margin-bottom: 96px;
}

.contacts__title {
  margin-bottom: 80px;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts__message {
  max-width: 350px;
  width: 100%;
}

.contacts__message-title {
  margin-bottom: 48px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #099f79;
}

.form-field__name {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 2px;
}

.contacts__form .input {
  width: 100%;
}

.contacts__btn {
  margin-top: 14px;
  max-width: 100%;
  width: 100%;
}

.contacts__info {
  padding-right: 100px;
  margin-left: 50px;
}

.contacts__info-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 48px;
}

.contacts__links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 17px;
}
.contacts__links li svg {
  margin-right: 14px;
}

.contacts__links li + li {
  margin-top: 30px;
}

.contacts__map {
  margin-top: 39px;
}

.contacts__map {
  max-width: 473px;
  width: 100%;
  height: 176px;
  border-radius: 15px;
  overflow: hidden;
}
.contacts__map-link {
  margin-top: 16px;
  font-weight: bold;
  font-size: 1.4vh;
  line-height: 17px;
  text-decoration: underline;
  color: #828282;
}

@media (max-width: 768px) {
  .contacts__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contacts__info {
    margin-left: 0;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 80px;
  }

  .contacts__info {
    padding-right: 0;
  }
}
</style>
