<template>
  <div>
    <header-component></header-component>

    <div class="wrapper">
      <section class="main without-bg">
        <Carousel :autoplay="5000" :wrap-around="true" class="carousel-main-page">
          <Slide v-for="slide in sliders" :key="slide">
            <div class="carousel__item" style="width: 100%">
              <div class="slider-item" :style="backgroundImage(slide)">
                <div class="container">
                  <div class="slider-item__inner">
                    <h5 class="slider-item__title">
                      {{ slide.title }}
                    </h5>
                    <div class="slider-item__subtitle">
                      {{ slide.text }}
                    </div>
                    <button-orange v-if="slide.gkid == 'priv'" class="slider-item__btn button button-yellow"
                      tabindex="0" @click="$router.push({ name: 'privat' })">
                      {{ slide.buttonText }}
                    </button-orange>
                    <button-orange v-else-if="slide.gkid == 'com'" class="slider-item__btn button button-yellow"
                      tabindex="0" @click="$router.push({ name: 'commercial' })">
                      {{ slide.buttonText }}
                    </button-orange>
                    <button-orange v-else class="slider-item__btn button button-yellow" tabindex="0" @click="
  $router.push({ name: 'gk', params: { id: slide.gkid } })
">
                      {{ slide.buttonText }}
                    </button-orange>
                  </div>
                </div>
              </div>
            </div>
          </Slide>

          <template #addons>
            <Navigation />
            <pagination />
          </template>
        </Carousel>

        <div class="main__search anim-items anim-no-hide _active">
          <div class="container">
            <div class="search anim-show anim-with-delay">
              <tabs-component></tabs-component>
            </div>
          </div>
        </div>
      </section>
      <TopObjectsComponent></TopObjectsComponent>
      <section class="calculator">
        <div class="container anim-items anim-no-hide _active">
          <h5 class="calculation__title title-yel-green anim-show">
            {{ $t("hypothec_calculator.hypothec") }} <span>{{ $t("hypothec_calculator.calc") }}</span>
          </h5>
          <p class="calculation__text text anim-show anim-with-delay">
            {{ $t("hypothec_calculator.text") }}
          </p>
          <CalculatorComponent></CalculatorComponent>
        </div>
      </section>
      <section class="about">
        <div class="container">
          <div class="about__inner">
            <div class="about__item anim-items anim-no-hide _active">
              <h5 class="about__title anim-show">
                <img src="@/images/icons/logo-sign.svg" alt="" />HALYK&nbsp;<span>АКТИВ</span>
              </h5>
              <p class="about__text text anim-show anim-with-delay">
                {{ $t("halyk_active.main_text") }}
                <br />
                <br />
                {{ $t("halyk_active.second_text") }}

              </p>
              <a href="" class="about__btn button button-green anim-show anim-with-delay"
                @click="$router.push({ name: 'about' })">
                {{ $t("halyk_active.more_about_company") }}
              </a>
            </div>
            <div class="about__cards anim-items anim-no-hide _active">
              <div class="about__card anim-show" :style="{
  backgroundImage:
    'url(' + require(`@/images/about01.jpg`) + ')',
}">
                <div class="about__card-name">{{ $t('resident_objects.name') }}</div>
                <a href="">
                  <button-orange class="about__card-button button button-yellow"
                    @click="$router.push({ name: 'privat' })">
                    {{ $t("halyk_active.see_all") }}
                  </button-orange>
                </a>
              </div>
              <div class="about__card anim-show anim-with-delay" :style="{
  backgroundImage:
    'url(' + require(`@/images/about02.2.jpg`) + ')',
}">
                <div class="about__card-name">{{ $t("commercial_objects.name") }}</div>
                <a href="">
                  <button-orange class="about__card-button button button-yellow"
                    @click="$router.push({ name: 'commercial' })">
                    {{ $t("halyk_active.see_all") }}
                  </button-orange>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="question anim-items anim-no-hide _active">
        <div class="container">
          <div class="question__inner anim-show">
            <div class="question__image" :style="{
  backgroundImage:
    'url(' + require(`@/images/question.jpg`) + ')',
}"></div>
            <div class="question__content">
              <div class="question__title">{{ $t("question") }}</div>
              <p class="question__text text">

              </p>
              <div class="question__form">
                <div class="input-box sibling-margin">
                  <input type="text" class="input" :placeholder="$t('your_name')" :class="{ invalid: shErrorN }"
                    v-model="inName" />
                </div>
                <div class="input-box sibling-margin">
                  <input type="tel" class="input hidecur" :class="{ invalid: shErrorP }" v-model="inPhoneF"
                    @keydown="isNumber" />
                </div>
                <button-green class="sibling-margin" type="button" @click="sendData">
                  {{ $t('call_me') }}
                </button-green>
              </div>
              <div v-show="shError" class="error-message">{{ shErrorMes }}</div>
              <div class="question__row">
                <span>{{ $t("get_consultation_on_language.name") }}:</span>
                <label class="fake-checkbox">
                  <input type="radio" value="kz" checked="" v-model="inLang">
                  <div class="fake-checkbox__content">
                    <div class="fake-checkbox__circle"></div>
                    <p class="fake-checkbox__text">{{ $t("get_consultation_on_language.kz") }}</p>
                  </div>
                </label>
                <label class="fake-checkbox">
                  <input type="radio" value="ru" v-model="inLang">
                  <div class="fake-checkbox__content">
                    <div class="fake-checkbox__circle"></div>
                    <p class="fake-checkbox__text">{{ $t("get_consultation_on_language.ru") }}</p>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="news">
        <news-component></news-component>
      </section>
      <ModalFirst v-show="!isFirst" @close="backToBrowserPage">
        <template v-slot:body>
          <div style="margin-left: 5%;">
            <div>
              <h1 class="first-modal-title" style="width: 350px;">Чтобы продолжить работу с сайтом, ознакомьтесь с
                Договором
                оферты и Политикой конфиденциальности</h1>
            </div>
            <div style="margin-top: 30px;">
              <div class="first-modal-row">
                <img src="../images/Vector.png" />
                <a class="first-modal-text_link" href="/Договор оферты.html" target="_blank">Договор
                  оферты. RU</a>
              </div>
              <div class="first-modal-row">
                <img src="../images/Vector.png" />
                <a class="first-modal-text_link" href="/Договор оферты-KZ.html" target="_blank">Договор
                  оферты. KZ</a>
              </div>
              <div class="first-modal-row">
                <img src="../images/Vector.png" />
                <a class="first-modal-text_link"
                  href="/Политика_конфиденциальности_и_обработки_персональных_данных.html" target="_blank">Политика
                  конфиденциальности.
                  RU</a>
              </div>
              <div class="first-modal-row">
                <img src="../images/Vector.png" />
                <a class="first-modal-text_link" href="/Политика_конфиденциальности_каз_верс.html"
                  target="_blank">Политика
                  конфиденциальности. KZ</a>
              </div>
              <div class="first-modal-row" style="width: 300px; margin-top: 20px;">
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" v-model="firstModal"
                  @change="firstModalChecked" />
                <label for="vehicle1" class="first-modal-checkbox">Я ознакомлен с условиями Договора оферты и Политикой
                  конфиденциальности</label>
              </div>
              <button class="first-modal-button" @click="goToSite()">Войти на сайт</button>
              <button class="first-modal-left" @click="backToBrowserPage">Покинуть сайт</button>
            </div>
          </div>
        </template>
      </ModalFirst>
    </div>
    <footer-component></footer-component>
  </div>
</template>

<script>
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Navigation, Pagination } from 'vue3-carousel';
import CalculatorComponent from '@/components/CalculatorComponent';
import TopObjectsComponent from '@/components/UI/TopObjectsComponent';
import axios from "axios";

export default {
  data() {
    return {
      inPhoneR: "",
      PhoneF: "+7(***)***-**-**",
      inName: "",
      inLang: "",
      Resp: "",
      shError: false,
      shErrorN: false,
      shErrorP: false,
      shErrorMes: "",
      isFirst: localStorage.getItem('first_time_on_website'),
      firstModal: false,
      sliders: [
        {
          image: require('@/images/gk/happy_new_year.jpg'),
          mb_image: require('@/images/gk/happy_new_year_mb.jpg'),
          title: "Новогодние акции!",
          text: "От Халык Актив",
          buttonText: this.$t("sliders.first.buttonText"),
          gkid: 'priv',
        },
        {
          image: require('@/images/gk/promo.jpg'),
          mb_image: require('@/images/gk/promo_mb.jpg'),
          title: "Новогодняя Акция!",
          text: "На паркинги и кладовки",
          buttonText: this.$t("sliders.first.buttonText"),
          gkid: 'priv',
        },
        {
          image: require('@/images/gk/slider_new_0.jpg'),
          mb_image: require('@/images/gk/slider_new_0_mb.jpg'),
          title: this.$t("sliders.first.title"),
          text: this.$t("sliders.first.text"),
          buttonText: this.$t("sliders.first.buttonText"),
          gkid: 'priv',
        },
        {
          image: require('@/images/gk/slider_new_2.jpg'),
          mb_image: require('@/images/gk/slider_new_2_mb.jpg'),
          title: this.$t("sliders.second.title"),
          text: this.$t("sliders.second.text"),
          buttonText: this.$t("sliders.second.buttonText"),
          gkid: 'com',
        },
        {
          image: require('@/images/gk/slider_new_3.jpg'),
          mb_image: require('@/images/gk/slider_new_3_mb.jpg'),
          title: this.$t("sliders.third.title"),
          text: this.$t("sliders.third.text"),
          buttonText: this.$t("sliders.third.buttonText"),
          gkid: '12',
        },
        {
          image: require('@/images/gk/slider_new_4.jpg'),
          mb_image: require('@/images/gk/slider_new_4_mb.jpg'),
          title: this.$t("sliders.fourth.title"),
          text: this.$t("sliders.fourth.text"),
          buttonText: this.$t("sliders.fourth.buttonText"),
          gkid: '54',
        },
        {
          image: require('@/images/gk/slider_new_5.jpg'),
          mb_image: require('@/images/gk/slider_new_5_mb.jpg'),
          title: this.$t("sliders.fifth.title"),
          text: this.$t("sliders.fifth.text"),
          buttonText: this.$t("sliders.fifth.buttonText"),
          gkid: '67',
        },
        {
          image: require('@/images/gk/slider_new_6.jpg'),
          mb_image: require('@/images/gk/slider_new_6_mb.jpg'),
          title: this.$t("sliders.sixth.title"),
          text: this.$t("sliders.sixth.text"),
          buttonText: this.$t("sliders.sixth.buttonText"),
          gkid: '11',
        },
        {
          image: require('@/images/gk/slider_new_7.jpg'),
          mb_image: require('@/images/gk/slider_new_7_mb.jpg'),
          title: this.$t("sliders.seventh.title"),
          text: this.$t("sliders.seventh.text"),
          buttonText: this.$t("sliders.seventh.buttonText"),
          gkid: '15',
        },
      ],
      isConsultVis: false,
    };
  },
  components: {
    TopObjectsComponent,
    CalculatorComponent,
    Carousel,
    Slide,
    Navigation,
    Pagination,
  },
  methods: {
    backToBrowserPage() {
      console.log('close');
      //window.close('','_parent','');
      //window.open('','_parent','');
      window.close();
    },
    firstModalChecked() {
      if (this.firstModal == true) {
        document.querySelector('.first-modal-button').style.opacity = 1;
      } else {
        document.querySelector('.first-modal-button').style.opacity = 0.5;
      }

      // this.firstModal = true;
    },
    goToSite() {
      if (this.firstModal == true) {
        localStorage.setItem('first_time_on_website', false)
        this.isFirst = true;
        console.log(this.firstModal)
      }
    },
    backgroundImage(slide) {
      var img = slide.image
      if (window.innerWidth <= 768) {
        img = slide.mb_image
      }
      return {
        backgroundImage: `url(${img})`,
        width: '100%',
        display: 'inline-block',
      }
    },
    sendData() {
      if (this.inName == "")
        this.shErrorN = true;
      else
        this.shErrorN = false;

      if (this.inPhoneR.length < 10)
        this.shErrorP = true;
      else
        this.shErrorP = false;

      if (this.shErrorP || this.shErrorN)
        this.shError = true;
      else
        this.shError = false;

      if (this.shError) {
        this.shErrorMes = "Заполните все поля";
        return;
      }

      axios
        .get('/input/send.php', { params: this.reqParams })
        .then(response => (this.Resp = response.data));
      console.log(this.Resp);

      this.inPhoneR = "";
      this.inName = "";
    },
    isNumber(evt) {
      const charCode = evt.keyCode;
      if (evt.key === "Backspace" || evt.key === "Delete") {
        let tmp = Array.from(this.inPhoneR)
        tmp.pop();
        this.inPhoneR = tmp.join('');
      }
      if (this.inPhoneR.length < 10)
        if (charCode > 47 && charCode < 58)
          this.inPhoneR += evt.key;

      evt.preventDefault();
    },
  },
  mounted() {
    window.scrollTo(0, 0);
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    })
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  },
  computed: {
    inPhoneF() {
      let form = Array.from(this.PhoneF);
      let phin = Array.from(this.inPhoneR);
      let out = "";
      let onelet = '';
      let tmp = "";
      while (onelet = form.shift()) {
        if (onelet == '*')
          if (tmp = phin.shift())
            out += tmp;
          else
            out += "_";
        else
          out += onelet;
      }
      return out;
    },
    reqParams() {
      const params = new URLSearchParams();

      params.append('id', '222');
      params.append('username', this.inName);
      params.append('userphone', this.inPhoneR);
      params.append('lang', this.inLang);

      return params;
    },
  },
}
</script>

<style scoped>
.main {
  position: relative;
}

.input.invalid {
  border-color: #eb5757;
}

.hidecur {
  caret-color: transparent;
}

.error-message {
  color: #eb5757;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.calculator {
  margin-bottom: 70px;
}

.calculation__title {
  margin-bottom: 34px;
}

.calculation__text {
  max-width: 540px;
  margin-bottom: 40px;
}

.main .slider-item {
  position: relative;
  padding: 145px 0 305px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

.main .slider-item__inner {
  position: relative;
  z-index: 2;
}

.first-modal-title {
  font-weight: 600;
  font-size: 16px;
}

.first-modal-left {
  color: #099F79;
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 30%
}

.first-modal-button {
  margin-top: 20px;
  width: 348px;
  height: 43px;
  background: #099F79;
  border-radius: 30px;
  color: white;
  margin-left: -5%;
  opacity: 0.5;
}

.first-modal-checkbox {
  font-size: 13px;
  margin-left: 5px;
}

.first-modal-row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.first-modal-text_link {
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  margin-left: 5px;
  line-height: 2;
}

.main .slider-item__title {
  font-weight: bold;
  font-size: 30px;
  color: white;
  line-height: 150%;
}

.main .slider-item__subtitle {
  font-size: 20px;
  color: white;
  line-height: 150%;
}

.main .slider-item__subtitle span {
  font-weight: bold;
}

.main .slider-item__btn {
  margin: 23px auto 0;
}

.main__search {
  width: 100%;
  position: absolute;
  top: 354px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search__radio-btns {
  margin-right: 28px;
}

.search__radio-btns .fake-checkbox {
  display: block;
}

.fake-checkbox {
  cursor: pointer;
}

.fake-checkbox>input {
  display: none;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

.fake-checkbox__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.fake-checkbox__circle {
  width: 20px;
  height: 20px;
  border: 2px solid #099f79;
  border-radius: 50%;
  position: relative;
}

.fake-checkbox__text {
  margin-left: 8px;
  font-size: 12px;
  line-height: 14px;
}

.search__radio-btns .fake-checkbox+.fake-checkbox {
  margin-top: 4px;
}

.search__radio-btns .fake-checkbox {
  display: block;
}

.tab-item.active-tab {
  display: block;
}

.search__form .select {
  width: unset;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.jq-selectbox {
  width: 100%;
}

.jq-selectbox {
  z-index: 10;
}

.jq-select-multiple,
.jq-selectbox {
  position: relative;
  display: inline-block;
}

.jq-select-multiple select,
.jq-selectbox select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.jq-selectbox__select {
  cursor: pointer;
  position: relative;
  outline: none;
  font-size: 12px;
  line-height: 28px;
  color: #828282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 0px 20px;
  padding-right: 35px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #dcdcdc;
  border-radius: 30px;
}

.jq-selectbox__select::after {
  content: '';
  background-image: url(../images/icons/black-arrow-down.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search__form .sibling-margin+.sibling-margin {
  margin-left: 20px;
}

.search__s {
  max-width: 163px;
  width: 100%;
  background-color: #fff;
  height: 50px;
  border: 1px solid #dcdcdc;
  border-radius: 30px;
  padding: 0px 20px;
  font-size: 12px;
  line-height: 28px;
}

.search__form .sibling-margin+.sibling-margin {
  margin-left: 20px;
}

.search__btn img {
  margin: 0 auto;
}

.search__form .sibling-margin+.sibling-margin {
  margin-left: 20px;
}

.search__link svg {
  margin-right: 9px;
}

.about {
  padding-top: 113px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__title {
  margin-bottom: 38px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #099f79;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.anim-show {
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 1.6s ease 0s;
  -o-transition: all 1.6s ease 0s;
  transition: all 1.6s ease 0s;
}

.about__title img {
  margin-right: 20px;
}

.about__title span {
  color: #fca82a;
}

._active .anim-show {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.anim-show.anim-with-delay {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.anim-show {
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 1.6s ease 0s;
  -o-transition: all 1.6s ease 0s;
  transition: all 1.6s ease 0s;
}

.about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

.about__card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 255px;
  height: 389px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about__card-name {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px 20px;
  color: #0a4f3d;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
  border-radius: 0px 0px 20px 0px;
}

.about__card-button {
  position: absolute;
  max-width: unset;
  right: 0;
  bottom: 0;
  border-radius: 15px 0px;
  background-color: #fca82a;
}

.about__card:last-child {
  margin-top: 83px;
  margin-left: 30px;
}

.about__card-name {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px 20px;
  color: #0a4f3d;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
  border-radius: 0px 0px 20px 0px;
}

.question {
  margin-top: 116px;
  margin-bottom: 160px;
}

.question__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f0f7f5;
  border-radius: 15px;
  padding: 10px;
  padding-right: 70px;
}

.question__image {
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 341px;
  width: 100%;
  height: 294px;
}

.question__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 27px;
  position: relative;
}

.question__title {
  margin-top: 50px;
  margin-bottom: 34px;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.question__text {
  margin-bottom: 37px;
}

.question__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
}

.question__form .input {
  background-color: #fff;
}

.question__form .input-box {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.question__form .sibling-margin+.sibling-margin {
  margin-left: 20px;
}

.question__row .fake-checkbox+.fake-checkbox {
  margin-left: 16px;
}

.question__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question__row span {
  margin-right: 15px;
}

.news {
  margin-bottom: 58px;
}

@media (max-width: 1024px) {
  .about__inner {
    display: block;
  }

  .about__cards {
    margin-left: 0;
    margin-top: 50px;
  }

  .about__card {
    max-width: 320px;
    width: 100%;
    height: 282px;
  }

  .about__card:last-child {
    margin-top: 0;
  }

  .question__title {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .question__text {
    margin-bottom: 14px;
  }

  .question__form .input {
    width: 100%;
  }

  .question__row {
    display: block;
  }

  .question__row span {
    display: block;
    margin-right: 0;
    margin-bottom: 12px;
  }

  .question__row .fake-checkbox {
    display: inline-block;
  }

  .question__row .fake-checkbox+.fake-checkbox {
    margin-left: 16px;
  }

  .question__form .btn {
    margin-left: 0;
    position: absolute;
    right: 0;
    bottom: 66px;
    padding: 13px 33px;
  }
}

@media (max-width: 768px) {
  .main__search {
    margin-top: -141px;
    position: relative;
    left: unset;
    bottom: unset;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: unset;
  }

  .question__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 48px 0 80px;
  }

  .question__image {
    margin-top: 43px;
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    height: 289px;
  }

  .question__content {
    padding-bottom: 90px;
    margin-left: 0;
  }

  .question__form .btn {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1.4vh;
  }

  .question {
    background-color: #f0f7f5;
  }
}
</style>
