<template>
  <div>
    <header-component></header-component>
    <div class="wrapper">
      <div class="content">
        <div class="container">
          <AmBreadcrumbs :showCurrentCrumb="true" class="breadcrubs_halyk" />
          <section class="news-page">
            <div class="container">
              <div class="news-page__title title">{{ $t("news") }}</div>
              <div class="news-page__wrapper">
                <div class="news-item" v-for="news in newsItem" :key="news.id">
                  <router-link class="news-item__image" :to="'/news/' + news.ID">
                    <img class="dp-block" :src="news.Image" alt="" />
                  </router-link>
                  <div class="news-item__date">{{ news.Date }}</div>
                  <div class="news-item__name">
                    <router-link :to="'/news/' + news.ID">
                      {{ news.Title }}
                    </router-link>
                  </div>
                  <p class="news-item__text">
                    <router-link :to="'/news/' + news.ID">
                      {{ news.Description }}
                    </router-link>
                  </p>
                  <router-link :to="'/news/' + news.ID" class="news-item__link link-read">
                    {{ $t("last_news.read") }}
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5.9375 1.09375C5.625 1.40625 5.65625 1.875 5.9375 2.1875L9.71875 5.75H0.75C0.3125 5.75 0 6.09375 0 6.5V7.5C0 7.9375 0.3125 8.25 0.75 8.25H9.71875L5.9375 11.8438C5.65625 12.1562 5.65625 12.625 5.9375 12.9375L6.625 13.625C6.9375 13.9062 7.40625 13.9062 7.6875 13.625L13.7812 7.53125C14.0625 7.25 14.0625 6.78125 13.7812 6.46875L7.6875 0.40625C7.40625 0.125 6.9375 0.125 6.625 0.40625L5.9375 1.09375Z"
                        fill="#099F79"></path>
                    </svg>
                  </router-link>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <footer-component></footer-component>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'NewsPage',
  data() {
    return {
      newsItem: []
    };
  },
  methods: {
    loadNews() {
      axios
        .get('/data/news.json')
        .then((vac) => (this.newsItem = vac.data))
        .catch((err) => console.log(err));
      return true;;
    },
  },
  mounted() {
    window.scrollTo(0, 0);
    this.loadNews();
  },
};
</script>

<style scoped>
.news-page {
  margin-bottom: 128px;
}

.news-page__title {
  margin-bottom: 70px;
}

.news-page__wrapper {
  margin-top: -100px;
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.news-page__wrapper .news-item {
  max-width: calc(25% - 30px);
  margin-left: 30px;
  margin-top: 100px;
}

.news-item {
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.news-item__image {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 7px;
}

.news-item__image img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.news-item__date {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 5px;
}

.news-item__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.news-item__text {
  font-size: 12px;
  color: #828282;
  margin-bottom: 20px;
}

.news-item__link {
  margin-top: auto;
}

@media (max-width: 768px) {
  .news-page__wrapper .news-item {
    max-width: none;
    margin-left: 20%;
  }
}
</style>
