<template>
  <header-component>
    <template v-slot:modal2>
      <Modal v-show="isCalcVisible" @close="closeCalc">
        <template v-slot:body>
          <section class="calculator">
            <div class="container anim-items anim-no-hide _active">
              <h5 class="calculation__title title-yel-green anim-show">
                {{$t("hypothec_calculator.hypothec")}} <span>{{$t("hypothec_calculator.calc")}}</span>
              </h5>
              <CalculatorComponent ref="mCalc"></CalculatorComponent>
            </div>
            <div class="toright">
              <button @click="closeCalc">--вернуться к описанию объекта</button>
            </div>
          </section>
        </template>
      </Modal>
    </template>
  </header-component>

  <div class="sale">
    <div class="container">
      <AmBreadcrumbs
        :showCurrentCrumb="true"
        class="breadcrubs_halyk breadcrubs"
      />

      <h5 class="house__title">
        <span class="house__object-name">{{ objectItem.name }}</span
        ><br />
        <span class="house__object-name">{{ gkName(objectItem.gkplace) }}</span
        ><br />

        {{$t("address")}}: <span class="house__rc"></span>
        <span class="house__address">{{ objectItem.address }}</span>
      </h5>
      <br />

      <div id="map" style="height: 200px">
        <yandex-map :coords="this.coordinatesObject" :zoom="11">
          <ymap-marker
            :coords="this.coordinatesObject"
            marker-id="123123"
            marker-type="placemark"
          />
        </yandex-map>
      </div>
      <div class="sale__item anim-items anim-no-hide _active">
        <div class="sale-slider" v-if="this.$store.getters.object.pics > 0">
          <slider-component
            :fullPath="`/img/main/${this.$store.getters.object.idcrm}/`"
            :item="objectItem"
            @pictureClick="pictureToModal"
          />
        </div>
        <div class="sale-slider" v-else>
          <img class="noimage" :src="`/img/noPic${objectItem.typeloc}B.jpg`" />
        </div>
        <div class="sale-info">
          <div class="house__characteristics">
            <table>
              <tbody>
                <tr>
                  <td>{{$t("square-meter")}}:</td>
                  <td>
                    <span class="house__space">{{ objectItem.square }}</span>
                  </td>
                </tr>
                <tr>
                  <td>{{$t("price-meter")}}, тенге:</td>
                  <td>
                    <span class="house__price"></span
                    >{{ parseInt(objectItem.price).toLocaleString('ru-RU') }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="house__column">
            <div class="house__cost">
              {{$t("prices")}}
              <div>{{ parseInt(objectItem.cost).toLocaleString('ru-RU') }}</div>
            </div>
            <div class="house__btns">
              <button-green
                class="house__btn"
                @click="showCalc(objectItem.cost)"
              >
                {{$t("hypotheca")}}
              </button-green>
              <button-white
                class="house__btn"
                @click="showRequest(objectItem.idcrm, objectItem.name)"
              >
               {{$t("sign_to_see")}}
              </button-white>
            </div>
          </div>
        </div>
      </div>
      <div class="house__mobile-btns">
        <button-green
          class="house__btn button button-green sendToCalc"
          @click="showCalc(objectItem.cost)"
        >
          {{$t("hypotheca")}}
        </button-green>
        <button-white
          class="house__btn button button-unfilled modal-call special-bg"
          @click="showRequest(objectItem.idcrm, objectItem.name)"
        >
        {{$t("sign_to_see")}}
        </button-white>
      </div>
      <div class="buy-conditions">
        <button class="buy-conditions__btn active" @click="toggleInfoBlock">
          {{$t("terms_of_purchase")}}
        </button>
        <div
          class="buy-conditions__dropdown"
          :class="isOpenInfoBlock ? 'active-block' : 'inactive-block'"
        >
          <div class="text-center" id="terms-preloader" style="display: none">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="buy-conditions__items">
            <div
              class="buy-conditions__item"
              v-for="(listOpts, index) in filteredOpt"
              :key="index"
            >
              <div class="buy-conditions__item-title">
                {{ listOpts.name[$t("lang")] }}
              </div>
              <div class="buy-conditions__item-text">
                {{ listOpts.text[$t("lang")] }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ModalPic v-show="isModalVisible" @close="toggleModal">
        <CarouselPic :sliders="allPics"/>
    </ModalPic>
    <Modal v-show="isRequestVisible" @close="closeRequest">
      <template v-slot:body>
        <ConsultComponent ref="mRequ"></ConsultComponent>
      </template>
    </Modal>
    <Modal v-show="isCalcVisible" @close="closeCalc">
      <template v-slot:body>
        <section class="calculator">
          <div class="container anim-items anim-no-hide _active">
            <h5 class="calculation__title title-yel-green anim-show">
              {{$t("hypothec_calculator.hypothec")}} <span>{{$t("hypothec_calculator.calc")}}</span>
            </h5>
            <CalculatorComponent ref="mCalc"></CalculatorComponent>
          </div>
        </section>
        <button class="house-back__link" @click="closeCalc">
          <svg
            width="27"
            height="8"
            viewBox="0 0 27 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.646447 3.64644C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.73079 4.34027 7.73079 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976309 4.7308 0.659726 4.53553 0.464464C4.34027 0.269202 4.02369 0.269202 3.82843 0.464464L0.646447 3.64644ZM27 3.5L1 3.5L1 4.5L27 4.5L27 3.5Z"
              fill="#A2A2A2"
            ></path>
          </svg>
          Вернуться к списку квартир
        </button>
      </template>
    </Modal>
  </div>
  <footer-component></footer-component>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import store from '@/store';
import { yandexMap, ymapMarker } from 'vue-yandex-maps';
import _ from 'lodash';
import allOpts from '@/saleOpts';
import CarouselPic from '@/components/CarouselPic.vue';
import ModalPic from "@/components/ModalPic";

export default {
  components: {
    yandexMap,
    ymapMarker,
    CarouselPic,
    ModalPic,
  },
  name: 'ObjectItemPage',
  data() {
    return {
      sliderPosition: 1,
      isOpenInfoBlock: 0,
      isModalVisible: 0,
      isRequestVisible: 0,
      activeImage: '',
      mapOptions: {
        suppressMapOpenBlock: true,
      },
      isCalcVisible: false,
      shOpt: allOpts,
      currLang: '',
    };
  },
  computed: {
    ...mapGetters(['allgk']),
    allPics() {
      let data = [];
      for (var i = 0; i < this.objectItem.pics; i++) {
        data.push({ "id": i, "img": "/img/main/" + this.objectItem.idcrm + "/" + (i + 1) + ".jpg" });
      }
      return data;
    },
    objectItem() {
      return store.getters.object;
    },
    coordinatesObject() {
      return [
        this.objectItem.map1 || '43.235370',
        this.objectItem.map2 || '76.937246',
      ];
    },
    filteredOpt() {
      let flOpts = this.shOpt.filter((item) => {
        return (
          item.id == this.objectItem.gkplace &&
          item.type == this.objectItem.typeloc
        );
      });

      if (flOpts.length > 0) return flOpts;
      else
      if(this.objectItem.typeloc == "Паркоместо" || this.objectItem.typeloc == "Кладовка")
        return [
          {
            id: 0,
            type: '',
            name: {
              RU: '100 % оплата.',
              KZ: '100% төлем',
            },
            text: {
              RU: '',
              KZ: '',
            },
          },
          {
            id: 0,
            type: '',
            name: {
              RU: 'Аренда с последующим выкупом',
              KZ: '',
            },
            text: {
              RU: 'При первоначальном взносе от 30% и выше, арендная ставка - 20% годовых.' +
                  'При первоначальном взносе от 50% и выше, арендная ставка - 19% годовых. Срок до 5 лет: ' +
                  'При сроке аренды свыше 364 дней, регистрация договора аренды в Уполномоченном органе обязательна.',
              KZ: '',
            },
          },
        ];
      else
      {
        if (this.objectItem.type == 1)
          return [
            {
              id: 0,
              type: '',
              name: {
                RU: '100 % оплата.',
                KZ: '100% төлем',
              },
              text: {
                RU: '',
                KZ: '',
              },
            },
            {
              id: 0,
              type: '',
              name: {
                RU: 'Ипотека по программе Halyk Sale от 18%',
                KZ: '',
              },
              text: {
                RU: '',
                KZ: '',
              },
            },
            {
              id: 0,
              type: '',
              name: {
                RU: 'Аренда с последующим выкупом',
                KZ: '',
              },
              text: {
                RU: 'При первоначальном взносе от 30% и выше, арендная ставка - 20% годовых.' +
                    'При первоначальном взносе от 50% и выше, арендная ставка - 19% годовых. Срок до 5 лет: ' +
                    'При сроке аренды свыше 364 дней, регистрация договора аренды в Уполномоченном органе обязательна.',
                KZ: '',
              },
            },
          ];
        else
          return [
            {
              id: 0,
              type: '',
              name: {
                RU: '100 % оплата.',
                KZ: '100% төлем',
              },
              text: {
                RU: '',
                KZ: '',
              },
            },
            {
              id: 0,
              type: '',
              name: {
                RU: 'Ипотека по программе Halyk Sale от 18%',
                KZ: '',
              },
              text: {
                RU: '',
                KZ: '',
              },
            },
            {
              id: 0,
              type: '',
              name: {
                RU: 'Аренда с последующим выкупом',
                KZ: '',
              },
              text: {
                RU: 'При первоначальном взносе от 30% и выше, арендная ставка - 20% годовых.' +
                    'При первоначальном взносе от 50% и выше, арендная ставка - 19% годовых. Срок до 5 лет:' +
                    'При сроке аренды свыше 364 дней, регистрация договора аренды в Уполномоченном органе обязательна.',
                KZ: '',
              },
            },
          ];
      }
    },
  },
  methods: {
    ...mapActions['fetchObjectById'],
    pictureToModal(e) {
      this.activeImage = e;
      this.isModalVisible = !this.isModalVisible;
    },
    toggleInfoBlock() {
      this.isOpenInfoBlock = !this.isOpenInfoBlock;
    },
    showRequest(objID, objName) {
      this.$refs.mRequ.setObjWant(objID, objName);
      this.isRequestVisible = true;
    },
    closeRequest() {
      this.isRequestVisible = false;
    },
    showCalc(startCost) {
      this.$refs.mCalc.setCostInit(startCost);
      this.isCalcVisible = true;
    },
    closeCalc() {
      this.isCalcVisible = false;
    },

    gkName(roomid) {
      let gkObj = _.find(this.allgk, { id: roomid });
      if (this.allgk && gkObj) {
        return gkObj.fullname;
      } else {
        return '';
      }
    },

    toggleModal(e) {
      if (e != undefined) {
        this.activeImage = e.target.currentSrc;
      }

      this.isModalVisible = !this.isModalVisible;
    },
  },
  mounted() {
    store.dispatch('fetchObjectById', this.$route.params.id);
    window.scrollTo(0, 0);
  },
};
</script>

<style scoped>
.toright {
  position: absolute;
  right: 0px;
}
.sale {
  background-color: #f0f7f5;
  padding: 114px 0 77px;
}
.house__title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  padding-right: 50px;
}
.house__title span {
  font-weight: bold;
  color: #0a4f3d;
}

.house__title span.house__address {
  font-weight: 400;
  color: #828282;
}

.sale__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.sale-slider {
  max-width: 540px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.noimage {
  display: block;
  width: 100%;
  max-width: 540px;
  height: 100%;
  margin-top: 10px;
}

.house__characteristics {
  padding-top: 26px;
  margin-left: auto;
  max-width: 353px;
  width: 100%;
}

.house__characteristics td:first-child {
  text-align: right;
  font-size: 12px;
  line-height: 18px;
}

.house__characteristics td:last-child {
  text-align: left;
  font-weight: 600;
  font-size: 1.4vh;
  line-height: 14px;
  padding-left: 19px;
}

.house__characteristics td {
  padding-bottom: 19px;
}

.house__column {
  margin-left: auto;
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.house__cost > div {
  margin-top: 5px;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  color: #099f79;
}

.house__btns {
  margin-top: 46px;
  margin-bottom: 20px;
}

.house__btn {
  max-width: 100%;
  width: 100%;
}

.house__btn + .house__btn {
  margin-top: 13px;
}

.house__mobile-btns {
  display: none;
}

.house__mobile-btns .button {
  margin: 0 auto;
  max-width: 260px;
}

.house__btn + .house__btn {
  margin-top: 13px;
}

.house-back__link {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: auto;
  margin-left: auto;
  text-decoration: underline;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #099f79;
  transition: all 0.3s;
}
.house-back__link svg {
  margin-right: 10px;
}

.house-back__link svg path {
  fill: #099f79;
}

.house-back__link:hover svg path {
  fill: #fca82a;
}

.house-back__link:hover {
  color: #fca82a;
}

.buy-conditions {
  margin-top: 42px;
}

.buy-conditions__btn {
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
  color: #099f79;
  padding-right: 17px;
  position: relative;
}

.buy-conditions__btn.active::after {
  -webkit-transform: translateY(-50%) rotateX(180deg);
  transform: translateY(-50%) rotateX(180deg);
}

.buy-conditions__btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-image: url(../images/icons/black-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.buy-conditions__dropdown {
  padding-top: 27px;
}

.active-block {
  display: block;
}

.inactive-block {
  display: none;
}

.text-center {
  text-align: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite;
}

.buy-conditions__item + .buy-conditions__item {
  border-left: 1px solid #dddddd;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #099f79;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.buy-conditions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  border: 1px solid #dddddd;
}
.buy-conditions__item {
  max-width: 100%;
  width: 100%;
  text-align: center;
  padding: 15px 14px;
  font-size: 12px;
  line-height: 18px;
}

.buy-conditions__item-title {
  font-weight: bold;
  margin-bottom: 18px;
}

@media (max-width: 1024px) {
  .house__mobile-btns {
    display: block;
  }

  .house__btns {
    display: none;
  }

  .house__mobile-btns {
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .sale__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .house-back__link {
    margin-top: 25px;
  }

  .house__column {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    max-width: 100%;
    width: 100%;
    padding-top: 0;
  }
  .house__cost {
    margin-bottom: 40px;
  }

  .buy-conditions__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
</style>
