<template>
  <div>
    <div class="dark-back" v-if="sizeScreen !== 'desktop' && toggleSlide === false" @click="toggleSlideMenu"></div>
    <header-component></header-component>
    <div class="wrapper">
      <div class="content">
        <div class="catalog">
          <div class="container">
            <div class="filter-block" v-if="sizeScreen !== 'desktop'">
              <div class="filter-hide-mobile" :class="toggleSlide === false ? 'mobile-hide' : 'zindex'">
                <div class="filter-hide__mobile-text">
                  {{$t("find_objects")}}
                </div>
              </div>
              <div class="filter-hide__mobile-image" :class="toggleSlide === false ? 'mobile-active' : 'zindex'">
                <img :style="!toggleSlide ? { transform: 'rotateY(180deg)' } : {}" @click="toggleSlideMenu"
                  src="@/images/icons/filter-arrow.svg" alt="" />
              </div>
            </div>
            <div class="catalog__inner">
              <side-bar-component :style="
                toggleSlide && sizeScreen !== 'desktop'
                  ? { transform: 'translateX(-100%)' }
                  : { transform: 'translateX(0px)' }
              " class="side-bar"></side-bar-component>
              <div class="catalog__content">
                <div id="inc-main">
                  <!-- TOP INFO BLOCK -->
                  <div class="main-head_content">
                    <div class="title-info_content">
                      <h1>
                        <span>{{ $t("lang") == "RU" ? gkinfo.fullname : getTranslate().fullname }} </span> в {{
                        gkinfo.city }}
                      </h1>
                      <p class="minimum-price-title">
                        {{$t("lang") == "RU" ? "от" : ""}} {{ parseInt(gkinfo.pricefrom).toLocaleString('ru-RU') }}
                        <span class="symbol-ten">₸</span> {{$t("zakv")}}
                      </p>
                    </div>
                    <div class="info-content-left">
                      <div class="map-wrapper">
                        <p class="compl-in_map">Жилой комплекс на карте</p>
                        <div class="map-box" id="map" style="height: 296px">
                          <yandex-map :coords="[
                            this.gkinfo.map1 || 0,
                            this.gkinfo.map2 || 0,
                          ]" :zoom="11">
                            <ymap-marker :coords="[
                              this.gkinfo.map1 || 0,
                              this.gkinfo.map2 || 0,
                            ]" marker-id="123123" marker-type="placemark" />
                          </yandex-map>
                        </div>
                        <div class="geo-point">
                          <div class="wrapper-geo-point">
                            <div class="icon-geo">
                              <img src="@/images/residents/geo.svg" alt="" />
                            </div>
                            <p id="geo-information">{{ $t("lang") == "RU" ? gkinfo.address : getTranslate().address }}
                            </p>
                          </div>
                        </div>

                        <div class="social-links">
                          <div class="wrapper-social">
                            <img src="@/images/residents/website.svg" alt="" />
                            <a :href="'http://' + gkinfo.l_site">{{
                            gkinfo.l_site
                            }}</a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="right-slider_box">
                      <slider-component :fullPath="`/img/gk/preview/${gkinfo.id}/`" :item="gkinfo" />
                    </div>
                  </div>

                  <!-- MIDDLE INFO -->
                  <div class="wrapper-overflow">
                    <table class="table-info_apartament">
                      <tbody>
                        <tr>
                          <td>
                            <p>{{$t("home.status")}}:</p>
                          </td>
                          <td>
                            <p>{{$t("home.type")}}:</p>
                          </td>
                          <td>
                            <p>{{$t("home.square")}}:</p>
                          </td>
                          <td>
                            <p>{{$t("home.apatments")}}:</p>
                          </td>
                          <td>
                            <p>{{$t("home.height")}}:</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>{{ $t("lang") == "RU" ? gkinfo.ib_sost : getTranslate().ib_sost }}</span>
                          </td>
                          <td>
                            <span>{{ $t("lang") == "RU" ? gkinfo.ib_type : getTranslate().ib_type }}</span>
                          </td>
                          <td>
                            <span>{{ $t("lang") == "RU" ? gkinfo.ib_squ : getTranslate().ib_squ }}</span>
                          </td>
                          <td>
                            <span>{{ $t("lang") == "RU" ? gkinfo.ib_flats : getTranslate().ib_flats }}</span>
                          </td>
                          <td>
                            <span>{{ gkinfo.ib_high }}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="title-information">
                    <h2>{{ $t("lang") == "RU" ? gkinfo.fullname : getTranslate().fullname }}</h2>
                    <p>
                      {{ $t("lang") == "RU" ? gkinfo.descr : getTranslate().descr }}
                    </p>
                  </div>
                </div>

                <div class="shop-item-sort">
                  <sort-component />
                </div>
                <div class="container" v-show="total !== 0">
                  <div class="items" v-for="room of rooms" :key="room.idcrm">
                    <router-link :to="{ name: 'objects', params: { id: room.idcrm } }">
                      <div class="js-element preview shop-item-container wow fadeInUp" data-id="12850"
                        style="visibility: visible; animation-name: fadeInUp">
                        <div class="shop-item-media">
                          <a :title="room.name" class="scale-hover">
                            <div class="shop-item-on-auction"></div>
                            <span class="shop-item-category">{{
                            room.typeloc
                            }}</span>
                            <img v-if="room.pics > 0" :src="`/img/preview/${room.idcrm}/1.jpg`" :alt="room.name" />
                            <img v-else :src="`/img/noPic${room.typeloc}.jpg`" :alt="room.name" />
                          </a>
                        </div>
                        <div class="js-short-desc shop-item-body" style="height: 83px">
                          <span class="price">
                            <span class="amount">
                              {{ room.cost.toLocaleString('ru-RU') }}
                              <span class="currencySymbol">₸</span>
                            </span>
                          </span>
                          <h2 class="shop-item-title">
                            <a v-if="room.square > 0" href="#" :title="room.name">
                              Площадь {{ room.square }} кв.м</a>
                          </h2>
                        </div>
                      </div>
                    </router-link>
                  </div>
                </div>
                <div class="container_empty" v-show="total === 0">
                  <div class="container_empty-text">
                    Нет объектов удовлетворяющих условиям поиска
                  </div>
                </div>
                <pagination v-show="total !== 0" :total="total" :active="page" @activePage="getActiveObjects" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer-component></footer-component>
  </div>
</template>

<script>
import store from '@/store';
import { mapActions, mapGetters } from 'vuex';
import { yandexMap, ymapMarker } from 'vue-yandex-maps';

export default {
  components: { yandexMap, ymapMarker },
  data() {
    return {
      page: 1,
      gknames: {
        10: this.$t('resident_objects.shakhristan'),
        11: this.$t('resident_objects.miras'),
        12: this.$t('resident_objects.dostyk'),
        15: this.$t('resident_objects.esentai_apartments'),
        16: this.$t('resident_objects.nauai'),
        54: this.$t('resident_objects.nauryz'),
        67: this.$t('resident_objects.han_tengri'),
        153: this.$t('resident_objects.esentai_city'),
      },

      toggleSlide: true,
      hzcaroch: [
        {
          id: 11,
          fullname: "Miras Park  ТҮК",
          address: "Алматы қ., Мирас ы/а, 31, 1-8 блоктар",
          ib_sost: "пайдалануда",
          ib_type: "монолитті",
          ib_squ: "от 98,5 до 158,3 кв.м",
          ib_flats: " 2-, 3-, 5-бөлмелі",
          descr: "Miras Park - Алматы қаласының экологиялық қолайлы табиғи бөлігінің дәл ортасында, Іле Алатауы тауларының етегіндегі жазық үстіртте, Әл-Фараби даңғылынан 2 км жоғары орналасқан тұрғын үй кешені болып табылады. Тұрғын үй кешені жасыл шағын ауданның қоршаған ортасына оның табиғи үйлесімін бұзбай салынған."
        },
        {
          id: 67,
          fullname: "Хан Тенгри ТҮК",
          address: "Алматы қ.,  Мұстафин көшесі, 54/1-54/45",
          ib_sost: "пайдалануда",
          ib_type: "монолитті",
          ib_squ: "50,6-дан 108 шаршы метрге дейін",
          ib_flats: "1-, 2-, 3-, 4-бөлме",
          descr: "Барлығының көңілінен шығатын аула \n Барлығына сәйкес келетін аула \n Біз үйдің әрбір тұрғынының айналасындағылардан қуаныш сезінгенін қалаймыз, ал адамды шаттыққа толы балалар күлкісі мен жасыл табиғаттың ашық бояуларынан артық не қуанта алады? Сондықтан да біз кешеннің әр ауласын абаттандыруға үлкен көңіл бөлдік. Барлық аулаішілік кеңістіктер барлық жас санаттарының қажеттіліктерін ескере отырып жасалынды."
        },
        {
          id: 12,
          fullname: "Dostyk Residence ТҮК",
          address: "Алматы қ., Митин к-сі, 4-үй",
          ib_sost: "пайдалануда",
          ib_type: "монолитті",
          ib_squ: "172,6-дан 329,8 шаршы метрге дейін",
          ib_flats: "2-, 3-, 5-бөлмелі",
          descr: "Dostyk Residence – XXI ғасырда нағыз талғампаз және жайлы өмір сүруге арналған Алматы орталығындағы жылжымайтын мүлік. Ең жақсы инженерлік әзірлемелер, ерекше архитектуралық шешімдер және авторлық ландшафт дизайны – бұл Көк Төбе тауының етегінде орналасқан тұрғын үй кварталы. "
        },
        {
          id: 15,
          fullname: "Esentai Apartments ТҮК",
          address: "Алматы қ., Әл-Фараби даңғылы, 77/1 - 77/3",
          ib_sost: "пайдалануда",
          ib_type: "монолитті",
          ib_squ: "85-тен 227 шаршы метрге дейін",
          ib_flats: "2-, 3-, 4-бөлмелі",
          descr: "Esentai Apartments - Алматыдағы бірегей тұрғын үй кешені. Кешен еліміздің ең өр жобаларының бірі - Esentai Park-тың бір бөлігі болып табылады. Esentai Apartments - бұл құрылыстың әлемдік үрдістерінің көрінісі ғана емес, сонымен қатар Dior, Louis Vuitton, The Ritz-Carlton, Porsche және т.б. сияқты жетекші әлемдік брендтермен көршілес орналасқан эксклюзивті өмір салты. Кешеннің жобасын бүкіл әлемге танымал Skidmore, Owings and Merrill компаниясы әзірлеген. Тек лоббиге кіру арқылы сіз жоғары стиль мен әсемдікке бой алдырасыз. Өзінің ерекше келбетімен бұл кешен қалалық сәулеттің жарқын туындысы болып табылады."
        },
        {
          id: 54,
          fullname: "Наурыз ТҮК",
          address: "Алматы қ., Мади көшесі, 5",
          ib_sost: "пайдалануда",
          ib_type: "монолитті каркас",
          ib_squ: "112,9-330,1 ш. м",
          ib_flats: "2-, 3-, 4-бөлмелі",
          descr: "НАУРЫЗ ТҮК – бұл табиғаттың ортасында өмір сүрудің заманауи форматы, онда әр пәтерден бұрынғы «Наурыз» санаторийінің аумағында тұрғын үй кешенінің құрылысы кезінде сақталған жасыл желектің әсем көрінісі ашылады."
        }
      ],
    };
  },

  computed: {
    ...mapGetters(['totalGkObjects', 'gkinfo', 'sizeScreen']),

    rooms() {
      let from = (this.page - 1) * 15;
      let to = from + 15;
      return store.getters.gkRoomsActivePage(from, to);
    },
    total() {
      if (this.page >= store.getters.totalGk && this.page !== 1) {
        this.page = store.getters.totalGk;
      }
      return store.getters.totalGk;
    },
  },
  methods: {
    ...mapActions(['fetchObjectsGk']),

    getActiveObjects(e) {
      this.page = e;
    },

    toggleSlideMenu() {
      this.toggleSlide = !this.toggleSlide;
    },
    getTranslate() {
      var item = this.hzcaroch;
      var id = this.$router.currentRoute.value.params.id;
      var search = item.filter(function (val) {
        return val.id == id;
      })[0];
      return search;
    }
  },
  mounted() {
    store.dispatch('fetchInfoGk', this.$route.params.id);
    store.dispatch('fetchObjectsGk', this.$route.params.id);
    window.scrollTo(0, 0);
  },

  /* watch: {
    $route() {
      store.dispatch('fetchInfoGk', this.$route.params.id);
      store.dispatch('fetchObjectsGk', this.$route.params.id);
    },
  }, */
};
</script>

<style scoped>
.amount {
  font-size: 18px;
  line-height: 18px;
}

.price {
  margin: 10px 0 0 0;
}

.shop-item-body .amount {
  font: 16px/26px 'Poppins', sans-serif;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.catalog {
  margin-bottom: 65px;
}

.catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__content {
  max-width: 100%;
  width: 100%;
  padding-left: 30px;
}

.container,
.container_empty {
  display: flex;
  flex-wrap: wrap;
  min-height: 1350px;
}

.container_empty {
  min-height: 600px;
  align-items: center;
}

.items {
  width: 33%;
  padding: 0 10px 25px 10px;
}

.preview.shop-item-container {
  padding: 5px;
}

.shop-item-container {
  width: 100%;
  display: block;
  position: relative;
}

.shop-item-media {
  padding: 0;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  line-height: 0;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.shop-item-favorite {
  position: absolute;
  right: 0;
  top: 0;
}

i.shop-item-favorite {
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 20;
  background: url(@/images/icons/favorite-flag.svg) no-repeat center center;
  background-size: contain !important;
}

.shop-item-media a {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
}

a:focus {
  outline: 5px auto-webkit-focus-ring-color;
  outline-offset: -2px;
}

.scale-hover:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.scale-hover img {
  transition: all 0.4s linear;
}

.shop-item-category {
  bottom: 2px;
  left: 2px;
  z-index: 20;
  display: block;
  overflow: hidden;
  position: absolute;
  border-radius: 2px;
  background-color: #ffffff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.shop-item-category {
  color: #212121;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding: 7px 20px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.shop-item-media img {
  /* height: 160px; */
  object-fit: cover;
  width: 100%;
}

.shop-item-body {
  padding: 0;
  z-index: 11;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

.container_empty-text {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

.main-head_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title-info_content {
  width: 100%;
}

.title-info_content h1 {
  color: #0a4f3d;
  font-weight: 600;
  font-size: 35px;
}

.minimum-price-title {
  color: #099f79;
  font-weight: 600;
  font-size: 25px;
  margin-top: 35px;
}

.info-content-left {
  width: 50%;
}

.map-wrapper {
  margin-top: 20px;
  padding-right: 15px;
}

.map-wrapper p {
  color: #828282;
  font-weight: normal;
  font-size: 10px;
}

.geo-point {
  margin-top: 25px;
}

.wrapper-geo-point {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#geo-information {
  font-weight: normal;
  font-size: 12px;
  color: #0a4f3d;
  margin-left: 5px;
}

.social-links {
  margin-top: 30px;
}

.wrapper-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.wrapper-social a {
  color: #0a4f3d;
  font-weight: normal;
  font-size: 12px;
  margin-left: 10px;
}

.right-slider_box {
  width: 50%;
  position: relative;
  padding-top: 35px;
}

.table-info_apartament {
  background: #fbfbfb;
  border-radius: 12px;
  width: 100%;
  width: 776px;
  padding: 10px;
  margin-top: 20px;
}

.table-info_apartament td {
  width: 20%;
  padding: 10px;
}

.table-info_apartament td p {
  font-weight: bold;
  font-size: 12px;
  color: #333333;
}

#inc-main {
  max-width: 825px;
  background: #f2f2f2;
  border-radius: 15px;
  width: 100%;
  padding: 20px 17px;
  margin: 0 auto;
}

.title-information h1,
.title-information h2 {
  font-weight: bold;
  font-size: 20px;
  color: #0a4f3d;
  margin: 25px 0 15px 0;
}

.shop-item-sort {
  margin: 15px 0;
}

.title-information p {
  color: #828282;
  font-weight: normal;
  font-size: 1.4vh;
  line-height: 150%;
}

.filter-hide-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 110;
}

.filter-hide-mobile {
  position: absolute;
  top: 150px;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0a4f3d;
  border-radius: 0px 15px 15px 0px;
  color: #fff;
  padding: 14px 37px 14px 0;
  font-weight: bold;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 30px;
  transition: all 0.4s linear;
}

.filter-hide-mobile::before {
  content: '';
  width: calc(100vw - 1112px);
  min-width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: #0a4f3d;
}

.filter-hide__mobile-image {
  position: absolute;
  left: 345px;
  top: 155px;
  width: 40px;
  height: 40px;
  background-color: #099f79;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s linear;
}

.filter-hide__mobile-image img {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 1024px) {
  .filter-hide__mobile-image {
    z-index: 120;
  }

  .catalog__content {
    padding-left: 0;
  }

  .side-bar {
    transition: all 0.4s;
  }

  .dark-back {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #000000;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    visibility: visible;
    opacity: 0.5;
    z-index: 101;
  }

  .catalog__content {
    margin-top: 90px;
  }

  .zindex {
    z-index: 100;
  }
}

@media (max-width: 768px) {
  .items {
    width: 50%;
  }

  .main-head_content {
    flex-wrap: wrap;
  }

  .info-content-left {
    width: 100%;
  }

  .map-wrapper {
    margin-top: 20px;
    padding-right: 0px;
  }

  .right-slider_box {
    margin-top: 35px;
    width: 100%;
  }

  .wrapper-overflow {
    overflow-x: scroll;
  }

  .catalog__inner {
    width: 100%;
  }

  .title-info_content h1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .items {
    width: 100%;
    padding: 0 10px;
  }

  .items a {
    width: 100%;
  }

  .catalog__content {
    padding-left: 0;
  }

  .container {
    padding: 0 5px;
    justify-content: center;
  }

  .filter-hide__mobile-text {
    max-width: 195px;
    font-size: 12px;
    line-height: 18px;
  }

  .filter-hide__mobile-image {
    left: 225px;
  }

  .filter-hide-mobile {
    left: 20px;
  }

  .filter {
    width: unset;
  }

  .mobile-active {
    left: 315px;
    transition: all 0.4s linear;
  }

  .mobile-hide {
    transform: translateX(-100%);
    left: 0;
    transition: all 0.4s linear;
  }
}
</style>
