<template>
  <div>
    <div class="dark-back" v-if="sizeScreen !== 'desktop' && toggleSlide === false" @click="toggleSlideMenu"></div>
    <header-component></header-component>
    <div class="wrapper">
      <div class="content">
        <div class="catalog">
          <div class="container">
            <div class="filter-block" v-if="sizeScreen !== 'desktop'">
              <div class="filter-hide-mobile" :class="toggleSlide === false ? 'mobile-hide' : 'zindex'">
                <div class="filter-hide__mobile-text">
                  {{$t("find_objects")}}
                </div>
              </div>
              <div class="filter-hide__mobile-image" :class="toggleSlide === false ? 'mobile-active' : 'zindex'">
                <img :style="!toggleSlide ? { transform: 'rotateY(180deg)' } : {}" @click="toggleSlideMenu"
                  src="@/images/icons/filter-arrow.svg" alt="" />
              </div>
            </div>
            <div class="catalog__inner">
              <side-bar-component :style="
                toggleSlide && sizeScreen !== 'desktop'
                  ? { transform: 'translateX(-100%)' }
                  : { transform: 'translateX(0px)' }
              " class="side-bar"></side-bar-component>
              <div class="catalog__content">
                <div class="shop-item-sort">
                  <sort-component />
                </div>
                <div class="container" v-show="total !== 0">
                  <div class="items" v-for="room of rooms" :key="room.idcrm">
                    <router-link :to="{ name: 'objects', params: { id: room.idcrm } }">
                      <div class="js-element preview shop-item-container wow fadeInUp" data-id="12850"
                        style="visibility: visible; animation-name: fadeInUp">
                        <div class="shop-item-media">
                          <a :title="room.name" class="scale-hover">
                            <div class="shop-item-on-auction"></div>
                            <span class="shop-item-category">{{
                            room.typeloc
                            }}</span>
                            <img v-if="room.pics > 0" :src="`/img/preview/${room.idcrm}/1.jpg`" :alt="room.name" />
                            <img v-else :src="`/img/noPic${room.typeloc}.jpg`" :alt="room.name" />
                          </a>
                        </div>
                        <div class="js-short-desc shop-item-body">
                          <span class="price">
                            <span class="amount">
                              {{ room.cost.toLocaleString('ru-RU') }}
                              <span class="currencySymbol">₸</span>
                            </span>
                          </span>
                          <h2 class="shop-item-title">
                            <a v-if="room.square > 0" href="#" :title="room.name">
                              Площадь {{ room.square }} кв.м</a>
                          </h2>
                          <span> Адрес: {{ room.address }} </span>
                        </div>
                      </div>
                    </router-link>
                  </div>
                </div>
                <div class="container" v-show="total === 0">
                  <div class="container_empty-text">
                    Нет объектов удовлетворяющих условиям поиска
                  </div>
                </div>
                <pagination v-show="total !== 0" :total="total" :active="page" @activePage="getActiveObjects" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer-component></footer-component>
  </div>
</template>

<script>
import store from '@/store';
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      page: 1,
      gknames: {
        67: this.$t('resident_objects.han_tengri'),
        11: this.$t('resident_objects.miras'),
        54: this.$t('resident_objects.nauryz'),
        15: this.$t('resident_objects.esentai_apartments'),
        12: this.$t('resident_objects.dostyk')
      },
      komnatnost: {
        1: '1-я'
      },
      color: 'green',
      toggleSlide: true,
    };
  },
  computed: {
    ...mapGetters(['totalObjects', 'sizeScreen']),
    rooms() {
      let from = (this.page - 1) * 15;
      let to = from + 15;
      return store.getters.roomsActivePage(from, to);
    },
    total() {
      if (this.page >= store.getters.total && this.page !== 1) {
        this.page = store.getters.total;
      }
      return store.getters.total;
    },
  },
  methods: {
    ...mapActions(['ApiGetAllObjects']),
    getActiveObjects(e) {
      this.page = e;
    },
    toggleSlideMenu() {
      this.toggleSlide = !this.toggleSlide;
    },
  },
  mounted() {
    store.dispatch('ApiGetAllObjects', { payload: 2, filter: { ...this.$route.params } });
    window.scrollTo(0, 0);
  },
  watch: {
    $route(to, from) {
      store.dispatch('ApiGetAllObjects', {
        payload: 2,
        filter: { ...this.$route.params },
      });
    },
  },
};
</script>

<style scoped>
.amount {
  font-size: 18px;
  line-height: 18px;
}

.price {
  margin: 10px 0 0 0;
}

.shop-item-body .amount {
  font: 16px/26px 'Poppins', sans-serif;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.catalog {
  margin-bottom: 65px;
}

.catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__content {
  max-width: 100%;
  width: 100%;
  padding-left: 30px;
}

.container,
.container_empty {
  display: flex;
  flex-wrap: wrap;
  min-height: 1350px;
  align-content: flex-start;
}

.container_empty {
  min-height: 600px;
  align-items: center;
}

.items {
  width: 33%;
  padding: 0 10px 25px 10px;
}

.preview.shop-item-container {
  padding: 5px;
}

.shop-item-container {
  width: 100%;
  display: block;
  position: relative;
}

.shop-item-media {
  padding: 0;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  line-height: 0;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.shop-item-sort {
  width: 100%;
  float: left;
  clear: left;
  line-height: 42px;
  margin: 0 auto 10px;
}

.shop-item-media a {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
}

a:focus {
  outline: 5px auto-webkit-focus-ring-color;
  outline-offset: -2px;
}

.scale-hover:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.scale-hover img {
  transition: all 0.4s linear;
}

.shop-item-category {
  bottom: 2px;
  left: 2px;
  z-index: 20;
  display: block;
  overflow: hidden;
  position: absolute;
  border-radius: 2px;
  background-color: #ffffff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.shop-item-category {
  color: #212121;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding: 7px 20px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.shop-item-media img {
  /* height: 160px; */
  object-fit: cover;
  width: 100%;
}

.shop-item-body {
  padding: 0;
  z-index: 11;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

.container_empty-text {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

.filter-hide-mobile {
  position: absolute;
  top: 150px;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0a4f3d;
  border-radius: 0px 15px 15px 0px;
  color: #fff;
  padding: 14px 37px 14px 0;
  font-weight: bold;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 30px;
  transition: all 0.4s linear;
}

.filter-hide-mobile::before {
  content: '';
  width: calc(100vw - 1112px);
  min-width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: #0a4f3d;
}

.filter-hide__mobile-image {
  position: absolute;
  left: 345px;
  top: 155px;
  width: 40px;
  height: 40px;
  background-color: #099f79;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s linear;
}

.filter-hide__mobile-image img {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 1024px) {
  .filter-hide__mobile-image {
    z-index: 120;
  }

  .side-bar {
    transition: all 0.4s linear;
  }

  .dark-back {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #000000;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    visibility: visible;
    opacity: 0.5;
    z-index: 101;
  }

  .catalog__content {
    margin-top: 80px;
  }

  .zindex {
    z-index: 100;
  }
}

@media (max-width: 768px) {
  .items {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .items {
    width: 100%;
    padding: 0 10px;
  }

  .items a {
    width: 100%;
  }

  .catalog__content {
    padding-left: 0;
  }

  .container {
    padding: 0 5px;
    justify-content: center;
  }

  .filter-hide__mobile-text {
    max-width: 195px;
    font-size: 12px;
    line-height: 18px;
  }

  .filter-hide__mobile-image {
    left: 225px;
  }

  .filter-hide-mobile {
    left: 20px;
  }

  .filter {
    width: unset;
  }

  .mobile-active {
    left: 315px;
    transition: all 0.4s linear;
  }

  .mobile-hide {
    transform: translateX(-100%);
    left: 0;
    transition: all 0.4s linear;
  }
}
</style>
