<template>
  <div class="wrapper">
    <header-component />
    <div class="container">
      <AmBreadcrumbs :showCurrentCrumb="true" class="breadcrubs_halyk" />
    </div>
    <section class="vacancy">
      <div class="container">
        <div class="vacancy__inner">
          <div class="vacancy__content">
            <h1
              class="vacancy__title title anim-items anim-no-hide anim-show _active"
            >
              ВАКАНСИИ ХАЛЫК АКТИВ
            </h1>
            <p
              class="vacancy__text text anim-items anim-no-hide anim-show anim-with-delay _active"
            >
              HALYK АКТИВ - это компания-лидер по управлению стрессовыми
              активами в сфере жилой и коммерческой недвижимости.
              <br />
              <br />
              Является дочерней компанией АО "Народный Банк Казахстана".
              <br />
              <br />
              В портфель компании входят такие жилые комплексы как: Шахристан,
              AFD Plaza, Dostyk Residence и Мирас Парк.
              <br />
              <br />
              В настоящий момент в нашу команду требуются:
            </p>
          </div>
          <div class="vacancy__image anim-items anim-no-hide anim-show _active">
            <img class="dp-block" src="@/images/vacancy.jpg" alt="" />
          </div>
        </div>
        <div class="vacancy__accordions">
          <div
            class="accordion anim-items anim-no-hide anim-show _active"
            v-for="vacancy in vacancies"
            :key="vacancy.id"
          >
            <button class="accordion__btn" @click="toggleAccordion">
              {{ vacancy.vacancy }}
            </button>
            <div class="accordion__dropdown" style="display: none">
              <p class="vacancy__accordions-text text">
                <span class="title-span">Требуемый опыт работы:</span><br />
                <div v-html="vacancy.experience"></div>
                <span class="title-span">Обязанности:</span>
                <div v-html="vacancy.responsibilities"></div>
                <span class="title-span">Условия:</span>
                <div v-html="vacancy.terms"></div>
              </p>
              <a

                @click="showRespond()"
                class="vacancy__accordions-btn button button-green"
              >
                Откликнуться
              </a>
            </div>
          </div>
        </div>
        <div class="vacancy__request anim-items anim-no-hide _active">
          <div class="vacancy__request-title title-smll anim-show">
            Нет подходящей вакансии?
          </div>
          <p class="vacancy__request-text text anim-show anim-with-delay">
            Вы можете отправить нам ваше резюме, используя форму ниже. Наш отдел
            кадров свяжется с вами в случае открытия подходящей вакансии:
          </p>
          <div class="vacancy__request-form anim-show anim-with-delay">
            <form v-if="showMessage == false" enctype="multipart/form-data">
              <div class="form-field">
                <div class="form-field__name">{{$t('your_name')}}</div>
                <input
                  type="text"
                  class="input"
                  :class="{ invalid: shErrorN }"
                  placeholder="Айгерим"
                  maxlength="25"
                  v-model="inName"
                />
              </div>
              <div class="form-field">
                <div class="form-field__name">{{$t("your_phone")}}</div>
                <input
                  type="tel"
                  class="input hidecur"
                  :class="{ invalid: shErrorP }"
                  v-model="inPhoneF"
                  @keydown="isNumber"
                />
              </div>
              <div class="form-field">
                <div class="form-field__name">{{$t("your_email")}}</div>
                <input
                  type="text"
                  class="input"
                  :class="{ invalid: shErrorM }"
                  placeholder="example@mail.ru"
                  v-model="inMail"
                  @keyup="validateEmail"
                />
              </div>
              <div class="form-field big-field">
                <div class="form-field__name">{{$t("your_message")}}</div>
                <textarea class="input" :placeholder="$t('your_message')"></textarea>
                <div class="form-field__name">Ваше сообщение</div>
                <textarea class="input inptxt" placeholder="Ваше сообщение" v-model="inMessage"></textarea>
              </div>
              <div class="vacancy__request-btns">
                <label class="fake-file">
                  <input type="file" @change="onAttachmentChange">
                  <div class="fake-file__input">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.1276 6.07347L9.06272 4.13835V14.375C9.06272 14.6237 9.16149 14.8621 9.3373 15.0379C9.51312 15.2138 9.75157 15.3125 10.0002 15.3125C10.2489 15.3125 10.4873 15.2138 10.6631 15.0379C10.8389 14.8621 10.9377 14.6237 10.9377 14.375V4.13835L12.8728 6.07347C12.9598 6.16091 13.0632 6.23034 13.177 6.27777C13.2909 6.3252 13.4129 6.3497 13.5363 6.34986C13.6596 6.35003 13.7817 6.32586 13.8957 6.27874C14.0097 6.23163 14.1132 6.16248 14.2004 6.07528C14.2877 5.98807 14.3568 5.88451 14.4039 5.77054C14.451 5.65657 14.4752 5.53442 14.475 5.41109C14.4749 5.28776 14.4504 5.16568 14.4029 5.05183C14.3555 4.93799 14.2861 4.83462 14.1986 4.74765L10.6631 1.2121C10.5761 1.12504 10.4727 1.05598 10.359 1.00887C10.2452 0.961751 10.1233 0.9375 10.0002 0.9375C9.8771 0.9375 9.75518 0.961751 9.64144 1.00887C9.52769 1.05598 9.42434 1.12504 9.33729 1.2121L5.80178 4.74765C5.71434 4.83462 5.64492 4.93799 5.59749 5.05183C5.55006 5.16568 5.52556 5.28776 5.52539 5.41109C5.52522 5.53442 5.54939 5.65657 5.59651 5.77054C5.64363 5.88451 5.71277 5.98807 5.79998 6.07528C5.88718 6.16248 5.99074 6.23163 6.10471 6.27874C6.21869 6.32586 6.34084 6.35003 6.46416 6.34986C6.58749 6.3497 6.70958 6.3252 6.82342 6.27777C6.93726 6.23034 7.04063 6.16091 7.1276 6.07347Z"
                        fill="#099F79"
                      ></path>
                      <path
                        d="M18.125 9.0625C17.8764 9.0625 17.6379 9.16127 17.4621 9.33709C17.2863 9.5129 17.1875 9.75136 17.1875 10V17.1875H2.8125V10C2.8125 9.75136 2.71373 9.5129 2.53791 9.33709C2.3621 9.16127 2.12364 9.0625 1.875 9.0625C1.62636 9.0625 1.3879 9.16127 1.21209 9.33709C1.03627 9.5129 0.9375 9.75136 0.9375 10V17.5C0.9375 17.9144 1.10212 18.3118 1.39515 18.6049C1.68817 18.8979 2.0856 19.0625 2.5 19.0625H17.5C17.9144 19.0625 18.3118 18.8979 18.6049 18.6049C18.8979 18.3118 19.0625 17.9144 19.0625 17.5V10C19.0625 9.75136 18.9637 9.5129 18.7879 9.33709C18.6121 9.16127 18.3736 9.0625 18.125 9.0625Z"
                        fill="#099F79"
                      ></path>
                    </svg>
                    Загрузить резюме
                  </div>
                </label>
                <button
                    class="button button-green vacancy__request-btn"
                    @click="uploadCV"
                >
                  {{$t("send")}}
                </button>
              </div>
            </form>
            <div v-else class="form-field big-field respMess" v-show="showMessage">
              {{ respMessage }}
            </div>
          </div>
        </div>
      </div>
      <Modal v-show="isRespond" @close="closeRespond">
        <template v-slot:body>
          <div class="vacancy__request anim-items anim-no-hide _active">
            <p class="vacancy__request-text text anim-show anim-with-delay">
              Вы можете отправить нам ваше резюме, используя форму ниже. Наш отдел
              кадров свяжется с вами:
            </p>
            <div class="vacancy__request-form anim-show anim-with-delay">
              <form action="">
                <div class="form-field">
                  <div class="form-field__name">{{$t('your_name')}}</div>
                  <input type="text" class="input" placeholder="Айгерим" required="" />
                </div>
                <div class="form-field">
                  <div class="form-field__name">{{$t("your_phone")}}</div>
                  <input type="tel"
                  class="input hidecur"
                  :class="{ invalid: shErrorP }"
                  v-model="inPhoneF"
                  @keydown="isNumber" />
                </div>
                <div class="form-field">
                  <div class="form-field__name">{{$t("your_email")}}</div>
                  <input type="text" class="input" placeholder="example@mail.ru" required="" />
                </div>
                <div class="form-field big-field">
                  <div class="form-field__name">{{$t("your_message")}}</div>
                  <textarea class="input" :placeholder="$t('your_message')"></textarea>
                </div>
                <div class="vacancy__request-btns">
                  <label class="fake-file">
                    <input type="file" />
                    <div class="fake-file__input">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.1276 6.07347L9.06272 4.13835V14.375C9.06272 14.6237 9.16149 14.8621 9.3373 15.0379C9.51312 15.2138 9.75157 15.3125 10.0002 15.3125C10.2489 15.3125 10.4873 15.2138 10.6631 15.0379C10.8389 14.8621 10.9377 14.6237 10.9377 14.375V4.13835L12.8728 6.07347C12.9598 6.16091 13.0632 6.23034 13.177 6.27777C13.2909 6.3252 13.4129 6.3497 13.5363 6.34986C13.6596 6.35003 13.7817 6.32586 13.8957 6.27874C14.0097 6.23163 14.1132 6.16248 14.2004 6.07528C14.2877 5.98807 14.3568 5.88451 14.4039 5.77054C14.451 5.65657 14.4752 5.53442 14.475 5.41109C14.4749 5.28776 14.4504 5.16568 14.4029 5.05183C14.3555 4.93799 14.2861 4.83462 14.1986 4.74765L10.6631 1.2121C10.5761 1.12504 10.4727 1.05598 10.359 1.00887C10.2452 0.961751 10.1233 0.9375 10.0002 0.9375C9.8771 0.9375 9.75518 0.961751 9.64144 1.00887C9.52769 1.05598 9.42434 1.12504 9.33729 1.2121L5.80178 4.74765C5.71434 4.83462 5.64492 4.93799 5.59749 5.05183C5.55006 5.16568 5.52556 5.28776 5.52539 5.41109C5.52522 5.53442 5.54939 5.65657 5.59651 5.77054C5.64363 5.88451 5.71277 5.98807 5.79998 6.07528C5.88718 6.16248 5.99074 6.23163 6.10471 6.27874C6.21869 6.32586 6.34084 6.35003 6.46416 6.34986C6.58749 6.3497 6.70958 6.3252 6.82342 6.27777C6.93726 6.23034 7.04063 6.16091 7.1276 6.07347Z"
                          fill="#099F79"></path>
                        <path
                          d="M18.125 9.0625C17.8764 9.0625 17.6379 9.16127 17.4621 9.33709C17.2863 9.5129 17.1875 9.75136 17.1875 10V17.1875H2.8125V10C2.8125 9.75136 2.71373 9.5129 2.53791 9.33709C2.3621 9.16127 2.12364 9.0625 1.875 9.0625C1.62636 9.0625 1.3879 9.16127 1.21209 9.33709C1.03627 9.5129 0.9375 9.75136 0.9375 10V17.5C0.9375 17.9144 1.10212 18.3118 1.39515 18.6049C1.68817 18.8979 2.0856 19.0625 2.5 19.0625H17.5C17.9144 19.0625 18.3118 18.8979 18.6049 18.6049C18.8979 18.3118 19.0625 17.9144 19.0625 17.5V10C19.0625 9.75136 18.9637 9.5129 18.7879 9.33709C18.6121 9.16127 18.3736 9.0625 18.125 9.0625Z"
                          fill="#099F79"></path>
                      </svg>
                      Загрузить резюме
                    </div>
                  </label>
                  <button-green class="button button-green vacancy__request-btn">
                    {{$t("send")}}
                  </button-green>
                </div>
              </form>
            </div>
          </div>
        </template>
      </Modal>
    </section>

    <footer-component></footer-component>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      inName: "",
      inPhone: "",
      PhoneF: "+7(***)***-**-**",
      inMail: "",
      inMessage: "",
      attachment: null,
      showMessage: false,
      respMessage: "",
      shErrorN: false,
      shErrorP: false,
      shErrorM: false,
      regM: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
      vacancies: [],
      isRespond: false,
    };
  },
  methods: {
    onAttachmentChange (e) {
      this.attachment = e.target.files[0]
    },
    uploadCV(e) {
      e.preventDefault();

      if(this.inName == "")
        this.shErrorN = true;
      else
        this.shErrorN = false;

      if(this.inPhone == "")
        this.shErrorP = true;
      else
        this.shErrorP = false;

      if(this.inMail == "" || this.regM.test(this.inMail)!=true)
        this.shErrorM = true;
      else
        this.shErrorM = false;

      if(this.showMessage || this.shErrorN || this.shErrorP || this.shErrorM)
        return

      const config = { 'content-type': 'multipart/form-data' }
      const formData = new FormData()
      formData.append('uploadcv', "vacancy")
      formData.append('name', this.inName)
      formData.append('phone', this.inPhone)
      formData.append('email', this.inMail)
      formData.append('message', this.inMessage)
      formData.append('attachment', this.attachment)

      axios.post('/data/vacancy.php', formData, config)
          .then(response => { this.respMessage = response.data.message, this.showMessage = true })
          .catch(error => { this.respMessage = error, this.showMessage = true })
    },
    validateEmail() {
      if(this.regM.test(this.inMail))
        this.shErrorM = false
      else
        this.shErrorM = true
    },
    isNumber(evt) {
      const charCode = evt.keyCode;
      if (evt.key === "Backspace" || evt.key === "Delete"){
        let tmp = Array.from(this.inPhone)
        tmp.pop();
        this.inPhone = tmp.join('');
      }
      if(this.inPhone.length < 10)
        if( charCode > 47 && charCode < 58)
          this.inPhone += evt.key;

      evt.preventDefault();
    },
    fetchAllVacancies() {
      axios
        .get('/data/vacancy.json')
        .then((vac) => (this.vacancies = vac.data))
        .catch((err) => console.log(err));
    },
    showRespond() {
      this.isRespond = true;
    },
    closeRespond() {
      this.isRespond = false;
    },
    toggleAccordion(e) {
      console.log(e);
      if (e.target.className.indexOf('active') !== -1) {
        e.target.className = 'accordion__btn';
        e.target.nextSibling.style.display = 'none';
      } else {
        e.target.className = 'accordion__btn active';
        e.target.nextSibling.style.display = 'block';
      }
    },
  },
  computed: {
    inPhoneF() {
      let form = Array.from(this.PhoneF);
      let phin = Array.from(this.inPhone);
      let out = "";
      let onelet = '';
      let tmp = "";
      while (onelet = form.shift()) {
        if(onelet == '*')
          if(tmp = phin.shift())
            out += tmp;
          else
            out += "_";
        else
          out += onelet;
      }
      return out;
    },
  },
  mounted() {
    this.fetchAllVacancies();
    window.scrollTo(0, 0);
  },
};
</script>

<style scoped>
.vacancy {
  margin-bottom: 100px;
}
.inptxt {
  height: 150px;
}
.input.invalid {
  border-color: #eb5757;
}
.respMess{
  text-align: center;
  font-weight: bold;
}
.hidecur {
  caret-color: transparent;
}
.vacancy__title {
  margin-bottom: 40px;
}
.vacancy__content {
  max-width: 510px;
  width: 100%;
  margin-right: 50px;
}
.vacancy__image {
  margin-top: 18px;
}
.vacancy__image img {
  max-width: 100%;
  border-radius: 15px;
}
.vacancy__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.vacancy__accordions {
  margin-top: 52px;
  margin-bottom: 107px;
}

.vacancy__accordions .accordion + .accordion {
  margin-top: 10px;
}
.accordion__btn {
  outline: unset;
  width: 100%;
  position: relative;
  text-align: left;
  background-color: #d6ece6;
  border-radius: 15px;
  padding: 20px 50px 20px 30px;
  font-weight: 500;
  line-height: 17px;
  z-index: 1;
}

.accordion__btn::after {
  content: '';
  position: absolute;
  right: 19px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../images/icons/black-arrow-down.svg) no-repeat;
  background-position: center;
  width: 11px;
  height: 6px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.accordion__btn.active::after {
  -webkit-transform: translateY(-50%) rotateX(180deg);
  transform: translateY(-50%) rotateX(180deg);
}

.accordion__dropdown {
  display: none;
  -webkit-transform: translateY(-14px);
  -ms-transform: translateY(-14px);
  transform: translateY(-14px);
  padding: 32px 28px 60px;
  background-color: #ffffff;
  border: 2px solid #d6ece6;
  border-radius: 0 0 15px 15px;
  transition: all 0.5s;
}

.vacancy__accordions-btn {
  margin: 50px auto 0;
}

.vacancy__request-title {
  margin-bottom: 33px;
}

.vacancy__request-text {
  margin-bottom: 40px;
}

.vacancy__request-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -18px;
  margin-left: -30px;
}

.vacancy__request-form form .form-field {
  max-width: calc(33.33% - 30px);
  width: 100%;
  margin-left: 30px;
  margin-top: 18px;
}

.form-field__name {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 2px;
}

.form-field .input {
  max-width: 100%;
  width: 100%;
}

.vacancy__request-form form .form-field.big-field {
  max-width: 100%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 13px 33px;
  font-size: 1.4vh;
  line-height: 17px;
  font-weight: 600;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 45px;
  text-align: center;
}

.button.button-green {
  background-color: #099f79;
  color: #fff;
}

.button.button-green:hover,
.button.button-green:active {
  background-color: #fca82a;
}

.vacancy__request-btns {
  margin-left: 30px;
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.fake-file {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.fake-file__input:hover {
  color: #fff;
  background-color: #099f79;
}

.fake-file input {
  display: none;
}

.fake-file__input {
  cursor: pointer;
  height: 45px;
  font-weight: 600;
  font-size: 1.4vh;
  line-height: 20px;
  color: #099f79;
  border: 2px solid #099f79;
  border-radius: 30px;
  padding: 12px 14px 12px 40px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.fake-file__input svg {
  position: absolute;
  left: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fake-file__input svg path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.vacancy__request-btn {
  margin-left: 20px;
  max-width: 200px;
  width: 100%;
}
@media (max-width: 768px) {
  .vacancy__inner {
    display: block;
  }

  .vacancy__content {
    max-width: 100%;
  }

  .vacancy__image {
    margin-top: 50px;
  }

  .vacancy__request-form form .form-field {
    max-width: calc(50% - 30px);
  }

  .vacancy__request-form form .form-field.big-field {
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 470px) {
  .vacancy__inner {
    display: block;
  }
  .vacancy__content {
    max-width: 100%;
  }

  .vacancy__image {
    margin-top: 50px;
  }

  .vacancy__accordions {
    margin-bottom: 80px;
  }

  .vacancy__request-form form .form-field {
    max-width: calc(100% - 30px);
  }

  .vacancy__request-form form .form-field.big-field {
    max-width: calc(100% - 30px);
  }

  .vacancy__request-btns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .vacancy__request-btns .fake-file {
    margin-bottom: 16px;
  }

  .vacancy__request-btns .fake-file,
  .vacancy__request-btns .button {
    max-width: 289px;
    width: 100%;
    margin: 0 auto;
  }

  .vacancy__request-btns .fake-file__input {
    text-align: center;
    padding: 10px 40px;
  }

  .vacancy__request-btns .fake-file svg {
    left: 27px;
  }

  .vacancy__request-btns .fake-file {
    margin-bottom: 16px;
  }
}
</style>
