/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
* {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}

section {
  background-color: #fff;
}

section.without-bg {
  background-color: unset;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a.to-green {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a.to-green:hover {
  color: #099f79;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #0a4f3d;
}

.title-smll {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0a4f3d;
}

._active {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.adaptive-img {
  max-width: 100%;
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
}

.breadcrubs_halyk {
  color: #ccc;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper {
  padding-top: 120px;
  font-weight: normal;
  font-size: 1.4vh;
  line-height: 150%;
  background-color: #fff;
  position: relative;
  color: #333;
}

section.without-bg {
  background-color: unset;
}

.fake-checkbox {
  cursor: pointer;
}

.title-yel-green {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: #099f79;
  padding-bottom: 10px;
  position: relative;
}

.title-yel-green span {
  color: #fca82a;
}

.title-yel-green::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95px;
  height: 2px;
  border-radius: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#099f79),
    to(#f9b101)
  );
  background: -o-linear-gradient(left, #099f79, #f9b101);
  background: linear-gradient(to right, #099f79, #f9b101);
}

.link-read {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #099f79;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  padding-right: 24px;
}

.link-read svg {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
.select {
  max-width: 100%;
  width: 100%;
}

.fake-checkbox__circle {
  width: 20px;
  height: 20px;
  border: 2px solid #099f79;
  border-radius: 50%;
  position: relative;
}

.fake-checkbox__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.fake-checkbox
  > input:checked
  + .fake-checkbox__content
  .fake-checkbox__circle::after {
  opacity: 1;
}

.fake-checkbox__circle::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #099f79;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.fake-checkbox__text {
  margin-left: 8px;
  font-size: 12px;
  line-height: 14px;
}

.fake-checkbox > input {
  display: none;
}

button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

.input {
  outline: unset;
  background-color: #f0f7f5;
  border: 2px solid #f0f7f5;
  border-radius: 30px;
  height: 45px;
  padding: 0 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 12px;
  line-height: 28px;
  color: #333;
}
.ymap-container {
  height: 100%;
}
.title-span {
  font-weight: bold;
  color: #0a4f3d;
}

.text {
  color: #828282;
}

.link-underline {
  font-weight: bold;
  color: #099f79;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.link-underline:hover {
  color: #fca82a;
}

.carousel .carousel__next,
.carousel .carousel__prev {
  bottom: -17px;
  top: unset;
  min-width: 70px;
  background-color: #099f79;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  padding: 14px 10px 16px;
  border-radius: 10px 10px 0 0;
  height: 35px;
  text-align: center;
  font-weight: 600;
  transition: all 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
}

.carousel .carousel__next:hover,
.carousel .carousel__prev:hover {
  background-color: #fca82a;
}

.carousel .carousel__prev {
  left: 35%;
}

.carousel .carousel__next {
  right: 35%;
}

.carousel .carousel__next::after,
.carousel .carousel__prev::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 10px;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-15px, -3px);
}

.carousel .carousel__next::after {
  background-image: url(/src/images/icons/long-arrow-right.svg);
}

.carousel .carousel__prev::after {
  background-image: url(/src/images/icons/long-arrow-left.svg);
}

.carousel .carousel__pagination {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  opacity: 60%;
  border-radius: 10px;
}

.carousel .carousel__icon {
  display: none;
}

.carousel .carousel__pagination-button {
  background-color: #fff;
  margin: unset;
  width: 20px;
  height: 10px;
}

.carousel .carousel__pagination-button--active {
  background-color: #099f79;
}
