<template>
  <div class="calculation__wrapper anim-items anim-no-hide _active">
    <div class="calculation__form anim-show">
      <div class="calculation__row pay-types">
        <div class="fake-checkbox__content">
          <div class="fake-checkbox__block">
            <input
              class="fake-checkbox__circle"
              type="radio"
              value="1"
              @change="chnType()"
              v-model="cl_type"
            />
            <label class="fake-checkbox__text" for="one">{{$t("hypothec_calculator.name")}}</label>
          </div>
          <div class="fake-checkbox__block" style="display: none">
            <input
              class="fake-checkbox__circle"
              type="radio"
              value="2"
              @change="chnType()"
              v-model="cl_type"
            />
            <label class="fake-checkbox__text" for="two">{{$t("hypothec_calculator.installment")}}</label>
          </div>
          <div class="fake-checkbox__block">
            <input
              class="fake-checkbox__circle"
              type="radio"
              value="3"
              @change="chnType()"
              v-model="cl_type"
            />
            <label class="fake-checkbox__text" for="three"
              >{{$t("hypothec_calculator.rent")}}</label
            >
          </div>
        </div>
      </div>
      <div class="input-field sibling-margin">
        <div class="input-field__name">{{$t("hypothec_calculator.price")}}</div>
        <div class="input-field__wrapper">
          <div class="range-slider">
            <input
              type="text"
              class="input input-contribution-field"
              v-model="outCostt"
              @change="setCostIn($event)"
              @keyup="refactor($event)"
            />
            <input
              type="range"
              class="slider"
              step="1000"
              :min="clsl_minpay"
              :max="clsl_maxpay"
              v-model="cl_cost"
              @input="setCost()"
            />
          </div>
          <div class="input-field__unit">₸</div>
        </div>
      </div>
      <div class="input-field sibling-margin">
        <div class="input-field__name">{{$t("hypothec_calculator.first_pay")}}</div>
        <div class="input-field__wrapper">
          <div class="range-slider">
            <input
              type="text"
              class="input input-contribution-field"
              v-model="outFPay"
              @change="setFPayIn($event)"
              @keyup="refactor($event)"
            />
            <input
              type="range"
              class="slider"
              step="1000"
              :min="clsl_minfpay"
              :max="clsl_maxfpay"
              v-model="cl_fpay"
            />
          </div>
          <div class="input-field__unit">₸</div>
        </div>
      </div>
      <div class="input-field sibling-margin">
        <div class="input-field__name">{{$t("hypothec_calculator.terms")}}</div>
        <div class="input-field__wrapper">
          <div class="range-slider">
            <input
              type="text"
              class="input input-time-field"
              v-model="outTerm"
              @change="setTermIn($event)"
            />
            <input
              type="range"
              class="slider"
              step="1"
              min="1"
              :max="cl_maxterm"
              v-model="cl_term"
            />
          </div>
          <div class="input-field__unit">
            {{ cl_termmon === 0 ? this.$t("hypothec_calculator.years") : this.$t("month") }}
          </div>
        </div>
      </div>
    </div>
    <div class="calculation__result anim-show">
      <div class="calculation__result-top">{{$t("hypothec_calculator.results")}}*</div>
      <div class="calculation__result-inner">
        <div class="calculation__result-title">
          {{ cl_caption }}
        </div>
        <div class="calculation__result-logo">
          <img v-if="cl_type==1"
            class="dp-block"
            :src="require('@/images/icons/logo1.svg')"
            alt=""
          />
          <img v-else
               class="dp-block"
               :src="require('@/images/icons/logo.svg')"
               alt=""
          />
        </div>
        <div class="calculation__result-items">
          <div class="calculation__result-item">
            <div class="calculation__result-name">{{$t("halyk_hypothec.month_pay")}}</div>
            <div class="calculation__result-price" id="mresult">
              {{ cl_pay }} ₸
            </div>
          </div>
          <div class="calculation__result-item">
            <div class="calculation__result-name">{{$t("halyk_hypothec.percent")}}</div>
            <div class="calculation__result-price">{{ cl_percent }} %</div>
          </div>
          <div class="calculation__result-item">
            <div class="calculation__result-name">{{$t("hypothec_calculator.terms")}}</div>
            <div class="calculation__result-price">
              до {{ cl_maxterm }} {{ cl_termmon === 0 ? this.$t("hypothec_calculator.years") : 'месяцев' }}
            </div>
          </div>
          <div class="calculation__result-item">
            <div class="calculation__result-name">
            {{$t("hypothec_calculator.first_pay")}} (минимум {{ cl_fpayperc }}%)
            </div>
            <div class="calculation__result-price">{{ cl_currfpayperc }} %</div>
          </div>
        </div>
      </div>
      <div class="calculation__result-hint">
        <sup>*</sup>{{$t("hypothec_calculator.result_text")}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CalculatorComponent',
  data() {
    return {
      cl_cost: "100 000 000", // стоимость
      clsl_maxpay: 500000000, // максимальный ползунок
      clsl_minpay: 3000000, // минимальный ползунок
      cl_fpay: 20000000, // первый платеж
      clsl_minfpay: 20000000, // минимальный ползунок
      clsl_maxfpay: 100000000, // максимальный ползунок

      cl_fpayperc: 20, // минимальный процент первого взноса

      cl_caption: this.$t("halyk_hypothec.name1"),
      cl_type: 1,
      cl_percent: 18, // процентная ставка
      cl_term: 12,
      cl_maxterm: 20,
      cl_termmon: 0,
      cl_change: true,
      outCostt: 100000000,
    };
  },
  methods: {
    setCostInit(startCost) {
      this.cl_change = false;
      this.cl_cost = startCost;
      this.clsl_maxpay = startCost;
      this.clsl_minpay = startCost;
      this.cl_fpay = Math.round((this.cl_cost / 100) * this.cl_fpayperc);
      this.clsl_minfpay = Math.round((this.cl_cost / 100) * this.cl_fpayperc);;
      this.clsl_maxfpay = startCost;
      this.setCost();
    },
    setCostIn(event) {
      if (!this.cl_cost instanceof Number || typeof this.cl_cost !== 'number') {
        this.cl_cost = parseInt(this.cl_cost.split(' ').join(''));
      }
      if(this.cl_change) {
        this.cl_cost = event.target.value.replace(/\s/g, '');
        this.setCost();
      }
      else {
        event.target.value = this.cl_cost;
      }
      this.outCostt = event.target.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
      this.cl_cost = event.target.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    },
    refactor(event) {
      if (event.target.value == 0) {
        return false;
      }
      event.target.value = parseInt(event.target.value.split(' ').join(''));
      event.target.value = event.target.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    },
    setFPayIn(event) {
      this.cl_fpay = event.target.value.replace(/\s/g, '');
      this.setCost();
      if (!this.cl_fpay instanceof Number || typeof this.cl_fpay !== 'number') {
        this.cl_fpay = parseInt(this.cl_fpay.split(' ').join(''));
      }
    },
    setTermIn(event) {
      let tmp = event.target.value.replace(/\s/g, '');
      if(tmp < 0) {
        this.cl_term = 1;
        event.target.value = 1;
      }
      else if (tmp > this.cl_maxterm ) {
        this.cl_term = this.cl_maxterm;
        event.target.value = this.cl_maxterm;
      }
      else {
        this.cl_term = tmp;
        event.target.value = tmp;
      }
      this.setCost();
    },
    setCost() {
      if(!this.cl_cost instanceof Number || typeof this.cl_cost !== 'number') {
        this.cl_cost = parseInt(this.cl_cost.split(' ').join(''));
      }
      if (!this.cl_fpay instanceof Number || typeof this.cl_fpay !== 'number') {
        this.cl_fpay = parseInt(this.cl_fpay.split(' ').join(''));
      }
      
      if (this.cl_cost < this.cl_fpay) {
        this.cl_fpay = this.cl_cost - 1;
        this.clsl_maxfpay = this.cl_cost - 1;
      }
      if (this.cl_cost > this.clsl_maxfpay) {
        this.clsl_maxfpay = this.cl_cost - 1;
      }
      this.clsl_minfpay = Math.round((this.cl_cost / 100) * this.cl_fpayperc);
      if (this.cl_fpay < this.clsl_minfpay) {
        this.cl_fpay = this.clsl_minfpay;
      }
      if (this.cl_maxterm < this.cl_term) {
        this.cl_term = this.cl_maxterm;
      }
    },
    chnType(cl_type) {
      if (this.cl_type == 1) {
        this.cl_caption = this.$t("halyk_hypothec.name1");
        this.cl_fpayperc = 20;
        this.cl_percent = 18;
        this.cl_maxterm = 20;
        this.cl_termmon = 0;
      } else if (this.cl_type == 2) {
        this.cl_caption = this.$t("halyk_hypothec.name2");
        this.cl_fpayperc = 30;
        this.cl_percent = 1.5;
        this.cl_maxterm = 24;
        this.cl_termmon = 1;
      } else if (this.cl_type == 3) {
        this.cl_caption = 'АРЕНДА С ПОСЛЕДУЮЩИМ ВЫКУПОМ ОТ HALYK ACTIVE';
        this.cl_fpayperc = 30;
        this.cl_percent = 20;
        this.cl_maxterm = 5;
        this.cl_termmon = 0;
      }
      this.setCost();
    },
  },
  computed: {
    cl_pay: function () {
      if (!this.cl_cost instanceof Number || typeof this.cl_cost !== 'number') {
        this.cl_cost = parseInt(this.cl_cost.split(' ').join(''));
      }
      var pay = 0;
      var months = 0;
      if (this.cl_type == 2) months = this.cl_term;
      else months = this.cl_term * 12;

      var paysize = Math.round(this.cl_cost - this.cl_fpay);

      if (this.cl_type == 2) {
        var month_pay = Math.round(paysize / this.cl_term);
        var percent_pay = (this.cl_cost * 1.5) / 1200;
        pay = Math.round(month_pay + percent_pay);
      } else {
        var rperc = this.cl_percent / 1200.0;
        var ak = (rperc * (1 + rperc) ** months) / ((1 + rperc) ** months - 1);
        pay = Math.round(paysize * ak);
      }
      return pay.toLocaleString('ru-RU');
    },
    outCostt: function () {
      if (!this.cl_cost instanceof Number || typeof this.cl_cost !== 'number') {
        this.cl_cost = parseInt(this.cl_cost.split(' ').join(''));
      }
      return this.cl_cost.toLocaleString('ru-RU');
    },
    outFPay: function () {
      if (!this.cl_fpay instanceof Number || typeof this.cl_fpay !== 'number') {
        this.cl_fpay = parseInt(this.cl_fpay.split(' ').join(''));
      }
      return this.cl_fpay.toLocaleString('ru-RU');
    },
    outTerm: function () {
      return this.cl_term;
    },
    cl_currfpayperc: function () {
      // текущий процент первого взноса
      if (!this.cl_cost instanceof Number || typeof this.cl_cost !== 'number') {
        this.cl_cost = parseInt(this.cl_cost.split(' ').join(''));
      }
      return Math.round((this.cl_fpay / this.cl_cost) * 100);
    },
  },
};
</script>

<style scoped>
.title-yel-green {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: #099f79;
  padding-bottom: 10px;
  position: relative;
}
.title-yel-green span {
  color: #fca82a;
}
.text {
  color: #828282;
}
.calculation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.calculation__form {
  max-width: 501px;
  width: 100%;
  margin-top: 27px;
  padding: 24px 18px 48px;
  border: 2px solid #d6ece6;
  border-radius: 15px;
}
.calculation__result {
  margin-left: 39px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.calculation__result-top {
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 9px;
  color: #c1c1c1;
}
.calculation__result-inner {
  padding: 24px 20px 44px;
  border: 2px solid #d6ece6;
  border-radius: 15px;
}
.calculation__result-hint {
  margin-top: 17px;
  font-size: 12px;
  line-height: 18px;
}
.calculation__row.pay-types {
  margin-bottom: 42px;
}
.calculation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.fake-checkbox__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.fake-checkbox__circle {
  width: 20px;
  height: 20px;
  border: 2px solid #099f79;
  border-radius: 50%;
  cursor: pointer;
}
.fake-checkbox__text {
  margin-left: 8px;
  font-size: 12px;
  line-height: 14px;
}
.input {
  outline: unset;
  background-color: #f0f7f5;
  border: 2px solid #f0f7f5;
  border-radius: 30px;
  height: 45px;
  padding: 0 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 12px;
  line-height: 28px;
  color: #333;
}
.input-field__name {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 18px;
}
.input-field__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.input-field__unit {
  font-weight: bold;
  font-size: 12px;
  margin-left: 18px;
}
.calculation__form .sibling-margin + .sibling-margin {
  margin-top: 33px;
}
.calculation__result-title {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 5px;
}
.calculation__result-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 400px;
}
.calculation__result-item {
  margin-top: 34px;
  width: 50%;
  padding-right: 20px;
}
.calculation__result-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #828282;
  margin-bottom: 5px;
}
.calculation__result-price {
  font-size: 20px;
  line-height: 20px;
  color: #099f79;
}
.slider {
  position: relative;
  display: block;
  -webkit-appearance: none;
  height: 2px;
  border-radius: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin: 0 20px;
}
.slider:hover {
  opacity: 1;
}
/* .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
} */

.fake-checkbox__block {
  display: flex;
  align-items: center;
}
.fake-checkbox__block label {
  line-height: unset;
}

@media (max-width: 1024px) {
  .calculation__wrapper {
    display: block;
  }
  .calculation__form {
    max-width: 100%;
  }

  .calculation__result {
    margin-left: unset;
    margin-top: 46px;
  }
}

@media (max-width: 768px) {
  .calculation__select {
    display: block;
  }

  .input-field__wrapper {
    width: 100%;
  }

  .fake-checkbox__block:last-child {
    /* margin-top: 10px; */
  }
}
</style>
