<template>
  <div class="carousel_wrapper" ref="carouselpic">
    <button-green v-if="props.sliders.length > 1" class="slick-arrow slick-prev" @click="prevSlide">
      <img class="dp-block" src="@/images/icons/long-arrow-left.svg" alt="" />
    </button-green>
    <div class="slide_wrapper" :id="'slider' + props.sliders.length">
      <div class="slide" v-for="slide in props.sliders" :key="slide.id" :id="slide.id" :style="
  `width: ${sliderWidth}px;
      transform: translateX(-${sliderPosition}px);`">
        <div class="slick-slide slick-current slick-active" :style="`width: ${sliderWidth}px;`">
          <div class="object">
            <div class="object__image" :style="`height: 700px;`">
              <img class="dp-block" :src="slide.img" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <button-green v-if="props.sliders.length > 1" class="slick-arrow slick-next" @click="nextSlide">
      <img class="dp-block" src="@/images/icons/long-arrow-right.svg" alt="" />
    </button-green>
  </div>
</template>

<script setup>
import { onMounted, onUpdated, ref } from "vue";

const sliderPosition = ref(0)
const selectedSlide = ref(1)
const sliderWidth = ref(700)
const carouselpic = ref(null)

const props = defineProps({
  sliders: {
    type: Array,
    default: () => []
  }
})

onMounted(() => {
  getSliderWidth()
})

//onUpdated(() => {
//  getSliderWidth()
//})

const getSliderWidth = () => {
  sliderWidth.value = carouselpic.clientWidth;
  sliderWidth.value = 1012;
}
const nextSlide = () => {
  if (selectedSlide.value < props.sliders.length) {
    selectedSlide.value++
    sliderPosition.value += (sliderWidth.value) + 18
    return true;
  }
  sliderPosition.value = 0;
  selectedSlide.value = 1;
  this.nextSlide();
}
const prevSlide = () => {
  if (selectedSlide.value > 1) {
    selectedSlide.value--
    sliderPosition.value -= (sliderWidth.value) + 18
  }
}

//window.addEventListener('resize', getSliderWidth)

</script>

<style scoped>
.carousel_wrapper {
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide_wrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  gap: 18px;
}

.slide {
  transition: all .6s ease-in-out;
}

.slick-arrow {
  top: 50%;
  transform: translateY(-50%);
}

.slick-arrow img {
  margin: 0 auto;
}

.slick-arrow.slick-next {
  right: 0;
  border-radius: 30px 0 0 30px;
}

.slick-arrow.slick-prev {
  left: 0;
  border-radius: 0 30px 30px 0;
}

.row-slider img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slick-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  max-width: 54px;
  width: 100%;
  height: 45px;
  border-radius: 0px 15px;
}

.slick-arrow img {
  margin: 0 auto;
}

.slick-next {
  left: unset;
  right: 0;
  border-radius: 15px 0px;
}

.slick-slide {
  height: unset;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-slide {
  float: left;
  min-height: 1px;
}

.slick-slide .object {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.object {
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
}

.object__image {
  position: relative;
}

.object__image>img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.slick-slide img {
  display: block;
}

.dp-block {
  display: block;
}

.slick-slide img {
  display: block;
}
</style>
