<template>
  <div class="carousel_wrapper">
    <button-green class="slick-arrow" @click="sliderMoveRight">
      <img class="dp-block" src="@/images/icons/long-arrow-left.svg" alt="" />
    </button-green>
    <div class="carousel_content">
      <div class="carousel_line" :style="{ transform: 'translateX(' + positionSlide + 'px)' }">
        <carousel-item v-for="item in getItems.filter((el) => el.type == type)" :key="item.title" :item="item">
        </carousel-item>
      </div>
    </div>
    <button-green class="slick-arrow slick-next" style="" @click="sliderMoveLeft">
      <img class="dp-block" src="@/images/icons/long-arrow-right.svg" alt="" />
    </button-green>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'CarouselComponent',
  props: ['type'],
  data() {
    return {
      positionSlide: 0,
    };
  },
  computed: {
    ...mapGetters(['getItems']),
  },
  methods: {
    ...mapActions(['getCarouselItems']),

    sliderMoveLeft() {
      if (window.innerWidth >= 768) {
        console.log("assa")
        if (
          this.positionSlide >
          (this.getItems.filter((el) => el.type == this.type).length - 4) * -300
        ) {
          this.positionSlide = this.positionSlide - 300;
          return true;
        }
        this.positionSlide = 0;
        this.sliderMoveRight();
        return true;
      }
      if (
        this.positionSlide >
        (this.getItems.filter((el) => el.type == this.type).length - 1) * -280
      ) {
        this.positionSlide = this.positionSlide - 280;
        return true;
      }
      this.positionSlide = 0;
      this.sliderMoveRight();
    },

    sliderMoveRight() {
      if (this.positionSlide < 0) {
        this.positionSlide = this.positionSlide + 280;
      }

    },
  },
  mounted() {
    this.$store.dispatch('getCarouselItems');
  },
};
</script>

<style>
.carousel_wrapper {
  width: 100%;
  position: relative;
}

.carousel_content {
  display: block;
  width: 100%;
  overflow: hidden;
}

.carousel_line {
  display: flex;
  width: 25000px;
  transition: all 0.3s;
}

.carousel_wrapper .slick-arrow {
  position: absolute;
  max-width: 54px;
  width: 100%;
  height: 45px;
  border-radius: 30px 0px 0px 30px;
  left: -80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slick-arrow img {
  margin: 0 auto;
}

.slick-arrow.slick-next {
  border-radius: 0px 30px 30px 0px;
  left: unset;
  right: -80px;
}

@media (max-width: 1024px) {
  .carousel_wrapper .slick-arrow {
    top: unset;
    bottom: -75px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: 0;
  }

  .carousel_wrapper .slick-arrow.slick-next {
    left: unset;
    right: 0;
  }
}
</style>
