<template>
  <div class="def-modal">
    <!-- <div class="special-bg__logo">
      <img class="dp-block" src="@/images/icons/logo3.svg" alt="" />
    </div> -->
    <div v-if="isNotRequest" class="consultation__title modal__title">{{$t("question")}}</div>
    <div v-else class="consultation__title modal__title">Хотите записаться на показ?</div>
    <div v-if="isNotRequest" class="consultation__text text">
      {{$t("put_your_number")}}
    </div>
    <div v-else class="consultation__text text">
      Оставьте ваш номер телефона, мы перезвоним и проконсультируем по объекту: {{ idObjName }}
    </div>
    <div class="consultation__form consultation__form-fields">
      <div class="input-box">
        <input type="text" class="input"
               :class="{ invalid: shErrorN }"
               :placeholder="$t('your_name')"
               maxlength="30"
               v-model="inName"
        >
      </div>
      <div class="input-box">
        <input type="tel" class="input hidecur"
               :class="{ invalid: shErrorP }"
               v-model="inPhoneF"
               @keydown="isNumber"
        >
      </div>
    </div>
    <div v-show="shError" class="error-message">{{ shErrorMes }}</div>
    <div class="consultation__get">
      <div class="consultation__get-title">{{$t("get_consultation_on_language.name")}}:</div>
      <div class="consultation__get-checkboxes">
        <label class="fake-checkbox">
          <input type="radio" value="kz" v-model="inLang" checked />
          <div class="fake-checkbox__content">
            <div class="fake-checkbox__circle"></div>
            <p class="fake-checkbox__text">{{$t("get_consultation_on_language.kz")}}</p>
          </div>
        </label>
        <label class="fake-checkbox">
          <input type="radio" value="ru" v-model="inLang" />
          <div class="fake-checkbox__content">
            <div class="fake-checkbox__circle"></div>
            <p class="fake-checkbox__text">{{$t("get_consultation_on_language.ru")}}</p>
          </div>
        </label>
      </div>
      <ButtonGreen class="consultation__btn" @click="sendData"
        >{{$t("get_consultation_on_language.name")}}</ButtonGreen
      >
    </div>
  </div>
</template>

<script>
import InputField from '@/components/UI/InputField';
import ButtonGreen from '@/components/UI/ButtonGreen';
import axios from "axios";

export default {
  name: 'ConsultComponent',
  data() {
    return {
      inPhoneR: "",
      PhoneF: "+7(***)***-**-**",
      inName: "",
      inLang: "kz",
      idObjWants: 0,
      idObjName: "",
      isNotRequest: true,
      Resp: "",
      shError: false,
      shErrorN: false,
      shErrorP: false,
      shErrorMes: "",
    }
  },
  components: { ButtonGreen, InputField, axios },
  methods: {
    sendData() {
      if (this.inName == "")
        this.shErrorN = true;
      else
        this.shErrorN = false;

      if (this.inPhoneR.length < 10 )
        this.shErrorP = true;
      else
        this.shErrorP = false;

      if(this.shErrorP || this.shErrorN)
        this.shError = true;
      else
        this.shError = false;

      if(this.shError) {
        this.shErrorMes = "Заполните все поля";
        return;
      }

      axios
          .get('/input/send.php', { params: this.reqParams })
          .then(response => (this.Resp = response.data));
      console.log(this.Resp);

      this.close();
    },
    isNumber(evt) {
      const charCode = evt.keyCode;
      if (evt.key === "Backspace" || evt.key === "Delete"){
        let tmp = Array.from(this.inPhoneR)
        tmp.pop();
        this.inPhoneR = tmp.join('');
      }
      if(this.inPhoneR.length < 10)
        if( charCode > 47 && charCode < 58)
          this.inPhoneR += evt.key;

      evt.preventDefault();
    },
    setObjWant(objid, objname) {
      this.idObjWants = objid;
      this.idObjName = objname;
      this.isNotRequest = false;
    },
    close() {
      this.$parent.$emit('close');
    },
  },
  computed: {
    inPhoneF() {
      let form = Array.from(this.PhoneF);
      let phin = Array.from(this.inPhoneR);
      let out = "";
      let onelet = '';
      let tmp = "";
      while (onelet = form.shift()) {
        if(onelet == '*')
          if(tmp = phin.shift())
            out += tmp;
          else
            out += "_";
        else
          out += onelet;
      }
      return out;
    },
    reqParams() {
      const params = new URLSearchParams();

      params.append('id', '222');
      params.append('username', this.inName);
      params.append('userphone', this.inPhoneR);
      params.append('lang', this.inLang);
      if(!this.isNotRequest){
        params.append('objid', this.idObjWants);
        params.append('objtxt', this.idObjName);
      }
      return params;
    },
  },
};
</script>

<style scoped>
.input {
  outline: unset;
  background-color: #f0f7f5;
  border: 2px solid #f0f7f5;
  border-radius: 30px;
  height: 45px;
  padding: 0 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 12px;
  line-height: 28px;
  color: #333;
}
.input.invalid {
  border-color: #eb5757;
}
.hidecur {
  caret-color: transparent;
}
.def-modal {
  max-width: 540px;

  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
/* .special-bg__logo {
  position: absolute;
  bottom: calc(100% + 69px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); 
}*/
.consultation__title {
  margin-bottom: 20px;
}
.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
}
.consultation__text {
  text-align: center;
  margin-bottom: 17px;
}
.text {
  color: #828282;
}
.consultation__form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -13px;
  margin-bottom: 22px;
}
.consultation__form .input-box {
  margin-left: 13px;
  max-width: calc(50% - 13px);
  width: 100%;
}
.input-box .input {
  width: 100%;
  border-color: #eb5757;
}
.consultation__get-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 8px;
  text-align: center;
}
.consultation__get-checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.consultation__get-checkboxes .fake-checkbox + .fake-checkbox {
  margin-left: 20px;
}
.consultation__btn {
  margin: 17px auto 0;
  font-size: 1.4vh;
  line-height: 17px;
  font-weight: 600;
}
.error-message {
  color: #eb5757;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}
</style>
