<template>
  <footer class="footer">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__logos">
          <div class="footer__logo">
            <img class="dp-block" src="@/images/icons/logo.svg" alt="" />
          </div>
        </div>
        <div class="footer__column">
          <ul class="footer__links">
            <li>
              <a @click="$router.push({ name: 'about' })"> {{$t("about_company")}} </a>
            </li>
            <li>
              <a @click="$router.push({ name: 'privat' })"> {{$t('resident_objects.name')}} </a>
            </li>
            <li>
              <a @click="$router.push({ name: 'commercial' })">
                {{$t("real_estate")}}
              </a>
            </li>
            <li>
              <a @click="$router.push({ name: 'news' })"> {{$t("news")}} </a>
            </li>
            <li>
              <a @click="$router.push({ name: 'vacancy' })"> {{$t("career")}} </a>
            </li>
            <li>
              <a @click="$router.push({ name: 'contacts' })"> {{$t("contact")}} </a>
            </li>
          </ul>
        </div>
        <div class="footer__contacts">
          <ul class="contacts__links">
            <li>
              <svg
                style="min-width: 21px"
                width="15"
                height="21"
                viewBox="0 0 15 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.5 4.25C6.45833 4.25 5.57292 4.61458 4.84375 5.34375C4.11458 6.07292 3.75 6.95833 3.75 8C3.75 9.04167 4.11458 9.92708 4.84375 10.6562C5.57292 11.3854 6.45833 11.75 7.5 11.75C8.54167 11.75 9.42708 11.3854 10.1562 10.6562C10.8854 9.92708 11.25 9.04167 11.25 8C11.25 6.95833 10.8854 6.07292 10.1562 5.34375C9.42708 4.61458 8.54167 4.25 7.5 4.25ZM7.5 10.5C6.82292 10.5 6.23698 10.2526 5.74219 9.75781C5.2474 9.26302 5 8.67708 5 8C5 7.32292 5.2474 6.73698 5.74219 6.24219C6.23698 5.7474 6.82292 5.5 7.5 5.5C8.17708 5.5 8.76302 5.7474 9.25781 6.24219C9.7526 6.73698 10 7.32292 10 8C10 8.67708 9.7526 9.26302 9.25781 9.75781C8.76302 10.2526 8.17708 10.5 7.5 10.5ZM7.5 0.5C6.14583 0.5 4.89583 0.838542 3.75 1.51562C2.60417 2.19271 1.69271 3.10417 1.01562 4.25C0.338542 5.39583 0 6.64583 0 8C0 8.83333 0.104167 9.57552 0.3125 10.2266C0.520833 10.8516 0.924479 11.6328 1.52344 12.5703C1.9401 13.2214 2.79948 14.4844 4.10156 16.3594L6.71875 20.1094C6.90104 20.3698 7.16146 20.5 7.5 20.5C7.83854 20.5 8.09896 20.3698 8.28125 20.1094L10.8984 16.3594C12.2005 14.4844 13.0599 13.2214 13.4766 12.5703C14.0755 11.6328 14.4792 10.8516 14.6875 10.2266C14.8958 9.57552 15 8.83333 15 8C15 6.64583 14.6615 5.39583 13.9844 4.25C13.3073 3.10417 12.3958 2.19271 11.25 1.51562C10.1042 0.838542 8.85417 0.5 7.5 0.5ZM7.5 19.0156C6.875 18.1042 6.06771 16.9453 5.07812 15.5391C3.82812 13.7422 3.00781 12.5573 2.61719 11.9844C2.07031 11.099 1.70573 10.3958 1.52344 9.875C1.34115 9.32812 1.25 8.70312 1.25 8C1.25 7.16667 1.40625 6.3724 1.71875 5.61719C2.03125 4.86198 2.48698 4.1849 3.08594 3.58594C3.6849 2.98698 4.36198 2.53125 5.11719 2.21875C5.8724 1.90625 6.66667 1.75 7.5 1.75C8.33333 1.75 9.1276 1.90625 9.88281 2.21875C10.638 2.53125 11.3151 2.98698 11.9141 3.58594C12.513 4.1849 12.9688 4.86198 13.2812 5.61719C13.5938 6.3724 13.75 7.16667 13.75 8C13.75 8.70312 13.6589 9.32812 13.4766 9.875C13.2943 10.3958 12.9297 11.099 12.3828 11.9844C11.9922 12.5573 11.1719 13.7422 9.92188 15.5391L7.5 19.0156Z"
                  fill="#A2A2A2"
                />
              </svg>
              <span
                >​ЖК Еsentai Apartments​, Аль-Фараби проспект, 77/3, 3-й
                этаж</span
              >
            </li>
            <li>
              <a href="tel:+77273777474">
                <svg
                  width="21"
                  height="21"
                  viewBox="0 0 21 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.5625 20.0625L20.4609 16.1172C20.5391 15.8307 20.5 15.5573 20.3438 15.2969C20.2135 15.0365 20.0182 14.8411 19.7578 14.7109L15.5391 12.9141C15.2786 12.8099 15.0182 12.7839 14.7578 12.8359C14.4974 12.9141 14.276 13.0573 14.0938 13.2656L12.375 15.375C11.0208 14.6979 9.8099 13.8255 8.74219 12.7578C7.67448 11.6901 6.80208 10.4792 6.125 9.125L8.23438 7.40625C8.44271 7.22396 8.57292 7.0026 8.625 6.74219C8.70312 6.48177 8.6901 6.22135 8.58594 5.96094L6.78906 1.74219C6.65885 1.48177 6.46354 1.27344 6.20312 1.11719C5.94271 0.986979 5.66927 0.960937 5.38281 1.03906L1.4375 1.9375C1.17708 2.01562 0.955729 2.15885 0.773438 2.36719C0.591146 2.60156 0.5 2.86198 0.5 3.14844C0.5 6.3776 1.30729 9.3724 2.92188 12.1328C4.51042 14.8411 6.64583 16.9766 9.32812 18.5391C12.1146 20.1797 15.1354 21 18.3906 21C18.651 21 18.8854 20.9089 19.0938 20.7266C19.3281 20.5443 19.4844 20.3229 19.5625 20.0625ZM1.75 3.14844L5.65625 2.25L7.45312 6.46875L4.60156 8.77344C5.53906 10.8047 6.61979 12.4323 7.84375 13.6562C9.06771 14.8802 10.6953 15.9609 12.7266 16.8984L15.0312 14.0469L19.25 15.8438L18.3516 19.75C15.3568 19.75 12.5703 18.9948 9.99219 17.4844C7.46615 16 5.47396 14.0078 4.01562 11.5078C2.50521 8.92969 1.75 6.14323 1.75 3.14844Z"
                    fill="#A2A2A2"
                  />
                </svg>
                <span>+7 (727) 377-74-74</span>
              </a>
            </li>
            <li>
              <a href="mailto:info@halykactiv.kz">
                <svg
                  width="20"
                  height="15"
                  viewBox="0 0 20 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M18.125 0L1.875 0C1.35417 0 0.911458 0.182292 0.546875 0.546875C0.182292 0.911458 0 1.35417 0 1.875L0 13.125C0 13.6458 0.182292 14.0885 0.546875 14.4531C0.911458 14.8177 1.35417 15 1.875 15H18.125C18.6458 15 19.0885 14.8177 19.4531 14.4531C19.8177 14.0885 20 13.6458 20 13.125V1.875C20 1.35417 19.8177 0.911458 19.4531 0.546875C19.0885 0.182292 18.6458 0 18.125 0ZM1.875 1.25L18.125 1.25C18.3073 1.25 18.4505 1.3151 18.5547 1.44531C18.6849 1.54948 18.75 1.69271 18.75 1.875V3.47656C17.8385 4.25781 15.8724 5.84635 12.8516 8.24219L12.4609 8.55469C11.9401 8.9974 11.5365 9.3099 11.25 9.49219C10.7552 9.83073 10.3385 10 10 10C9.66146 10 9.24479 9.83073 8.75 9.49219C8.4375 9.3099 8.02083 8.9974 7.5 8.55469L7.14844 8.24219C4.1276 5.84635 2.16146 4.25781 1.25 3.47656V1.875C1.25 1.69271 1.30208 1.54948 1.40625 1.44531C1.53646 1.3151 1.69271 1.25 1.875 1.25ZM18.125 13.75H1.875C1.69271 13.75 1.53646 13.6979 1.40625 13.5938C1.30208 13.4635 1.25 13.3073 1.25 13.125L1.25 5.11719C2.16146 5.84635 3.86719 7.21354 6.36719 9.21875L6.75781 9.53125C7.35677 10.0521 7.85156 10.4297 8.24219 10.6641C8.89323 11.0547 9.47917 11.25 10 11.25C10.5208 11.25 11.1068 11.0547 11.7578 10.6641C12.1224 10.4297 12.6172 10.0521 13.2422 9.53125L13.6328 9.21875C16.1328 7.21354 17.8385 5.84635 18.75 5.11719V13.125C18.75 13.3073 18.6849 13.4635 18.5547 13.5938C18.4505 13.6979 18.3073 13.75 18.125 13.75Z"
                    fill="#A2A2A2"
                  />
                </svg>
                <span>info@halykactiv.kz</span>
              </a>
            </li>
            <li class="contacts__social">
              <a href="https://www.instagram.com/halyk_activ/" target="_blank">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.0009 0C7.28508 0 6.94424 0.0118751 5.87756 0.0604173C4.81297 0.109168 4.08629 0.277711 3.45045 0.525005C2.79274 0.780425 2.23481 1.1221 1.67898 1.67814C1.12272 2.23398 0.78105 2.7919 0.524797 3.44941C0.276878 4.08546 0.108126 4.81234 0.060209 5.87652C0.0125001 6.9432 0 7.28424 0 10.0001C0 12.716 0.0120835 13.0558 0.0604173 14.1224C0.109376 15.187 0.27792 15.9137 0.525005 16.5495C0.780633 17.2073 1.1223 17.7652 1.67835 18.321C2.23398 18.8773 2.7919 19.2198 3.4492 19.4752C4.08546 19.7225 4.81234 19.891 5.87673 19.9398C6.94341 19.9883 7.28403 20.0002 9.99969 20.0002C12.7158 20.0002 13.0556 19.9883 14.1222 19.9398C15.1868 19.891 15.9143 19.7225 16.5506 19.4752C17.2081 19.2198 17.7652 18.8773 18.3208 18.321C18.8771 17.7652 19.2187 17.2073 19.475 16.5498C19.7208 15.9137 19.8896 15.1868 19.9396 14.1226C19.9875 13.056 20 12.716 20 10.0001C20 7.28424 19.9875 6.94341 19.9396 5.87673C19.8896 4.81213 19.7208 4.08546 19.475 3.44962C19.2187 2.7919 18.8771 2.23398 18.3208 1.67814C17.7646 1.12189 17.2083 0.780216 16.55 0.525005C15.9125 0.277711 15.1854 0.109168 14.1208 0.0604173C13.0541 0.0118751 12.7145 0 9.99781 0H10.0009ZM9.10406 1.80212C9.37031 1.8017 9.6674 1.80212 10.0012 1.80212C12.6712 1.80212 12.9876 1.8117 14.042 1.85962C15.017 1.90421 15.5462 2.06712 15.8987 2.204C16.3654 2.38525 16.6981 2.60192 17.0479 2.95193C17.3979 3.30193 17.6146 3.63527 17.7962 4.10194C17.9331 4.45402 18.0962 4.9832 18.1406 5.95821C18.1885 7.01238 18.1989 7.32905 18.1989 9.99783C18.1989 12.6666 18.1885 12.9833 18.1406 14.0375C18.096 15.0125 17.9331 15.5416 17.7962 15.8937C17.615 16.3604 17.3979 16.6927 17.0479 17.0425C16.6979 17.3925 16.3656 17.6092 15.8987 17.7904C15.5466 17.9279 15.017 18.0904 14.042 18.135C12.9878 18.1829 12.6712 18.1933 10.0012 18.1933C7.33091 18.1933 7.01445 18.1829 5.96028 18.135C4.98527 18.09 4.45609 17.9271 4.10338 17.7902C3.63671 17.609 3.30337 17.3923 2.95337 17.0423C2.60337 16.6923 2.3867 16.3598 2.20503 15.8929C2.06815 15.5408 1.90503 15.0116 1.86065 14.0366C1.81273 12.9824 1.80315 12.6658 1.80315 9.99533C1.80315 7.32489 1.81273 7.00988 1.86065 5.95571C1.90523 4.9807 2.06815 4.45152 2.20503 4.09902C2.38628 3.63235 2.60337 3.29901 2.95337 2.94901C3.30337 2.599 3.63671 2.38234 4.10338 2.20067C4.45589 2.06317 4.98527 1.90066 5.96028 1.85587C6.88279 1.81421 7.24029 1.8017 9.10406 1.79962V1.80212ZM15.3392 3.46233C14.6767 3.46233 14.1392 3.99921 14.1392 4.66193C14.1392 5.32443 14.6767 5.86194 15.3392 5.86194C16.0017 5.86194 16.5392 5.32443 16.5392 4.66193C16.5392 3.99942 16.0017 3.46191 15.3392 3.46191V3.46233ZM10.0011 4.8645C7.16502 4.8645 4.86562 7.1639 4.86562 9.99997C4.86562 12.836 7.16502 15.1344 10.0011 15.1344C12.8372 15.1344 15.1357 12.836 15.1357 9.99997C15.1357 7.1639 12.837 4.8645 10.0009 4.8645H10.0011ZM10.001 6.66667C11.8418 6.66667 13.3344 8.15897 13.3344 10C13.3344 11.8409 11.8418 13.3334 10.001 13.3334C8.15993 13.3334 6.66763 11.8409 6.66763 10C6.66763 8.15897 8.15993 6.66667 10.001 6.66667Z"
                    fill="#A2A2A2"
                  />
                </svg>
                <span>@halyk_activ</span>
              </a>
            </li>
            <li class="contacts__social">
              <a href="#">
                <svg
                  width="10"
                  height="20"
                  viewBox="0 0 10 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.20536 20V9.99883H8.96612L9.33198 6.55237H6.20536L6.21005 4.82738C6.21005 3.92849 6.29546 3.44685 7.58652 3.44685H9.31244V0H6.55128C3.2347 0 2.06735 1.6719 2.06735 4.48352V6.55276H0V9.99922H2.06735V20H6.20536Z"
                    fill="#A2A2A2"
                  />
                </svg>
                <span>halyk_activ</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__copyright">
        <a href="https://web-reactor.kz" target="_blank">
          Сайт разработан в
          <svg
            width="121"
            height="38"
            viewBox="0 0 121 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.043 23.6519V9.5H16.7634C17.808 9.5 18.6785 9.54974 19.3998 9.6741C20.0962 9.77358 20.6683 9.99743 21.0911 10.3208C21.5139 10.6441 21.8123 11.0918 22.0113 11.6887C22.1854 12.2856 22.2849 13.0566 22.2849 14.0266C22.2849 14.7976 22.2352 15.4692 22.1108 15.9666C22.0113 16.4889 21.8123 16.9366 21.5636 17.2599C21.3149 17.6081 20.9667 17.8568 20.5439 18.0309C20.1211 18.205 19.6236 18.3294 19.0019 18.404L21.4393 21.2891C21.5388 21.3886 21.6382 21.4632 21.8123 21.5129C21.9616 21.5627 22.1357 21.5876 22.3098 21.5876C22.4839 21.5876 22.6828 21.5876 22.8569 21.5876C23.031 21.5627 23.2051 21.5627 23.3793 21.5627L23.1305 23.6022C22.6828 23.6519 22.2352 23.6768 21.8372 23.6768C21.4393 23.6768 21.0413 23.6022 20.6434 23.4778C20.2703 23.3534 19.8724 23.1296 19.4744 22.8311C19.0765 22.5327 18.6537 22.1099 18.1811 21.5627L15.6691 18.5284H13.9281V23.6519H11.043ZM19.3003 13.9769C19.3003 13.4794 19.2506 13.0815 19.176 12.8079C19.0765 12.5095 18.9521 12.3105 18.7531 12.1612C18.5542 12.012 18.3055 11.9374 17.9821 11.9125C17.6588 11.8877 17.2609 11.8628 16.8132 11.8628H13.9778V16.1904H16.8132C17.2609 16.1904 17.6588 16.1656 17.9821 16.1407C18.3055 16.1158 18.5542 16.0163 18.7531 15.892C18.9521 15.7427 19.0765 15.5438 19.176 15.2702C19.2754 14.9966 19.3003 14.5987 19.3003 14.1012V13.9769Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M28.0554 17.5092C28.1052 18.3797 28.2046 19.0761 28.3787 19.5984C28.5528 20.1207 28.8016 20.5435 29.1498 20.8171C29.498 21.1156 29.9208 21.2897 30.4431 21.414C30.9654 21.5135 31.5872 21.5632 32.3333 21.5632C32.781 21.5632 33.2287 21.5135 33.7013 21.4389C34.1738 21.3643 34.5966 21.2648 35.0194 21.1404C35.4423 21.0409 35.8153 20.9166 36.1635 20.7922C36.5117 20.6679 36.7853 20.5684 36.9843 20.5186L37.7056 22.7819C37.4071 22.9312 37.034 23.0804 36.5863 23.2048C36.1387 23.3291 35.6661 23.4535 35.1687 23.553C34.6712 23.6525 34.1489 23.7271 33.6018 23.8017C33.0546 23.8763 32.5323 23.9012 32.01 23.9012C30.9156 23.9012 29.9208 23.8017 29.0751 23.6276C28.2295 23.4535 27.5082 23.1053 26.9113 22.583C26.3144 22.0607 25.8667 21.3394 25.5683 20.3943C25.2698 19.4492 25.0957 18.2305 25.0957 16.6884C25.0957 15.0966 25.2698 13.8033 25.5931 12.8333C25.9165 11.8385 26.389 11.0923 26.9859 10.5452C27.5829 9.99798 28.2793 9.62491 29.1 9.45081C29.9208 9.25183 30.8162 9.15234 31.811 9.15234C32.8805 9.15234 33.8007 9.25183 34.6215 9.45081C35.4423 9.64978 36.1138 10.0229 36.6858 10.57C37.233 11.1172 37.6807 11.8385 37.9543 12.7587C38.2527 13.679 38.402 14.8728 38.402 16.3402V17.4594L28.0554 17.5092ZM35.3676 15.1713C35.3179 14.4002 35.2184 13.7785 35.0692 13.3059C34.92 12.8333 34.6712 12.4603 34.3977 12.2115C34.0992 11.9628 33.751 11.7887 33.3282 11.6892C32.9054 11.5898 32.3831 11.5649 31.811 11.5649C31.2887 11.5649 30.8162 11.5898 30.3933 11.6395C29.9705 11.6892 29.5726 11.8385 29.2492 12.0623C28.9259 12.311 28.6523 12.6592 28.4534 13.1318C28.2544 13.6043 28.13 14.2759 28.0803 15.1464L35.3676 15.1713Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M53.6242 23.7018C52.6791 23.6023 51.9827 23.3785 51.535 23.0551C51.0873 22.7318 50.7889 22.2095 50.6148 21.4882C50.1671 22.2592 49.5453 22.8562 48.7992 23.279C48.0281 23.7018 47.1328 23.9008 46.0882 23.9008C45.2425 23.9008 44.4715 23.8261 43.7751 23.7018C43.0787 23.5774 42.4818 23.3287 41.9844 23.0054C41.4869 22.6821 41.089 22.2344 40.8154 21.6623C40.5418 21.0903 40.3926 20.3939 40.3926 19.5234C40.3926 18.5534 40.5418 17.7575 40.8154 17.1108C41.089 16.489 41.4869 15.9667 41.9844 15.5937C42.4818 15.2206 43.0787 14.947 43.7751 14.7978C44.4715 14.6486 45.2425 14.5739 46.0882 14.5739H49.5702C49.5204 13.8775 49.4458 13.3055 49.3215 12.9075C49.1971 12.5096 48.9981 12.2111 48.7494 12.0122C48.5007 11.8132 48.1774 11.6888 47.7794 11.6391C47.3815 11.5894 46.8592 11.5645 46.2623 11.5645C45.8146 11.5645 45.3918 11.5894 44.9689 11.664C44.5461 11.7137 44.1482 11.7883 43.7751 11.8878C43.402 11.9873 43.0538 12.0619 42.7554 12.1614C42.4569 12.2609 42.1833 12.3355 41.9844 12.4101L41.2631 10.1468C41.8849 9.84835 42.631 9.62451 43.5015 9.47528C44.372 9.32605 45.3171 9.22656 46.3369 9.22656C47.5307 9.22656 48.5256 9.32605 49.3215 9.50015C50.1173 9.67425 50.764 10.0224 51.2366 10.5448C51.7091 11.0671 52.0573 11.7883 52.2563 12.7583C52.4553 13.7283 52.5548 14.9719 52.5548 16.5388V16.887V19.3493C52.5548 20.0705 52.6542 20.568 52.8532 20.8664C53.0522 21.1649 53.4004 21.339 53.8729 21.4136L53.6242 23.7018ZM49.5702 16.9865H46.0633C45.6405 16.9865 45.2425 17.0114 44.8943 17.0611C44.5461 17.1108 44.2477 17.2352 43.999 17.4093C43.7502 17.5834 43.5513 17.8321 43.402 18.1803C43.2528 18.5036 43.1782 18.9762 43.1782 19.5234C43.1782 19.9711 43.2528 20.3193 43.402 20.5928C43.5513 20.8664 43.7502 21.0654 43.999 21.1898C44.2477 21.3141 44.5461 21.4136 44.8943 21.4634C45.2425 21.5131 45.6405 21.538 46.0633 21.538C46.8094 21.538 47.4064 21.4385 47.8789 21.2395C48.3266 21.0405 48.6997 20.767 48.9484 20.369C49.1971 19.9959 49.3712 19.5234 49.4458 18.9762C49.5204 18.429 49.5702 17.7824 49.5702 17.0362V16.9865Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M67.9486 23.1055C67.3269 23.404 66.5558 23.6278 65.6605 23.8019C64.7651 23.976 63.7951 24.0755 62.7754 24.0755C61.681 24.0755 60.711 23.976 59.8405 23.8019C58.97 23.6278 58.2239 23.2547 57.6021 22.7324C56.9803 22.2101 56.5077 21.464 56.1595 20.494C55.8113 19.524 55.6621 18.2804 55.6621 16.7135C55.6621 15.1466 55.8362 13.9031 56.1595 12.9331C56.5077 11.9631 56.9803 11.2169 57.6021 10.6946C58.2239 10.1723 58.97 9.79925 59.8405 9.62515C60.711 9.45105 61.7059 9.35156 62.7754 9.35156C64.8397 9.35156 66.4812 9.65002 67.7248 10.2221L67.0035 12.4854C66.5807 12.361 66.0087 12.1869 65.2625 11.9879C64.5164 11.789 63.6956 11.6895 62.8002 11.6895C62.2033 11.6895 61.6313 11.7392 61.1338 11.8138C60.6115 11.9133 60.1639 12.1123 59.7908 12.4605C59.4177 12.8087 59.1193 13.3061 58.9203 13.9777C58.7213 14.6492 58.5969 15.5446 58.5969 16.7135C58.5969 17.8825 58.6964 18.8027 58.9203 19.4494C59.1441 20.1209 59.4177 20.6184 59.7908 20.9417C60.1639 21.265 60.6115 21.4889 61.1338 21.5635C61.6561 21.663 62.2033 21.6878 62.8002 21.6878C63.2479 21.6878 63.6956 21.663 64.1184 21.5884C64.5661 21.5137 64.9641 21.4391 65.362 21.3645C65.7351 21.265 66.1082 21.1904 66.4315 21.0661C66.7548 20.9666 67.0284 20.8671 67.2274 20.7925L67.9486 23.1055Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M73.7431 23.8506V12.0366H69.3906L69.6145 9.67383H81.2792L81.0554 12.0366H76.6531V23.8257H73.7431V23.8506Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M82.1016 16.7389C82.1016 15.1471 82.3005 13.8787 82.6736 12.9087C83.0467 11.9387 83.5441 11.1926 84.1908 10.6703C84.8374 10.148 85.5836 9.79977 86.4292 9.62567C87.2997 9.45157 88.22 9.37695 89.1899 9.37695C90.1848 9.37695 91.1051 9.45157 91.9507 9.62567C92.8212 9.79977 93.5673 10.148 94.1891 10.6703C94.8358 11.1926 95.3332 11.9387 95.7063 12.9087C96.0794 13.8787 96.2783 15.1471 96.2783 16.7389C96.2783 18.3307 96.0794 19.5992 95.7063 20.5691C95.3332 21.5391 94.8358 22.2853 94.1891 22.8076C93.5425 23.3299 92.7963 23.6781 91.9507 23.8522C91.0802 24.0263 90.1599 24.1009 89.1899 24.1009C88.1951 24.1009 87.2748 24.0263 86.4292 23.8522C85.5587 23.6781 84.8126 23.3299 84.1908 22.8076C83.5441 22.2853 83.0467 21.5391 82.6736 20.594C82.3005 19.5991 82.1016 18.3307 82.1016 16.7389ZM89.2148 11.7397C88.6677 11.7397 88.1205 11.7646 87.623 11.8144C87.1256 11.8641 86.6779 12.0382 86.3049 12.3615C85.9069 12.6849 85.6084 13.1823 85.4095 13.8538C85.1856 14.5254 85.0861 15.4953 85.0861 16.7389C85.0861 17.9825 85.1856 18.9525 85.4095 19.624C85.6333 20.2956 85.9318 20.793 86.3049 21.1163C86.6779 21.4396 87.1256 21.6137 87.623 21.6635C88.1205 21.7132 88.6428 21.7381 89.2148 21.7381C89.762 21.7381 90.2843 21.7132 90.7817 21.6635C91.2792 21.6137 91.7268 21.4148 92.0999 21.1163C92.473 20.793 92.7963 20.2956 93.0202 19.624C93.244 18.9525 93.3684 17.9825 93.3684 16.7389C93.3684 15.4953 93.244 14.5254 93.0202 13.8538C92.7963 13.1823 92.4979 12.6849 92.0999 12.3615C91.702 12.0382 91.2792 11.8641 90.7569 11.8144C90.2594 11.7646 89.7371 11.7397 89.2148 11.7397Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M98.293 23.7276V9.55078H104.013C105.058 9.55078 105.929 9.60053 106.625 9.72488C107.321 9.82437 107.893 10.0482 108.316 10.3715C108.739 10.6949 109.037 11.1426 109.236 11.7395C109.411 12.3364 109.51 13.1323 109.51 14.0774C109.51 14.8484 109.46 15.4951 109.336 16.0423C109.236 16.5646 109.037 16.9874 108.789 17.3356C108.54 17.6838 108.192 17.9325 107.769 18.1066C107.346 18.2807 106.849 18.405 106.252 18.4797L108.689 21.3648C108.789 21.4642 108.888 21.5389 109.037 21.5886C109.187 21.6383 109.361 21.6632 109.535 21.6632C109.709 21.6632 109.908 21.6632 110.082 21.6383C110.256 21.6135 110.43 21.6135 110.604 21.6135L110.356 23.6529C109.908 23.7027 109.46 23.7276 109.062 23.7276C108.664 23.7276 108.266 23.6529 107.893 23.5286C107.52 23.4042 107.122 23.1804 106.724 22.8819C106.326 22.5835 105.904 22.1606 105.431 21.6135L102.919 18.5792H101.178V23.6778H98.293V23.7276ZM106.525 14.0525C106.525 13.5551 106.476 13.1572 106.401 12.8836C106.302 12.61 106.177 12.3861 105.978 12.2369C105.779 12.0877 105.531 12.0131 105.207 11.9882C104.884 11.9633 104.486 11.9384 104.038 11.9384H101.203V16.291H104.038C104.486 16.291 104.884 16.2661 105.207 16.2412C105.531 16.2163 105.779 16.1169 105.978 15.9925C106.177 15.8433 106.302 15.6443 106.401 15.3707C106.501 15.0971 106.525 14.6992 106.525 14.2018V14.0525Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M121 33.303H113.588V32.6563H120.353V0.696404L0.646661 0.646661V32.6066L54.6179 32.6314V33.2781L0 33.2532V0L121 0.0497423V33.303Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M58.5244 33.1292C58.5492 31.6866 58.7979 31.1146 59.6684 31.1146C60.0166 31.1146 60.4395 31.1394 60.9369 31.2141V29.3984H61.4343V35.7158H61.0861L60.9866 35.3676C60.4146 35.6909 59.9669 35.7655 59.569 35.7655C58.8228 35.7655 58.4746 35.0691 58.4746 33.4027V33.1292H58.5244ZM59.7431 35.293C60.0415 35.293 60.4146 35.1935 60.9369 34.9199V31.7861C60.5638 31.6866 60.0913 31.6866 59.7679 31.6866H59.7182C59.0467 31.6866 59.0715 32.4825 59.0715 33.1789C59.0467 34.7209 59.1959 35.293 59.7431 35.293Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M63.3233 29.7227C63.6218 29.7227 63.6715 29.7475 63.6715 30.046C63.6715 30.3196 63.6467 30.3693 63.3233 30.3693C63.0249 30.3693 63 30.3196 63 30.046C63.0249 29.7724 63.0249 29.7227 63.3233 29.7227ZM63.0746 35.7416V31.2398H63.6218V35.7416H63.0746Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M65.8106 34.5715C65.8106 34.9197 66.0593 34.8948 66.5319 34.8948C67.3278 34.8948 68.5465 34.671 68.5713 36.0886C68.5713 37.1084 68.0739 37.556 67.0542 37.556C66.2583 37.556 65.7609 37.4566 65.537 37.4566V36.9343C65.537 36.9343 66.3826 37.0089 67.079 37.0337C67.6262 37.0337 68.0988 36.8099 68.0739 36.0389C68.049 35.2181 67.3029 35.3922 66.6314 35.3922C65.9101 35.3922 65.2883 35.3922 65.338 34.3476C65.338 34.1984 65.3878 34.0243 65.4624 33.9248C65.1639 33.6512 65.0645 33.303 65.0645 32.6812C65.0645 31.6366 65.3629 31.1641 66.507 31.1641H68.7703V31.6366L68.2729 31.7112C68.3475 31.9102 68.3972 32.2833 68.3972 32.6812C68.3972 33.8502 67.9744 34.1984 67.1537 34.1984H66.0593C65.935 34.1984 65.8106 34.1984 65.8106 34.3974V34.5715ZM67.9744 32.6315C67.9744 31.7859 67.7506 31.6366 67.079 31.6366H66.5567C65.8106 31.6366 65.6116 31.761 65.6116 32.6812C65.6116 33.7258 65.8852 33.7258 67.1039 33.7258C67.7506 33.7507 67.9744 33.4274 67.9744 32.6315Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M70.2882 29.7227C70.5866 29.7227 70.6115 29.7475 70.6115 30.046C70.6115 30.3196 70.5866 30.3693 70.2882 30.3693C69.9897 30.3693 69.9648 30.3196 69.9648 30.046C69.9897 29.7724 69.9897 29.7227 70.2882 29.7227ZM70.0395 35.7416V31.2398H70.5866V35.7416H70.0395Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M72.7747 34.3233V31.7118H71.8047V31.2393H72.7747V30.0703H73.2721V31.2393H74.267V31.7118H73.2721V34.3482C73.2721 35.0944 73.4711 35.368 73.9436 35.368C74.068 35.368 74.2172 35.3431 74.3665 35.3182C74.3665 35.4177 74.3665 35.6415 74.3665 35.741C74.1675 35.7908 73.9934 35.8156 73.8939 35.8156C72.9736 35.8156 72.7747 35.2187 72.7747 34.3233Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M78.4953 35.7404H78.0227L77.973 35.3425C77.5253 35.5912 76.9284 35.8399 76.4807 35.8399C75.7097 35.8399 75.4609 35.1933 75.4609 34.3974C75.4609 33.4025 76.0578 33.2533 76.8786 33.2284H77.9481V32.333C77.9481 31.7361 77.6496 31.6864 77.1273 31.6864C76.605 31.6864 76.0081 31.7859 75.8091 31.8107C75.8091 31.7859 75.7345 31.3382 75.7345 31.3133C76.2568 31.2138 76.7791 31.1641 77.2766 31.1641C78.1222 31.1641 78.5201 31.363 78.5201 32.3828V35.7404H78.4953ZM77.973 33.6761H77.3512C76.2817 33.6761 75.9832 33.8253 75.9832 34.4222C75.9832 34.8699 76.0827 35.2679 76.5802 35.2679C76.9781 35.2679 77.6745 34.9197 77.973 34.8202V33.6761Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M81.0828 35.79C81.0081 35.79 80.9833 35.79 80.9335 35.79C80.4361 35.79 80.0879 35.5662 80.0879 34.5464V29.4727H80.6102V34.7206C80.6102 35.0688 80.6102 35.3672 81.0828 35.4418V35.79Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M87.4484 35.7404H86.9758L86.9261 35.3425C86.4784 35.5912 85.8815 35.8399 85.4338 35.8399C84.6628 35.8399 84.4141 35.1933 84.4141 34.3974C84.4141 33.4025 85.011 33.2533 85.8317 33.2284H86.9012V32.333C86.9012 31.7361 86.6028 31.6864 86.0556 31.6864C85.5333 31.6864 84.9364 31.7859 84.7374 31.8107C84.7374 31.7859 84.6628 31.3382 84.6628 31.3133C85.1851 31.2138 85.7074 31.1641 86.2048 31.1641C87.0504 31.1641 87.4484 31.363 87.4484 32.3828V35.7404ZM86.9261 33.6761H86.3043C85.2348 33.6761 84.9364 33.8253 84.9364 34.4222C84.9364 34.8699 85.0359 35.2679 85.5333 35.2679C85.9312 35.2679 86.6276 34.9197 86.951 34.8202L86.9261 33.6761Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M89.6627 34.5715C89.6627 34.9197 89.9114 34.8948 90.384 34.8948C91.1798 34.8948 92.3985 34.671 92.4234 36.0886C92.4234 37.1084 91.926 37.556 90.9063 37.556C90.1104 37.556 89.6129 37.4566 89.3891 37.4566V36.9343C89.3891 36.9343 90.2347 37.0089 90.9311 37.0337C91.4534 37.0337 91.9509 36.8099 91.926 36.0389C91.9011 35.2181 91.155 35.3922 90.4834 35.3922C89.7622 35.3922 89.1404 35.3922 89.1901 34.3476C89.1901 34.1984 89.2399 34.0243 89.3394 33.9248C89.016 33.6512 88.9414 33.303 88.9414 32.6812C88.9414 31.6366 89.2399 31.1641 90.384 31.1641H92.6473V31.6366L92.1498 31.7112C92.2245 31.9102 92.2742 32.2833 92.2742 32.6812C92.2742 33.8502 91.8514 34.1984 91.0306 34.1984H89.9363C89.8119 34.1984 89.6876 34.1984 89.6876 34.3974V34.5715H89.6627ZM91.8016 32.6315C91.8016 31.7859 91.5778 31.6366 90.8814 31.6366H90.3591C89.6129 31.6366 89.414 31.761 89.414 32.6812C89.414 33.7258 89.6876 33.7258 90.9063 33.7258C91.6027 33.7507 91.8016 33.4274 91.8016 32.6315Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M96.9497 33.6521H94.2884C94.3133 34.3237 94.3133 34.6719 94.4874 34.9952C94.6615 35.3185 95.2584 35.3185 95.6066 35.3185C95.8305 35.3185 96.2782 35.2937 96.701 35.2439V35.6667C96.2284 35.7413 95.731 35.816 95.2336 35.816C94.0397 35.816 93.791 35.2439 93.791 33.478C93.791 31.6624 93.99 31.1152 95.3579 31.1152C96.7259 31.1152 96.9497 31.6375 96.9497 33.478C96.9497 33.5278 96.9497 33.5775 96.9497 33.6521ZM94.3133 33.1547H96.4523C96.4274 31.8862 96.303 31.6127 95.3828 31.6127C94.3382 31.6127 94.3382 32.0852 94.3133 33.1547Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M100.905 35.7404V32.1589C100.905 31.8605 100.755 31.7112 100.457 31.7112C100.158 31.7112 99.4621 31.7859 98.89 32.0843V35.7404H98.3926V31.2387H98.8154L98.8651 31.562C99.4372 31.2884 99.9844 31.1641 100.532 31.1641C101.128 31.1641 101.452 31.5123 101.452 32.2087V35.7404H100.905Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M104.834 35.2922C105.132 35.2922 105.505 35.2673 105.828 35.2176V35.6653C105.48 35.7648 104.883 35.8145 104.461 35.8145C103.416 35.8145 102.943 35.5907 102.943 33.7253C102.943 31.6361 103.117 31.1387 104.61 31.1387C104.858 31.1387 105.505 31.2133 105.804 31.263V31.7605C104.709 31.661 104.66 31.661 104.585 31.661C103.491 31.661 103.466 32.0589 103.466 33.7502C103.466 35.2176 103.764 35.2922 104.834 35.2922Z"
              fill="#828282"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M108.465 37.581H107.968L108.515 35.7654H108.291L106.898 31.2637H107.446L108.689 35.2929L109.933 31.2637H110.455L108.465 37.581Z"
              fill="#828282"
            />
          </svg>
        </a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterComponent',
};
</script>

<style scoped>
.contacts__links li {
  display: flex;
}

.contacts__links li svg {
  margin-right: 14px;
}

.footer {
  background-color: #333;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 63px;
}

.footer__logos {
  margin-right: 56px;
}

.footer__links li,
.footer .contacts__links li {
  font-size: 1.4vh;
  line-height: 28px;
  color: #a2a2a2;
}

.footer__links li + li,
.footer .contacts__links li + li {
  margin-top: 18px;
}

.footer__links li a,
.footer .contacts__links li a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__links li a svg path,
.footer .contacts__links li a svg path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__links li a:hover,
.footer .contacts__links li a:hover {
  color: #099f79;
}

.footer__links li a:hover svg path,
.footer .contacts__links li a:hover svg path {
  fill: #099f79;
}

.footer__column {
  max-width: 300px;
  width: 100%;
}

.footer__contacts {
  max-width: 366px;
  width: 100%;
  margin-left: 175px;
  margin-right: auto;
}

.footer__copyright {
  margin-top: 20px;
  padding-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #828282;
}

.footer__copyright svg {
  margin-left: 14px;
}

@media (max-width: 768px) {
  .footer__inner {
    flex-direction: column;
  }

  .footer__logos {
    margin-bottom: 50px;
  }

  .footer__column {
    max-width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #828282;
    margin-bottom: 46px;
  }

  .footer__contacts {
    max-width: 100%;
    margin-left: unset;
    padding-bottom: 30px;
    border-bottom: 1px solid #828282;
  }

  .footer__copyright {
    font-size: 16px;
  }
}
</style>
