<script setup>
import { useI18n } from 'vue-i18n'

const { t, locale } = useI18n({ useScope: 'global' })
var isLangShowed = true;

const langButton = () => {
  if (isLangShowed) {
    var content = document.querySelector('.dropdown-list');
    content.style.display = 'block';
    isLangShowed = !isLangShowed
  }

}

const switchLang = (lang) => {
  locale.value = lang
  localStorage.setItem('lang', locale.value)
  isLangShowed = !isLangShowed;
  var content = document.querySelector('.dropdown-list');
  content.style.display = 'none';
  window.location.reload();
}
</script>

<template>
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="header__top-inner">
          <ul class="header__top-links">
            <li>
              <a class="header__top-phone" href="tel:+77273777474">
                +7 (727) 377-74-74
              </a>
            </li>
            <li>
              <a href="mailto:info@halykactiv.kz"> info@halykactiv.kz </a>
            </li>
            <li>
              <div class="dropdown">
                <button @click="langButton()" class="dropdown-btn">{{ $t('lang') }}</button>
                <ul class="dropdown-list">

                  <a @click="switchLang('kz')"> KZ </a>

                  <a @click="switchLang('ru')"> RU </a>

                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header__inner">
      <div class="container">
        <div class="header__content">
          <div class="header__logos">
            <a class="header__top-phone_mb" href="tel:+77273777474">
              +7 (727) 377-74-74
            </a>
            <div class="header__top-phone_mb">
              <br />
            </div>
            <a class="header__logo" @click="$router.push({ name: 'main' })">
              <img class="dp-block" style="display: inline" src="@/images/icons/logo-activ-s.svg" alt="logo" />
            </a>
          </div>
          <nav class="header__nav" v-if="sizeScreen === 'desktop'">
            <div class="header__nav-hover sibling-margin">
              <router-link :to="{
                name: 'privat',
                params: {},
              }">
                <a class="header__nav-link to-green"> {{ $t('resident_objects.name') }} </a>
              </router-link>
              <ul class="header__nav-dropdown">
                <li class="header__nav-item" v-for="gk in allgk" :key="gk.id" @click="getData(gk.isPage)">
                  <router-link v-if="gk.isPage == 1" :to="{ name: 'gk', params: { id: gk.id } }">
                    <a>{{ gk.fullname }}</a>
                  </router-link>
                  <router-link v-else :to="{
                    name: 'privat',
                    params: {
                      gkplace: gk.id,
                    },
                  }">
                    <a>{{ gk.fullname }}</a>
                  </router-link>
                </li>
              </ul>
            </div>
            <div class="header__nav-hover sibling-margin">
              <a class="header__nav-link to-green" @click="$router.push({ name: 'second' })">
                {{ $t("secondary_objects.name") }}
              </a>
              <ul class="header__nav-dropdown">
                <li class="header__nav-item" v-for="el in sec_objects" :key="el.value" @click="
                  $router.push({
                    name: 'second',
                    params: { typeloc: el[1] },
                   })
                ">
                  {{ el[0] }}
                </li>
              </ul>
            </div>
            <div class="header__nav-hover sibling-margin">
              <a class="header__nav-link to-green" @click="$router.push({ name: 'commercial' })">
                {{ $t("commercial_objects.name") }}
              </a>
              <ul class="header__nav-dropdown">
                <li class="header__nav-item" @click="
                  $router.push({
                    name: 'privat',
                    params: { typeloc: 'Коммерческая (НП)' },
                  })
                ">
                  {{ $t("commercial_objects.np_in_gk") }}
                </li>
                <li class="header__nav-item" v-for="el in comm_objects" :key="el.value" @click="
                  $router.push({
                    name: 'commercial',
                    params: { typeloc: el[1] },
                  })
                ">
                  {{ el[0] }}
                </li>
              </ul>
            </div>
            <div class="header__nav-hover sibling-margin">
              <a class="header__nav-link to-green sibling-margin" @click="$router.push({ name: 'about' })">
                {{ $t("about_company") }}
              </a>
            </div>
            <div class="header__nav-hover sibling-margin">
              <a class="header__nav-link to-green sibling-margin" @click="$router.push({ name: 'contacts' })">
                {{ $t("contact") }}
              </a>
            </div>
          </nav>
          <button class="burger-menu" v-if="sizeScreen !== 'desktop'" @click="toggleMenu"
            :class="toggle ? 'active' : ''">
            <span></span>
          </button>
          <button-white v-if="sizeScreen === 'desktop'" @click="showConsult">
            {{ $t("get_consultation_on_language.name") }}
          </button-white>
        </div>
      </div>
    </div>
    <div class="mobile-menu" v-if="sizeScreen !== 'desktop'" :class="toggle ? 'active' : ''">
      <div class="container">
        <div class="mobile-menu__wrapper">
          <div class="mobile-menu__inner">
            <nav class="mobile-menu__nav">
              <div class="header__nav-hover sibling-margin">
                <a class="header__nav-link to-green" @click="$router.push({ name: 'privat' })">
                  {{ $t('resident_objects.name') }}
                </a>
                <ul class="header__nav-dropdown">
                  <li v-for="gk in allgk" :key="gk.id" @click="getData(gk.isPage)">
                    <router-link v-if="gk.isPage == 1" :to="{ name: 'gk', params: { id: gk.id } }">
                      <a>{{ gk.fullname }}</a>
                    </router-link>
                    <router-link v-else :to="{
                      name: 'privat',
                      params: {
                        gkplace: gk.id,
                      },
                    }">
                      <a>{{ gk.fullname }}</a>
                    </router-link>
                  </li>
                </ul>
              </div>
              <div class="header__nav-hover sibling-margin">
                <a class="header__nav-link to-green" @click="$router.push({ name: 'second' })">
                  {{ $t("secondary_objects.name") }}
                </a>
              </div>
              <div class="header__nav-hover sibling-margin">
                <a class="header__nav-link to-green" @click="$router.push({ name: 'commercial' })">
                  {{ $t("commercial_objects.name") }}
                </a>
                <ul class="header__nav-dropdown">
                  <li v-for="el in typeloc" :key="el.value" @click="
                    $router.push({
                      name: 'commercial',
                      params: { typeloc: el.name },
                    })
                  ">
                    {{ el.name }}
                  </li>
                </ul>
              </div>
              <a class="header__nav-link to-green sibling-margin" @click="$router.push({ name: 'about' })">
                {{ $t("about_company") }}</a><a class="header__nav-link to-green sibling-margin"
                @click="$router.push({ name: 'contacts' })">
                {{ $t("contact") }}
              </a>
            </nav>
            <div class="mobile-menu__button">
              <button-green class="button button-green" @click="showConsultM">
                {{ $t("get_consultation_on_language.name") }}
              </button-green>
            </div>
            <a href="tel:+77273777474" class="mobile-menu__link mobile-menu__tel">+7 (727) 377‒74‒74</a><br />
            <a href="tel:+77273573079" class="mobile-menu__link mobile-menu__tel">+7 (727) 357-30-79</a><br />
            <a href="mailto:info@halykactiv.kz" class="mobile-menu__link mobile-menu__email">info@halykactiv.kz</a>
            <div class="mobile-menu__lang">
              <span class="mobile-menu__lang-item">RU</span>
              <a href="/kz/" class="mobile-menu__lang-item">KZ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-show="isConsultVis" @close="closeConsult">
      <template v-slot:body>
        <ConsultComponent></ConsultComponent>
      </template>
    </Modal>
    <slot name="modal2"> </slot>
  </header>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import store from '@/store';
import ButtonGreen from './UI/ButtonGreen.vue';
import Modal from '@/components/Modal';
import ConsultComponent from '@/components/ConsultComponent';

export default {
  components: { ButtonGreen, Modal, ConsultComponent },
  name: 'HeaderComponent',
  data() {
    return {
      toggle: false,
      isConsultVis: false,
      shDopMenu: false,
      comm_objects: [
        [this.$t("commercial_objects.notLives"), "Нежилые помещения" ],
        [this.$t("commercial_objects.office"), "Офис"],
        [this.$t("commercial_objects.building"), "Здание"],
        [this.$t("commercial_objects.parking"), "Паркоместо"],
        [this.$t("commercial_objects.garage"), "Промбаза, склад"],
        [this.$t("commercial_objects.storage"), "Кладовка"],
        [this.$t("commercial_objects.lawn"), "Земельный участок"]
      ],
      sec_objects: [
        [this.$t("secondary_objects.apartments"), "Квартира"],
        [this.$t("secondary_objects.house"), "Дом"],
        [this.$t("commercial_objects.parking"), "Паркоместо"],
      ],
    };
  },
  methods: {
    ...mapActions([
      'fetchInfoGk',
      'fetchAllGk',
      'fetchObjectsGk',
      'fetchAllTypesLoc',
      'ApiGetAllObjects',
    ]),
    getData(e) {
      this.toggle = false;
      if (e) {
        store.dispatch('fetchInfoGk', this.$route.params.id);
        store.dispatch('fetchObjectsGk', this.$route.params.id);
      }
    },
    getTranslate() {
      var item = this.comm_objects;
      var id = this.$router.currentRoute.value.params.id;
      var search = item.filter(function (val) {
        return val.id == id;
      })[0];
      return search;
    },
    toggleMenu() {
      this.toggle = !this.toggle;
    },
    showConsult() {
      this.isConsultVis = true;
    },
    showConsultM() {
      this.toggleMenu();
      this.showConsult();
    },
    closeConsult() {
      this.isConsultVis = false;
    },
  },
  computed: {
    ...mapGetters(['sizeScreen', 'allgk']),
    typeloc() {
      return store.getters.typeloc.filter((el) => el.type == 1);
    },

    typelocPrivat() {
      return store.getters.typeloc.filter((el) => el.type == 0);
    },
  },
  mounted() {
    this.fetchAllGk();
    this.fetchAllTypesLoc();
    store.dispatch('ApiGetAllObjects', { payload: 1 });
  },
};
</script>

<style scoped>
.dopmenu {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 110;
}

.header.active-filter {
  z-index: 103;
}

.header.active-filter .header__inner {
  background-color: #0a4f3d;
}

.header.active-filter .header__logo {
  opacity: 0;
  visibility: hidden;
}

.header.active-filter .header__logo.hidden-logo {
  visibility: visible;
  opacity: 1;
}

.header.active-filter .burger-menu::after,
.header.active-filter .burger-menu::before,
.header.active-filter .burger-menu span {
  background-color: #fff;
}

.header.active .header__inner {
  background-color: #0a4f3d;
}

.header.active .header__logo {
  opacity: 0;
  visibility: hidden;
}

.header.active .header__logo.hidden-logo {
  visibility: visible;
  opacity: 1;
}

.header__top {
  background-color: #333;
  z-index: 200;
}

.header__top-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  min-height: 34px;
  color: #fff;
}

.header__top-links li {
  position: relative;
}

.header__top-links li+li {
  padding-left: 15px;
  margin-left: 15px;
}

.header__top-links li+li::before {
  content: '|';
  font-size: 16px;
  color: #afafaf;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__top-phone {
  font-weight: bold;
  white-space: nowrap;
}

.header__top-phone_mb {
  font-weight: bold;
}

.header__top-phone_mb {
  display: none;
  visibility: hidden;
}

.header__inner {
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.header__content {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__logo {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.header__logo+.header__logo {
  margin-left: 40px;
}

.header__logo img {
  height: 46px;
}

.header__logo.hidden-logo {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 0 !important;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.header__logo.hidden-logo img {
  height: 46px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  position: relative;
}

.header__nav-item:hover .header__nav-submenu {
  overflow: unset;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
}

.header__nav-submenu {
  position: absolute;
  left: 160px;
  top: -20px;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  padding: 20px;
  transition: all 0.4s;
  border-radius: 10px;
  color: #333;
  min-width: 200px;
}

.header__nav-submenu li:hover {
  color: #099f79;
}

.header__nav-link {
  cursor: pointer;
  font-size: 13px;
  letter-spacing: -0.02em;
}

.header__nav-dropdown {
  position: absolute;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  border-radius: 20px;
}

.header__nav-dropdown li+li {
  margin-top: 10px;
}

.header__nav-dropdown li {
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__nav-item:hover {
  color: #099f79;
}

.header__nav-hover:hover .header__nav-dropdown {
  visibility: visible;
  opacity: 1;
}

.header__nav .sibling-margin+.sibling-margin {
  margin-left: 28px;
}

.dropdown {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

/* .dropdown:hover .dropdown-list {
  display: block;
} */

.dropdown-btn {
  padding-right: 14px;
  position: relative;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

.dropdown-btn::after {
  content: '';
  /* background-image: url(@/images/icons/white-arrow-down.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 10px;
  height: 6px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 16px;
  color: #099f79;
  background-color: #333;
  z-index: 999999;
  left: 0;
}

.dropdown-list a {
  padding: 8px 14px;
}

@media (max-width: 1024px) {
  .burger-menu {
    display: block;
  }

  .burger-menu {
    width: 40px;
    height: 27px;
    position: relative;
    z-index: 200;
  }

  .burger-menu::after,
  .burger-menu::before {
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background-color: #0a4f3d;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .burger-menu::after {
    top: 0;
  }

  .burger-menu.active::after {
    -webkit-transform: translateY(12px) rotateZ(-45deg);
    -ms-transform: translateY(12px) rotate(-45deg);
    transform: translateY(12px) rotateZ(-45deg);
  }

  .burger-menu.active::after,
  .burger-menu.active::before,
  .burger-menu.active span {
    background-color: #fff;
  }

  .burger-menu.active span {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    pointer-events: none;
    opacity: 0;
  }

  .burger-menu.active::before {
    -webkit-transform: translateY(-12px) rotateZ(45deg);
    -ms-transform: translateY(-12px) rotate(45deg);
    transform: translateY(-12px) rotateZ(45deg);
  }

  .burger-menu::before {
    bottom: 0;
  }

  .burger-menu span {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background-color: #0a4f3d;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .mobile-menu {
    visibility: hidden;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a4f3d;
    opacity: 0;
    z-index: 130;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    padding-top: 120px;
    color: #fff;
  }

  .mobile-menu.active {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  .mobile-menu .container {
    max-width: 1140px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
  }

  .mobile-menu__wrapper {
    overflow-y: auto;
    height: calc(100vh - 120px);
  }

  .mobile-menu__inner {
    padding-bottom: 135px;
  }

  .header__nav-link {
    display: block;
    font-weight: 500;
    font-size: 1.4vh;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
  }

  .header__nav-dropdown {
    position: static;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    padding: 10px 0;
  }

  .header__nav-dropdown li {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
  }

  .header__nav-dropdown li {
    font-size: 13px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .mobile-menu__nav .sibling-margin+.sibling-margin {
    margin-top: 20px;
    margin-left: auto;
  }

  .mobile-menu__button {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 40px auto;
  }

  .mobile-menu__tel {
    font-weight: bold;
  }

  .mobile-menu__link {
    display: block;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    font-size: 1.4vh;
    line-height: 17px;
    margin: 0 auto;
  }

  .mobile-menu__lang {
    display: block;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
    margin-top: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    line-height: 16px;
  }

  .mobile-menu__lang span {
    font-weight: 700;
  }

  .mobile-menu__lang-item+.mobile-menu__lang-item {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .header__top-phone {
    font-size: 1.4vh;
  }

  .header__top-links li+li[data-v-5c833af0] {
    padding-left: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 480px) {
  .header__top-phone {
    font-size: 12px;
  }
}
</style>
