<script>
import buttonGreen from '@/components/UI/ButtonGreen';
export default {
  name: 'Modal',
  methods: {
    close() {
      this.$emit('close');
    },
  },
};
</script>

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="mfp-bg mfp-ready" @click="close"></div>
      <div
        class="modal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header class="modal-header">
          <button type="button" class="btn-close" @click="close">&#10005</button>
        </header>
        <section class="modal-body">
          <slot name="body"> This is the default body! </slot>
        </section>
      </div>
    </div>
  </transition>
</template>

<style>
.mfp-bg.mfp-ready {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.mfp-bg {
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.mfp-bg {
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  background: #0b0b0b;
  opacity: 0.2;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  overflow-y: auto;
  z-index: 1020;
}
.modal {
  margin: 0 auto 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 45px 30px 29px;
  position: absolute;
	top: 10px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  z-index: 1045;
  min-width: 100px;
}

.modal-header {
  padding: 15px;
  display: flex;
}
.modal-header {
  position: relative;
  color: #4aae9b;
  justify-content: space-between;
}
.modal-body {
  position: relative;
  padding: 20px 10px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 20px;
  /* padding: 10px; */
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}

@media (max-width: 1024px) {
  .modal {
  	position: absolute;
    top: 10px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .modal {
    padding: 0;
  }

  .modal-header {
    margin-top: 20px;
  }

  .btn-close {
    right: 20px;
  }
}
</style>
