<template>
  <div class="modal-wrapper">
    <div class="modal">
      <button type="button" class="btn-close" @click="$emit('close')">&#x2715</button>
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalPic"
}
</script>

<style scoped>

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  overflow-y: auto;
  z-index: 1020;
}

.modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 45px 10px 29px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(100px, 1012px, 100%);
  z-index: 1045;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 20px;
  /* padding: 10px; */
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

</style>
