<template>
  <div class="container">
    <div class="news__row anim-items anim-show anim-no-hide _active">
      <div class="news__title title-yel-green">
        {{$t("last_news.more")}} <span>{{$t("last_news.second")}}</span>
      </div>
      <a @click="$router.push({ name: 'news' })" class="news__link">
        {{$t("last_news.see_all")}}
      </a>
    </div>
    <div class="news__inner anim-items anim-no-hide _active">
      <div v-for="news in getOtherNewsForNewsPage"
        class="news-item anim-show">
        <a class="news-item__image" href="#">
          <img class="dp-block" :src="news.Image" alt="" />
        </a>
        <div class="news-item__date">{{ news.Date }}</div>
        <div class="news-item__name">
          <a href="#">
            {{ news.Title }}
          </a>
        </div>
        <p class="news-item__text">
          <a href="#">
            {{ news.Description }}
          </a>
        </p>
        <router-link :to="'/news/' + news.ID" class="news-item__link link-read">
          {{$t("last_news.read")}}
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.9375 1.09375C5.625 1.40625 5.65625 1.875 5.9375 2.1875L9.71875 5.75H0.75C0.3125 5.75 0 6.09375 0 6.5V7.5C0 7.9375 0.3125 8.25 0.75 8.25H9.71875L5.9375 11.8438C5.65625 12.1562 5.65625 12.625 5.9375 12.9375L6.625 13.625C6.9375 13.9062 7.40625 13.9062 7.6875 13.625L13.7812 7.53125C14.0625 7.25 14.0625 6.78125 13.7812 6.46875L7.6875 0.40625C7.40625 0.125 6.9375 0.125 6.625 0.40625L5.9375 1.09375Z"
              fill="#099F79"></path>
          </svg>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'MoreNewsComponent',
  computed: {
    ...mapGetters(['getOtherNewsForNewsPage']),
  },
  methods: {
    ...mapActions(['getAllNews']),
  },
  mounted() {
    this.$store.dispatch('getAllNews');
  },
};
</script>

<style scoped>
.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 52px;
}

.news__link {
  font-weight: bold;
  color: #099f79;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.news__inner .news-item {
  margin-top: 30px;
  margin-left: 30px;
  max-width: calc(25% - 30px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.news-item__image {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 7px;
}

.news-item__image img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.news-item__date {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 5px;
}

.news-item__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.news-item__text {
  font-size: 12px;
  color: #828282;
  margin-bottom: 20px;
}

.news-item__link {
  margin-top: auto;
}

@media (max-width: 1024px) {
  .news__inner .news-item {
    max-width: calc(33.33% - 30px);
  }
}

@media (max-width: 768px) {
  .news__inner .news-item {
    max-width: calc(50% - 30px);
  }
}
</style>
