<template>
  <div class="filter">
    <div class="mobile-filter__logo" v-if="sizeScreen !== 'desktop'">
      <img src="@/images/icons/logo3.svg" alt="" />
    </div>
    <div class="filter__inner">
      <div class="filter__wrapper">
        <div class="filter__title">{{$t("find_objects")}}:</div>
        <form
          action="/ru/commercial/"
          class="filter__form"
          method="POST"
          id="filter-form"
        >
          <div class="filter-field">
            <div class="filter-field__name">{{$t("city")}}</div>
            <div class="filter-field__inner">
              <div class="select">
                <div class="jq-selectbox jqselect" id="filter-city-styler">
                  <select-field
                    text="Любой"
                    :name="'city'"
                    :options="city"
                    :active="$route.params.city"
                    @activeOption="getData"
                  ></select-field>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-field">
            <div class="filter-field__name">{{$t("type")}}</div>
            <div class="filter-field__inner">
              <div class="select">
                <div class="jq-selectbox jqselect" id="filter-obj-type-styler">
                  <select-field
                    text="Любой"
                    :name="'typeloc'"
                    :options="typeloc"
                    :active="filters.typeloc"
                    @activeOption="getData"
                  ></select-field>
                </div>
              </div>
            </div>
          </div>
          <div v-if="this.$route.path.indexOf('commercial') === -1">
            <!-- Поле отображается, если загружена страница с объектами жилой недвижимости-->

            <div
              v-show="this.$route.path.indexOf('privat') === 1"
              class="filter-field filter-field--first-second"
              style=""
            >
              <div class="filter-field__name">{{$t("resident")}}</div>
              <div class="filter-field__inner">
                <label class="fake-checkbox fake-checkbox-square all_gk">
                  <input
                    type="checkbox"
                    class="inp_all_gk"
                    :checked="gkArr.indexOf(-1) !== -1"
                    value="-1"
                    v-model="gkArr"
                  />
                  <div class="fake-checkbox__content">
                    <div class="fake-checkbox__circle"></div>
                    <p class="fake-checkbox__text">Любой</p>
                  </div>
                </label>

                <label
                  v-for="gk in allgk"
                  :key="gk.id"
                  class="fake-checkbox fake-checkbox-square other_gk"
                  data-section_id="91"
                >
                  <input
                    type="checkbox"
                    :value="gk.id"
                    :checked="
                      gkArr.indexOf(-1) === -1 && gkArr.indexOf(gk.id) !== -1
                    "
                    class="inp_other_gk"
                    v-model="gkArr"
                  />
                  <div class="fake-checkbox__content">
                    <div class="fake-checkbox__circle"></div>
                    <p class="fake-checkbox__text">{{ gk.fullname }}</p>
                  </div>
                </label>
              </div>
            </div>
            <div class="filter-field">
              <div class="filter-field__name">{{$t("room_number")}}</div>
              <div class="filter-field__inner">
                <div class="filter-field__rooms">
                  <label class="filter-checkbox" v-for="r in 5" :key="r">
                    <input type="checkbox" :value="r" v-model="roomQuant" />
                    <div class="filter-checkbox__box">
                      <div class="filter-checkbox__text">{{ r }}</div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="filter-field">
            <div class="filter-field__name">{{$t("level")}}</div>
            <div class="filter-field__inner">
              <div class="filter-field__range">
                <span class="filter-field__range-diapason input-floor-from">{{
                  filters.stage.min
                }}</span>
                -
                <span class="filter-field__range-diapason input-floor-to">{{
                  filters.stage.max
                }}</span>
              </div>

              <multi-range-slider
                :name="'stage'"
                :min="filters.stage.minRange"
                :max="filters.stage.maxRange"
                :step="1"
                :minValue="filters.stage.min"
                ползунок
                :maxValue="filters.stage.max"
                @input="getData"
              ></multi-range-slider>
            </div>
          </div>
          <div class="filter-field">
            <div class="filter-field__name">{{$t("square-meter")}}</div>
            <div class="filter-field__inner">
              <div class="filter-field__range">
                <span class="filter-field__range-diapason input-space-from">{{
                  filters.square.min || 0
                }}</span>
                -
                <span class="filter-field__range-diapason input-space-to">{{
                  filters.square.max || 0
                }}</span>
              </div>
              <multi-range-slider
                :name="'square'"
                :min="filters.square.minRange || 0"
                :max="filters.square.maxRange || 0"
                :step="1"
                :minValue="filters.square.min || 0"
                :maxValue="filters.square.max || 0"
                @input="getData"
              />
            </div>
          </div>
          <div class="filter-field">
            <div class="filter-field__name">{{$t("price-meter")}}, тенге</div>
            <div class="filter-field__inner">
              <div class="filter-field__range">
                <span class="filter-field__range-diapason input-price2-from">{{
                  filters.price.min.toLocaleString('ru-RU')
                }}</span>
                -
                <span class="filter-field__range-diapason input-price2-to">{{
                  filters.price.max.toLocaleString('ru-RU')
                }}</span>
              </div>
              <multi-range-slider
                :name="'price'"
                :min="filters.price.minRange"
                :max="filters.price.maxRange"
                :step="1000"
                :minValue="filters.price.min"
                :maxValue="filters.price.max"
                @input="getData"
              />
            </div>
          </div>
          <div class="filter-field">
            <div class="filter-field__name">{{$t("price-tenge")}}</div>
            <div class="filter-field__inner">
              <div class="filter-field__range">
                <span class="filter-field__range-diapason input-cost-from">{{
                  filters.cost.min.toLocaleString('ru-RU')
                }}</span>
                -
                <span class="filter-field__range-diapason input-cost-to">{{
                  filters.cost.max.toLocaleString('ru-RU')
                }}</span>
              </div>
              <multi-range-slider
                :name="'cost'"
                :min="filters.cost.minRange"
                :max="filters.cost.maxRange"
                :step="100000"
                :minValue="filters.cost.min"
                :maxValue="filters.cost.max"
                @input="getData"
              />
            </div>
          </div>
          <div class="filter-btns">
            <button
              class="filter-btns__reset"
              type="reset"
              @click="resetFilters"
            >
              {{$t("reset")}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import SelectField from './UI/SelectField.vue';
import store from '@/store';
import { mapActions, mapGetters } from 'vuex';
import _ from 'lodash';

export default {
  components: { SelectField },

  name: 'SideBarComponent',
  data() {
    return {
      roomQuant: this.$route.params.rooms ? [this.$route.params.rooms] : [],
      gkArr: this.$route.params.gkplace ? [this.$route.params.gkplace] : [-1],
    };
  },

  watch: {
    roomQuant() {
      store.dispatch('updateFilters', 'clear');
      store.dispatch('updateFilters', { rooms: this.roomQuant });
    },

    gkArr() {
      if (this.gkArr.length === 0) {
        this.gkArr.push(-1);
      } else {
        if (this.gkArr.indexOf(-1) !== -1 || this.gkArr.indexOf('-1') !== -1) {
          this.gkArr = this.gkArr.filter((el) => el != -1);
        }
      }
      store.dispatch('updateFilters', 'cleargk');
      store.dispatch('updateFilters', { gkplace: this.gkArr });
    },

    $route() {
      if (this.$route.params.gkplace) {
        this.gkArr = [this.$route.params.gkplace];
      }
    },
  },
  computed: {
    ...mapGetters(['sizeScreen', 'city', 'activeTypeloc', 'allgk']),
    typeloc() {
      if (this.$route.path.indexOf('privat') === 1) {
        return store.getters.typeloc.filter((el) => el.type == 0);
      }
      if (this.$route.path.indexOf('commercial') === 1) {
        return store.getters.typeloc.filter((el) => el.type == 0);
      }
      if (this.$route.path.indexOf('second') === 1) {
        return store.getters.typeloc.filter((el) => el.type == 0);
      }
      if (this.$route.path.indexOf('gk') === 1) {
        return store.getters.typeloc.filter((el) => el.type == 0);
      }
    },
    filters() {
      return { ...store.getters.filters };
    },
  },
  mounted() {
    this.typeFilter();
  },

  methods: {
    ...mapActions(['ApiGetAllObjects']),
    resetFilters() {
      if (this.$route.path.indexOf('privat') === 1) {
        store.dispatch('ApiGetAllObjects', {
          payload: 0,
          filter: { ...this.$route.params },
        });
      }

      if (this.$route.path.indexOf('commercial') === 1) {
        store.dispatch('ApiGetAllObjects', {
          payload: 1,
          filter: { ...this.$route.params },
        });
      }

      if (this.$route.path.indexOf('second') === 1) {
        store.dispatch('ApiGetAllObjects', { payload: 2, filter: {} });
      }

      if (this.$route.path.indexOf('gk') === 1) {
        store.dispatch('fetchObjectsGk', this.$route.params.id);
      }

      this.roomQuant.length = 0;
      this.gkArr = [-1];
    },
    getData(e) {
      store.dispatch('updateFilters', e);
    },

    typeFilter() {
      if (this.$route.path.indexOf('privat') === 1) {
        store.dispatch('updateFilters', { type: 0 });
      } else if (this.$route.path.indexOf('commercial') === 1) {
        store.dispatch('updateFilters', { type: 1 });
      } else if (this.$route.path.indexOf('second') === 1) {
        store.dispatch('updateFilters', { type: 2 });
      }
    },

    typelocFilter(e) {
      let typeloc = {
        typeloc: e.target.value,
      };
      this.getData(typeloc);
    },
  },
};
</script>

<style scoped>
.filter {
  background-color: #0a4f3d;
  border-radius: 0px 15px 15px 0px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.filter::before {
  content: '';
  width: calc(100vw - 1112px);
  min-width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: #0a4f3d;
}

.filter__inner {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  width: 255px;
  z-index: 80;
}

.filter__wrapper {
  width: 255px;
  padding: 35px 20px 33px 10px;
  color: #f2f2f2;
}
.filter-field + .filter-field {
  margin-top: 36px;
}

.filter__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 22px;
}

.filter-field__name {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 28px;
  margin-bottom: 5px;
}

.filter-field__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-checkbox {
  max-width: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

.filter-checkbox > input {
  display: none;
}

.filter-checkbox.home-type .filter-checkbox__box {
  width: 100%;
  min-height: 45px;
  background-color: #007558;
  border: 2px solid #007558;
  border-radius: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all 0.3s;
}

.filter-checkbox.home-type .filter-checkbox__text {
  text-align: center;
  color: #0a4f3d;
  font-weight: bold;
  font-size: 11px;
}

.filter-checkbox.home-type .filter-checkbox__check {
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #099f79;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.filter-checkbox.home-type > input:checked + .filter-checkbox__box {
  border-color: #099f79;
  background-color: #fff;
}
.filter-checkbox__box {
  background-color: #f2f2f2;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.filter-checkbox > input + .filter-checkbox__box {
  background-color: #099f79;
}

.filter-checkbox > input:checked + .filter-checkbox__box {
  background-color: #fff;
}

.filter-field__rooms .filter-checkbox + .filter-checkbox {
  margin-left: 3px;
}

.filter-checkbox.home-type
  > input:checked
  + .filter-checkbox__box
  .filter-checkbox__check {
  opacity: 1;
}
.filter-checkbox.home-type .filter-checkbox__check::after {
  content: '';
  background-image: url(@/images/icons/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.filter-checkbox.home-type.big .filter-checkbox__box {
  min-height: 64px;
  border-radius: 15px;
}

.filter-field__row .fake-checkbox + .fake-checkbox {
  margin-left: 19px;
}

.catalog .fake-checkbox__circle::after {
  background-color: #fff;
}

.filter-field__inner .fake-checkbox-square {
  display: block;
}

.fake-checkbox.fake-checkbox-square .fake-checkbox__circle {
  width: 18px;
  height: 18px;
  border-radius: 2px;
}

.fake-checkbox.fake-checkbox-square .fake-checkbox__circle::after {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #fff;
}

.filter-field__inner .fake-checkbox-square + .fake-checkbox-square {
  margin-top: 12px;
}

.filter-field__rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-checkbox {
  max-width: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}
.filter-checkbox.home-type + .home-type {
  margin-left: 16px;
}
.filter-checkbox {
  max-width: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

.filter-field__range {
  margin-bottom: 20px;
}
.filter-field__range-diapason {
  font-size: 12px;
  line-height: 22px;
}

.filter-btns {
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter-btns__reset {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-weight: bold;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #f2f2f2;
}

.filter-btns__search {
  margin-left: 20px;
  padding: 13px 33px;
  font-size: 1.4vh;
}

.filter-hide {
  position: absolute;
  right: -17px;
  top: 72px;
  padding: 0;
  min-width: 40px;
  height: 40px;
}

.filter-hide__text {
  overflow: hidden;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.filter-hide__text span {
  display: block;
  font-weight: 600;
  font-size: 12px;
  padding-right: 35px;
  padding-left: 10px;
  min-width: 180px;
}

.filter-hide img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotateY(180deg);
  transform: translateY(-50%) rotateY(180deg);
  right: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.filter-checkbox
  > input:checked
  + .filter-checkbox__box
  .filter-checkbox__text {
  color: #fff;
}

.filter-checkbox.home-type
  > input:checked
  + .filter-checkbox__box
  .filter-checkbox__text {
  color: #099f79;
}

.filter-checkbox__text {
  font-weight: bold;
  font-size: 10px;
  line-height: 23px;
}

.filter-checkbox
  > input:checked
  + .filter-checkbox__box
  .filter-checkbox__text {
  color: #099f79;
}

@media (max-width: 1024px) {
  .filter {
    position: absolute;
    padding: 35px 36px 69px 47px;
    width: 369px;
    left: 0;
    top: 0;
    z-index: 110;
  }

  .mobile-filter__logo img {
    display: block;
    width: 135px;
    height: auto;
  }

  .filter__wrapper {
    padding-right: 10px;
  }

  .filter-field--first-second {
    margin-top: 20px;
  }
}
</style>
