<template>
  <div class="wrapper-slider">
    <button-green
      class="button button-green button-custom slick-arrow slick-prev"
      @click="slideMove(-1)"
    >
      <img class="dp-block" src="@/images/icons/long-arrow-left.svg" alt="" />
    </button-green>
    <div class="row-slider" :style="transform">
      <img
        @click="
          $emit('pictureClick', this.$props.fullPath + normalizeUrlImage(pic))
        "
        v-for="pic in this.$props.item.pics"
        :key="pic"
        :src="this.$props.fullPath + normalizeUrlImage(pic)"
        :alt="this.$props.fullname"
        :style="{ minWidth: `${width}px` }"
      />
    </div>
    <button-green
      class="button button-green button-custom slick-arrow slick-next"
      @click.passive="slideMove(1)"
      style=""
      ><img class="dp-block" src="@/images/icons/long-arrow-right.svg" alt=""
    /></button-green>
  </div>
</template>

<script>
export default {
  name: 'SliderComponent',
  props: ['item', 'fullPath'],
  data() {
    return {
      width: 0,
      sliderPos: 0,
    };
  },
  methods: {
    moveSlide() {
      if (this.pics > 1) {
        setInterval(() => {
          if (this.sliderPos < this.pics - 1) {
            this.sliderPos++;
          } else {
            this.sliderPos = 1;
          }
        }, 2500);
      }
    },

    slideMove(e, t) {
      if (this.pics > 1) {
        if (e > 0) {
          if (this.sliderPos < this.pics - 1) {
            this.sliderPos = this.sliderPos + e;
          }
        } else {
          if (this.sliderPos > 0) {
            this.sliderPos = this.sliderPos + e;
          }
        }
      }
    },

    normalizeUrlImage(i) {
      if (typeof i === 'number') {
        return `${i}.jpg`;
      } else {
        return i;
      }
    },

    widthSlider() {
      this.width = document.querySelector('.wrapper-slider').clientWidth;
    },
  },
  computed: {
    transform() {
      return `transform: translateX(-${this.sliderPos * this.width}px)`;
    },

    pics() {
      if (typeof this.$props.item.pics === 'undefined') {
        return 1;
      } else if (typeof this.$props.item.pics === 'number') {
        return this.$props.item.pics;
      } else {
        return this.$props.item.pics.length;
      }
    },
  },

  mounted() {
    this.widthSlider();
    window.addEventListener('resize', this.widthSlider);
    this.moveSlide();
  },
};
</script>

<style scoped>
.wrapper-slider {
  position: relative;
  /*height: 296px;*/
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
}

.row-slider {
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.4s linear;
}

.row-slider img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slick-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  max-width: 54px;
  width: 100%;
  height: 45px;
  border-radius: 0px 15px;
}

.slick-arrow img {
  margin: 0 auto;
}

.slick-next {
  left: unset;
  right: 0;
  border-radius: 15px 0px;
}
</style>
