<template>
  <div class="sort-wrapper">
    <span>{{$t("total-objects")}}: {{ totalObjects }}</span>

<!--
    <select-field
      text="Любой"
      :name="'typeloc'"
      :options="typeloc"
      :active="filters.typeloc"
      @activeOption="getData"
    ></select-field>
-->

    <div class="sort-block">
      <div class="sort-text" >Типы:</div>
      <select-field
        text="Любой"
        :name="'typeloc'"
        :options="typeloc"
        :active="filters.typeloc"
        style="margin-right: 2vh;"
        @activeOption="getData"
        
      ></select-field>

      <div class="sort-text" style="width: 24vh;">Сортировать по:</div>
      <select-field
        text="Любой"
        :name="'sort'"
        :options="sortedField"
        @activeOption="sortBy"
        
      ></select-field>
    </div>
  </div>
</template>

<script>
import store from '@/store';
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'SortComponent',
  data() {
    return {
      sortedField: [
        { name: this.$t("price-meter"), value: 'price' },
        { name: this.$t("square-meter"), value: 'square' },
        { name: this.$t("price-tenge"), value: 'cost' },
        { name: this.$t("level") + "ам", value: 'floor' },
      ],
    };
  },
  methods: {
    ...mapActions(['updateSort']),

    sortBy(e) {
      store.dispatch('updateSort', e);
    },

    getData(e) {
      this.$router.push({ params: e });
      store.dispatch('updateFilters', e);
    },
    typeFilter() {
      if (this.$route.path.indexOf('privat') === 1) {
        store.dispatch('updateFilters', { type: 0 });
      } else if (this.$route.path.indexOf('commercial') === 1) {
        store.dispatch('updateFilters', { type: 1 });
      } else if (this.$route.path.indexOf('second') === 1) {
        store.dispatch('updateFilters', { type: 2 });
      }
    },

    typelocFilter(e) {
      let typeloc = {
        typeloc: e.target.value,
      };
      this.getData(typeloc);
    },
  },

  computed: {
    ...mapGetters(['totalObjects']),

    typeloc() {
      if (this.$route.path.indexOf('privat') === 1) {
        return store.getters.typeloc.filter((el) => el.type == 0);
      }
      if (this.$route.path.indexOf('commercial') === 1) {
        return store.getters.typeloc.filter((el) => el.type == 1);
      }
      if (this.$route.path.indexOf('second') === 1) {
        return store.getters.typeloc.filter((el) => el.type == 2);
      }
      if (this.$route.path.indexOf('gk') === 1) {
        return store.getters.typeloc.filter((el) => el.type == 0);
      }
    },

    filters() {
      return { ...store.getters.filters };
    },
  },
};
</script>

<style scoped>
.sort-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sort-wrapper > .select {
  flex-basis: 30%;
}

.sort-block {
  flex-basis: 40%;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-text {
  margin-right: 10px;
}

.sort-block > .select {
  z-index: 20;
  width: unset;
  flex-basis: 50%;
}

@media (max-width: 768px) {
  .sort-wrapper > span {
    width: unset;
  }
  .sort-wrapper {
    flex-direction: column;
    align-items: flex-end;
  }

  .sort-wrapper > .select {
    width: 40%;
    flex-basis: unset;
    margin-bottom: 10px;
  }

  .sort-block {
    width: 80%;
  }
}

@media (max-width: 480px) {
}
</style>
