<script setup>
import { useI18n } from 'vue-i18n'

const { t, locale } = useI18n({ useScope: 'global' })

</script>
<template>
<div>
    <router-view></router-view>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import store from '@/store';

export default {
  methods: {
    ...mapActions(['getSize']),
  },
  mounted() {
    window.addEventListener('load', () => {
      if (window.innerWidth > 1024) {
        store.dispatch('getSize', 'desktop');
      } else if (window.innerWidth < 768) {
        store.dispatch('getSize', 'mobile');
      } else {
        store.dispatch('getSize', 'tablet');
      }
    });

    window.addEventListener('resize', () => {
      if (window.innerWidth > 1024) {
        store.dispatch('getSize', 'desktop');
      } else if (window.innerWidth < 768) {
        store.dispatch('getSize', 'mobile');
      } else {
        store.dispatch('getSize', 'tablet');
      }
    });
  },
};
</script>

<style>
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import '@/style/index.css';

* {
  font-family: 'Montserrat', sans-serif;
}
</style>
