<template>
  <button class="btn">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'ButtonGreen',
};
</script>

<style scoped>
.btn {
  background-color: #099f79;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  padding: 14px 10px 16px;
  border-radius: 30px;
  height: 45px;
  text-align: center;
  font-weight: 600;
  transition: all 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #fca82a;
}
</style>
