<template>
	<button class="btn">
		<slot></slot>
	</button>
</template>

<script>
	export default {
		name: 'ButtonWhite'
	}
</script>

<style scoped>
	.btn {
		background-color: #fff;
		color:#099f79;
		font-size: 12px;
		line-height: 15px;
		padding: 13px 33px;
		border-radius: 30px;
		height: 45px;
		text-align: center;
		font-weight: 600;
		transition: all 0.3s;
		outline: none;
		border: 2px solid #099f79;
		cursor: pointer;
	}
	.btn:hover, .btn:active {
		background-color: #099f79;
		color: #fff;
	}
</style>