<template>
	<button class="btn">
		<slot></slot>
	</button>
</template>

<script>
	export default {
		name: 'ButtonOrange'
	}
</script>

<style scoped>
	.btn {
		background-color: #fca82a;
		color: #fff;
		font-size: 12px;
		line-height: 15px;
		padding: 14px 10px 16px;
		border-radius: 30px;
		height: 45px;
		text-align: center;
		font-weight: 600;
		transition: all 1.6s ease 0s;
		outline: none;
		border: none;
		cursor: pointer;
		transition-delay: 0.5s;

	}
	.btn:hover, .btn:active {
		background-color: #099f79
	}
</style>