<template>
  <div class="slick-slide slick-current slick-active">
    <div class="object" style="display: inline-block">
      <div class="object__image">
        <div class="object__name">{{ item.title }}</div>
        <img class="dp-block" :src="item.img" alt="" />
      </div>
      <div class="object__info">
        <div class="object__address">
          <div class="object__address-icon">
            <img class="dp-block" src="@/images/icons/location.svg" alt="" />
          </div>
          <p class="object__address-text">
            {{ item.adress }}
          </p>
        </div>
        <div class="object__price">{{ item.price }}</div>
        <button-green v-if="item.type=='privat'"
          @click="$router.push({ name: 'gk',
          params: {
            id: item.gkid,
          }})">
        > {{$t("choose_this_residential")}} </button-green>
        <button-green v-else-if="item.type=='commercial' && item.gkid != 0"
                      @click="$router.push({ name: 'privat',
                      params: {
                        gkplace: item.gkid,
                        typeloc: 'Коммерческая (НП)',
                      }})"
        > {{$t("more")}} </button-green>
        <button-green v-else
          @click="$router.push({ name: 'objects', params: { id: item.href } })"
        > {{$t("more")}} </button-green>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CarouselItem',
  props: ['item'],
};
</script>

<style scoped>
.slick-slide {
  margin: 0 15px;
  width: 255px;
  height: unset;
}

.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  float: left;
  min-height: 1px;
}
.slick-slide .object {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.object {
  cursor: pointer;
  width: 255px;
  border-radius: 15px;
  overflow: hidden;
}

.object__image {
  position: relative;
}

.object__name {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px 0px;
  padding: 15px 20px;
  background-color: #fff;
  font-weight: bold;
}

.object__image > img {
  width: 100%;
  height: 163px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.slick-slide img {
  display: block;
}

.dp-block {
  display: block;
}

.object__info {
  padding: 16px 10px 25px;
  background-color: #fff;
}

.slick-slide .object__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.object__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.slick-slide img {
  display: block;
}

.object__address-text {
  padding-top: 3px;
  margin-left: 8px;
  color: #828282;
  font-size: 12px;
  line-height: 16px;
}

.slick-slide .object__price {
  margin-top: auto;
}
.object__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  margin-bottom: 22px;
}
</style>
