<template>
  <div class="pagination-wrapper">
    <div class="pagination-item prev" @click="paginationPrev">&lt;</div>
    <div class="pagination-content">
      <div class="row" :style="moveLeftStyle">
        <div
          class="pagination-item"
          v-for="page in total"
          :key="page"
          @click="activePage(page)"
          :class="active === page ? 'active' : ''"
        >
          {{ page }}
        </div>
      </div>
    </div>
    <div class="pagination-item next" @click="paginationNext">&gt;</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      moveLeftStyle: '',
    };
  },
  name: 'Pagination',
  props: ['total', 'active'],
  methods: {
    activePage(page) {
      this.movePagination();
      this.$emit('activePage', page);
      window.scrollTo(0, 0);
    },
    paginationPrev() {
      if (this.active > 1) {
        this.movePagination();
        this.$emit('activePage', this.active - 1);
        window.scrollTo(0, 0);
      }
    },
    paginationNext() {
      if (this.active < this.total) {
        //this.active = this.active + 1;
        this.movePagination();
        this.$emit('activePage', this.active + 1);
        window.scrollTo(0, 0);
      }
    },

    movePagination() {
      if (this.active > 4 && this.active < this.total - 4) {
        this.moveLeftStyle =
          'transform: translateX(-' + 32 * (this.active - 5) + 'px)';
      }
    },
  },
};
</script>

<style scoped>
.pagination-wrapper {
  display: flex;
  justify-content: center;
}

.pagination-content {
  max-width: 320px;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: start;
  transition: 0.3s linear;
}

.pagination-item {
  min-width: 32px;
  min-height: 32px;
  line-height: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.pagination-item:hover {
  background-color: #f5f5f5;
}
.active {
  color: #ffffff;
  background-color: #006d58;
}

.active:hover {
  background-color: #006d58;
}
</style>
