<template>
  <div class="select" @click="IsOptionsVisible = !IsOptionsVisible">
    <div class="select_label">
      <div class="select_options-text">{{ optionSelected }}</div>
    </div>
    <div class="select_options" v-if="IsOptionsVisible">
      <p
        v-for="option in options"
        :key="option.value"
        @click="selectOptions(option)"
      >
        {{ option.name }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SelectField',
  props: {
    options: {
      Type: Array,
      default: [],
    },
    text: {
      Type: String,
      default: '',
    },
    name: {
      Type: String,
      default: '',
    },
    active: {
      Type: String,
      default: '',
    },
  },
  data() {
    return {
      IsOptionsVisible: false,
      optionSelected: '',
      toggle: false,
    };
  },
  methods: {
    selectOptions(option) {
      let tmp = this.optionSelected;
      this.optionSelected = option.name;
      this.optionSelectedValue = option.value;
      //this.IsOptionsVisible = false;
      if (this.name === 'city') {
        this.$emit('activeOption', { city: this.optionSelected });
      } else if (this.name === 'typeloc') {
        this.$emit('activeOption', { typeloc: this.optionSelected });
      } else {
        if (tmp === this.optionSelected) {
          this.toggle = !this.toggle;
          this.$emit('activeOption', {
            value: this.optionSelectedValue,
            az: this.toggle,
            name: this.optionSelected,
          });
        } else {
          this.toggle = false;
          this.$emit('activeOption', {
            value: this.optionSelectedValue,
            az: this.toggle,
            name: this.optionSelected,
          });
        }
      }
      this.$props.text = this.optionSelected
    },
    hideSelect() {
      this.IsOptionsVisible = false;
    },

    getActiveOption() {
      if (
        this.$props.active &&
        this.$props.active != '' &&
        this.$props.active != '-1'
      ) {
        this.optionSelected = this.$props.active;
      } else {
        this.optionSelected = this.$props.text;
      }
    },
  },
  mounted() {
    this.getActiveOption();

    // document.addEventListener('click', this.hideSelect.bind(this), true);
  },

  beforeDestroy() {
    document.removeEventListener('click', this.hideSelect.bind);
  },
};
</script>

<style scoped>
.select {
  width: 100%;
  position: relative;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  line-height: 28px;
  color: #828282;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #fff;
  padding: 0px 20px;
  padding-right: 35px;
  transition: all 0.3s;
  border: 1px solid #dcdcdc;
  border-radius: 30px;
}
/* .select_label {
  width: 100%;
} */
.select_options {
  margin: 0;
  position: absolute;
  top: 50px;
  left: 0;
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
  margin-top: 5px;
  width: 100%;
  top: 100% !important;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  overflow: hidden;
  z-index: 20;
}
.select_options p {
  cursor: pointer;
  color: #828282;
  padding: 11px 20px;
  font-size: 12px;
  line-height: 28px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.select_options p:hover {
  background-color: #d6ece6;
}

.select::after {
  content: '';
  background-image: url(@/images/icons/black-arrow-down.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>
