<template>
  <div class="search">
    <ul class="tabs">
      <li
        class="tab"
        @click="selectTab(0)"
        :class="{ active: 0 == selectedIndex }"
      >
        {{$t("secondary_objects.apartments")}}
      </li>
      <li
        class="tab"
        @click="selectTab(1)"
        :class="{ active: 1 == selectedIndex }"
      >
        {{$t("real_estate")}}
      </li>
    </ul>

    <div nav-item-class="nav-item" class="tabs-content">
      <div v-if="selectedIndex == 0">
        <div class="tab-item">
          <div class="search__radio-btns">
            <input type="hidden" name="filter-type" value="on" checked="" />
            <input
              type="hidden"
              name="filter-home-type"
              value="{{$t('secondary_objects.apartments')}}"
              checked=""
            />
          </div>
          <select-field
            :options="residences"
            :text="residenceLabel"
            @activeOption="getActiveResidence"
          ></select-field>
          <select-field
            :options="rooms"
            :text="roomLabel"
            class="rooms"
            @activeOption="getActiveRooms"
          ></select-field>
          <input
            class="square"
            type="text"
            :placeholder="$t('square')"
            v-model="square"
          />
          <button-green
            class="button-search"
            @click="
              $router.push({
                name: 'privat',
                params: {
                  gkplace: activeResidence,
                  rooms: activeRoom,
                  square: square,
                },
              })
            "
          >
            <img
              class="button-search_text"
              src="@/images/icons/magnify.svg"
              alt=""
            />
            <span v-if="sizeScreen == 'mobile'">Начать поиск</span>
          </button-green>
        </div>
      </div>
      <div v-else-if="selectedIndex == 1">
        <div class="tab-item">
          <select-field
            :options="city"
            :text="cityLabel"
            @activeOption="selectedCity"
          ></select-field>
          <select-field
            :options="typeloc"
            :text="commercialLabel"
            class="commercial-types"
            @activeOption="selectedTypeloc"
          ></select-field>
          <input
            type="number"
            class="price"
            placeholder="Макс. стоимость, до тенге"
            v-model="maxCost"
          />
          <button-green
            class="button-search"
            @click="
              $router.push({
                name: 'commercial',
                params: {
                  city: activeCity,
                  typeloc: activeTypeloc,
                  cost: maxCost,
                },
              })
            "
          >
            <img
              class="button-search_text"
              src="@/images/icons/magnify.svg"
              alt=""
            />
            <span v-if="sizeScreen == 'mobile'">Начать поиск</span>
          </button-green>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InputField from './InputField.vue';
import { mapGetters, mapActions } from 'vuex';
import store from '@/store';

export default {
  components: { InputField },
  name: 'TabsComponent',
  data() {
    return {
      residences: [
        { name: this.$t('commercial_objects.any'), value: '-1' },
        { name: this.$t('resident_objects.shakhristan'), value: '10' },
        { name: this.$t('resident_objects.miras'), value: '11' },
        { name: this.$t('resident_objects.dostyk'), value: '12' },
        { name: this.$t('resident_objects.esentai_apartments'), value: '15' },
        { name: this.$t('resident_objects.nauai'), value: '16' },
        { name: this.$t('resident_objects.nauryz'), value: '54' },
        { name: this.$t('resident_objects.han_tengri'), value: '67' },
        { name: this.$t('resident_objects.esentai_city'), value: '153' },
      ],
      residenceLabel: this.$t('select_gk'),
      rooms: [
        { name: '1 комн.', value: '1' },
        { name: '2 комн.', value: '2' },
        { name: '3 комн.', value: '3' },
        { name: '4 комн.', value: '4' },
        { name: '5+ комн.', value: '5' },
      ],
      roomLabel: this.$t("room_number") ,

      cityLabel: this.$t("city"),

      commercialLabel: this.$t("type") ,
      selectedIndex: 0, // the index of the selected tab,
      square: "",
      activeResidence: -1,
      activeRoom: 0,
      activeCity: -1,
      activeTypeloc: -1,
      maxCost: "",
    };
  },
  mounted() {
    this.selectTab(0);
    store.dispatch('fetchAllTypesLoc');
  },
  methods: {
    ...mapActions(['fetchAllTypesLoc']),
    selectTab(i) {
      this.selectedIndex = i;
    },
    getActiveResidence(e) {
      this.activeResidence = +e.value;
    },
    getActiveRooms(e) {
      this.activeRoom = +e.value;
    },
    selectedCity(e) {
      this.activeCity = e.name;
    },
    selectedTypeloc(e) {
      this.activeTypeloc = e.name;
    },
  },
  computed: {
    ...mapGetters(['sizeScreen', 'city', 'maxCostValue']),
    typeloc() {
      return store.getters.typeloc.filter((el) => el.type == 1);
    },
  },
};
</script>

<style scoped>
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs .tab {
  cursor: pointer;
  max-width: 160px;
  width: 100%;
  height: 45px;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #828282;
  letter-spacing: 0.02em;
  border-radius: 20px 20px 0px 0px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.tabs .tab.active {
  color: #ffffff;
  background-color: #099f79;
}

.tabs .tab {
  cursor: pointer;
  max-width: 160px;
  width: 100%;
  height: 45px;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #828282;
  letter-spacing: 0.02em;
  border-radius: 20px 20px 0px 0px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.tabs-content {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgb(156 156 156 / 25%);
  box-shadow: 0px 4px 4px rgb(156 156 156 / 25%);
  border-radius: 0px 20px 20px 20px;
  padding: 20px 30px 24px 20px;
}

.tab-item {
  display: none;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search__radio-btns {
  margin-right: 28px;
  display: block;
}
.search__radio-btns .fake-checkbox {
  display: block;
  cursor: pointer;
}

.search__radio-btns .fake-checkbox + .fake-checkbox {
  margin-top: 4px;
}

.fake-checkbox > input {
  display: none;
}

.fake-checkbox__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.fake-checkbox__circle {
  width: 20px;
  height: 20px;
  border: 2px solid #099f79;
  border-radius: 50%;
  position: relative;
}

.fake-checkbox
  > input:checked
  + .fake-checkbox__content
  .fake-checkbox__circle::after {
  opacity: 1;
}
.fake-checkbox__circle::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #099f79;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.fake-checkbox__text {
  margin-left: 8px;
  font-size: 12px;
  line-height: 14px;
}

.rooms {
  margin-left: 20px;
}
.square,
.price {
  max-width: 163px;
  width: 100%;
  background-color: #fff;
  height: 50px;
  border: 1px solid #dcdcdc;
  border-radius: 30px;
  padding: 0px 20px;
  font-size: 12px;
  line-height: 28px;
  margin-left: 20px;
}

.price {
  max-width: unset;
}
.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: unset;
  margin-left: 20px;
  max-width: unset;
  min-width: 46px;
  height: 46px;
  border-radius: 15px !important;
}

.button-search-text {
  margin: 0 auto;
}

.search__link {
  margin-left: 20px;
}

.search__link {
  color: #828282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__link svg {
  margin-right: 9px;
}
.search__link span {
  white-space: nowrap;
}

.commercial-types {
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .search__link {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: 28px;
  }

  .search__form .sibling-margin + .sibling-margin {
    margin-left: 8px;
  }

  .search .tab-item {
    padding-top: 40px;
    position: relative;
  }

  .search__radio-btns {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .search__radio-btns .fake-checkbox + .fake-checkbox {
    margin-top: 0;
    margin-left: 24px;
  }
}

@media (max-width: 768px) {
  .tab-item {
    padding-bottom: 51px;
  }

  .tab-item {
    padding-top: 34px;
    position: relative;
    flex-wrap: wrap;
  }

  .search__form .select,
  .search__form .search__btn,
  .search__form .search__s {
    max-width: 100%;
    width: 100%;
  }

  .rooms,
  .commercial-types {
    margin-left: 0;
  }

  .square,
  .price {
    min-width: 100%;
    margin-left: 0;
  }

  .select,
  .square,
  .btn,
  .price {
    margin-top: 16px;
  }

  .btn {
    width: 100%;
    margin-left: 0;
  }

  .search__link {
    margin-top: 0 !important;
    bottom: 0;
    left: 50%;
    right: unset;
    top: unset;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
</style>
