<template>
  <textarea class="input"> </textarea>
</template>

<script>
export default {
  name: 'TextareaField',
};
</script>

<style scoped>
textarea {
  min-height: 82px;
  resize: none;
  overflow: auto;
}

.input {
  outline: unset;
  background-color: #f0f7f5;
  border: 2px solid #f0f7f5;
  border-radius: 30px;
  height: 45px;
  padding: 0 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 12px;
  line-height: 28px;
  color: #333;
}

textarea.input {
  display: block;
  padding: 10px 20px;
}
</style>
