<template>
  <section class="objects">
    <div class="container anim-items anim-no-hide _active">
      <div class="title-yel-center anim-show">
        {{$t("hot_deals.first")}} <span>{{$t("hot_deals.second")}}</span>
      </div>
      <div class="switcher anim-show anim-with-delay">
        <div class="switcher__item" :class="{ on: toggle }">
          {{$t("residential_complex")}}
        </div>
        <div class="switcher__btn" @click="switchToggle">
          <span class="switcher_dot" :class="{ 'first-off': toggle }"></span>
        </div>
        <div class="switcher__item" :class="{ on: !toggle }">
          {{$t("real_estate")}}
        </div>
      </div>
      <carousel-component v-show="toggle" type="privat"
      >Квартиры</carousel-component
      >
      <carousel-component v-show="!toggle" type="commercial"
      >Офисы</carousel-component
      >
    </div>
  </section>
</template>

<script>
export default {
  name: 'TopObjectsComponent',
  data() {
    return {
      toggle: true,
      slides: [],
    };
  },
  methods: {
    switchToggle() {
      this.toggle = !this.toggle;
    },
  },
};
</script>

<style scoped>
.objects {
  padding: 42px 0 128px;
  background-color: #ededed;
  margin-bottom: 70px;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
.title-yel-center {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: #099f79;
  margin-bottom: 50px;
  position: relative;
}
.title-yel-center span {
  color: #fca82a;
}
.switcher {
  max-width: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
}
.switcher__item.on {
  background-color: #099f79;
  color: #fff;
}
.switcher__item:first-of-type {
  border-radius: 30px 0 0 30px;
}
.switcher__item {
  width: 50%;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
  padding: 5px 23px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #099f79;
}
.switcher__item:last-of-type {
  padding-left: 28px;
  border-radius: 0 30px 30px 0;
}
.switcher__btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  -webkit-box-shadow: 4px 4px 15px rgba(58, 117, 102, 0.2);
  box-shadow: 4px 4px 15px rgba(58, 117, 102, 0.2);
  border-radius: 99px;
}
.switcher_dot {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #099f79;
  top: 50%;
  -ms-transform: translateY(50%) translateX(20px);
  transform: translateY(-50%) translateX(20px);
  left: 3px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
.objects__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.objects__slider .slick-arrow {
  position: absolute;
  max-width: 54px;
  width: 100%;
  height: 45px;
  border-radius: 30px 0px 0px 30px;
  left: -80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 13px 33px;
  font-size: 1.4vh;
  line-height: 17px;
  font-weight: 600;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 45px;
  text-align: center;
}
.button.button-green {
  background-color: #099f79;
  color: #fff;
}
.button.button-custom {
  padding: unset;
  border-radius: unset;
}
button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

.first-off {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>
